*,*:before,*:after {
	box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, a {
	margin: 0;
	padding: 0;
	overflow-x:hidden;
}

body {
	margin: 0 auto;
 	background: #303030;
}

.container {
	width: 100%;
	max-width: 1520px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: 1520px;
	width: 100%;
	background-color: #303030;
}

.header-logo {
	width: 100%;
	max-width: 1520px;
}

.header-title {
	width: 100%;
	margin: 80px auto 0 auto;
    font-family: 'Playfair Display SC', serif;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	color: #b69b67;
	position: relative;
	width: 400px;
    font-size: 60px;
	}

.header-title:before {
	content: "";
	width: 100%;
	height: 1px;
	max-width: 400px;
	position: absolute;
	background-color: #b69b67;
	margin-top: 8px;
}

.header-subtitle {
	width: 100%;
	max-width: 1520px;
	display: block;
	color: #b4b4b4;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    padding-left: 395px;
	text-transform: uppercase;
}

.header-img {
	display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1520px;
}

.hidden {
	width: 4.3em;
	opacity: 0;
}

.lamp-logo {
	width: 100%;
	max-width: 474px;
	text-align: center;
	height: 100%;
	max-height: 391px;

}

.bars {
	align-self: center;
	display: block;
	float: right;
	width: 82px;
	height: 82px;
	border: 1px solid #454545;
	cursor: pointer;
	margin-bottom: 160px;
	transition: border-color .2s linear;
}
.bars:hover {
	border-color: #b69b67;
}
.bars:hover .bar1 {
	background-color: #b69b67;
}
.bars:hover .bar2 {
	background-color: #b69b67;
}
.bars:hover .bar3 {
	background-color: #b69b67;
}

.bar1, .bar2, .bar3 {
	display: block;
  	margin: 18px auto;
  	width: 52px;
  	height: 2px;
  	background-color: #9c9c9c;
  	transition: background-color .2s linear;

}


/*.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
*/

.text-under-lamp {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 60px;
	text-transform: uppercase;
	display: block;
	width: 100%;
	text-align: center;
	background: radial-gradient(at top, #D8B57B 60%, #454545 40%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	margin-bottom: 165px;
}


.scroll {
  display:flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
}

.scrollDownButton {
	max-width: 400px;
	width: 100%;
	cursor: pointer;
}

.scrollDownButton:hover .arrowDown{
	background-color: #b69b67;
	color: #b69b67;
	cursor: pointer;
}

.scrollDownButton:hover .scrollDownText{
	color: #b69b67;
	cursor: pointer;
}

.scrollDownText {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	color: #505050;
	width: 100%;
	margin-bottom: 15px;
	transition: color .2s linear;
	max-width: 400px;
}


.arrowDown {
	width: 100%;
	display: block;
	text-align: center;
	margin: 0 auto;
	max-width: 46px;
	backgroud-color: #505050;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	transition: background-color .2s linear;
}















@media screen and (max-width: 1024px) {
.header-title {
	margin: 80px auto 0 auto;
    font-family: 'Playfair Display SC', serif;
	font-weight: 400;
	text-transform: uppercase;
	text-align: middle;
	color: #b69b67;
	position: relative;
    font-size: 40px;
    width: 100%;
	}
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
.header-title:before {
	content: "";
	height: 1px;
	width: 100%;
	max-width: 268px;
	position: absolute;
	background-color: #b69b67;
	margin-top: 6px;
	}

.text-under-lamp {
	font-size: 40px;
}
}

@media screen and (max-width: 1024px) {
.header-subtitle {
	display: block;
	color: #b4b4b4;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    padding-left: 260px;
	text-transform: uppercase;
	width: 100%;
	padding-left: 250px;
	margin-left: -10px;
	}
}
