@font-face {
	font-family: "Gilroy";
	src: url("../fonts/GilroyLight.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family:"Gilroy";src:url("../fonts/GilroyRegular.woff2") format("woff2");font-weight:400;font-style:normal;font-display:swap;
}

@font-face {
	font-family:"Gilroy";src:url("../fonts/GilroyMedium.woff2") format("woff2");font-weight:500;font-style:normal;font-display:swap;
}

@font-face {
	font-family:"Gilroy";src:url("../fonts/GilroySemibold.woff2") format("woff2");font-weight:600;font-style:normal;font-display:swap;
}

@font-face {
	font-family:"Gilroy";src:url("../fonts/GilroyBold.woff2") format("woff2");font-weight:700;font-style:normal;font-display:swap;
}

*,:after,:before {
	margin: 0;
	padding: 0;
	outline: none;
}

::selection {
	background-color: #6FB0DC;
	color: #fff;
}

a,button,img {
	user-select: none;
}

body,html {
	cursor: default;
	background-color: #F8F9FC;
	color: #323441;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: 600;
	overflow-x: hidden;
	letter-spacing: 0.25px;
	font-family: "Gilroy",sans-serif;
}

.container {
	max-width: 1196px;
	width: auto;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	height: inherit;
}

.title {
	font-weight: bold;
	font-size: 32px;
	color: #060607;
	max-width: 75%;
}

.subtitle {
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	margin-top: 32px;
	margin-bottom: 24px;
}

.percent {
	font-weight: 500;
	font-size: 12px;
}

.progress progress[value="0"]~.progress_bg .progress_bar {
	width: 0%;
}

.progress progress[value="1"]~.progress_bg .progress_bar {
	width: 1%;
}

.progress progress[value="2"]~.progress_bg .progress_bar {
	width: 2%;
}

.progress progress[value="3"]~.progress_bg .progress_bar {
	width: 3%;
}

.progress progress[value="4"]~.progress_bg .progress_bar {
	width: 4%;
}

.progress progress[value="5"]~.progress_bg .progress_bar {
	width: 5%;
}

.progress progress[value="6"]~.progress_bg .progress_bar {
	width: 6%;
}

.progress progress[value="7"]~.progress_bg .progress_bar {
	width: 7%;
}

.progress progress[value="8"]~.progress_bg .progress_bar {
	width: 8%;
}

.progress progress[value="9"]~.progress_bg .progress_bar {
	width: 9%;
}

.progress progress[value="10"]~.progress_bg .progress_bar {
	width: 10%;
}

.progress progress[value="11"]~.progress_bg .progress_bar {
	width: 11%;
}

.progress progress[value="12"]~.progress_bg .progress_bar {
	width: 12%;
}

.progress progress[value="13"]~.progress_bg .progress_bar {
	width: 13%;
}

.progress progress[value="14"]~.progress_bg .progress_bar {
	width: 14%;
}

.progress progress[value="15"]~.progress_bg .progress_bar {
	width: 15%;
}

.progress progress[value="16"]~.progress_bg .progress_bar {
	width: 16%;
}

.progress progress[value="17"]~.progress_bg .progress_bar {
	width: 17%;
}

.progress progress[value="18"]~.progress_bg .progress_bar {
	width: 18%;
}

.progress progress[value="19"]~.progress_bg .progress_bar {
	width: 19%;
}

.progress progress[value="20"]~.progress_bg .progress_bar {
	width: 20%;
}

.progress progress[value="21"]~.progress_bg .progress_bar {
	width: 21%;
}

.progress progress[value="22"]~.progress_bg .progress_bar {
	width: 22%;
}

.progress progress[value="23"]~.progress_bg .progress_bar {
	width: 23%;
}

.progress progress[value="24"]~.progress_bg .progress_bar {
	width: 24%;
}

.progress progress[value="25"]~.progress_bg .progress_bar {
	width: 25%;
}

.progress progress[value="26"]~.progress_bg .progress_bar {
	width: 26%;
}

.progress progress[value="27"]~.progress_bg .progress_bar {
	width: 27%;
}

.progress progress[value="28"]~.progress_bg .progress_bar {
	width: 28%;
}

.progress progress[value="29"]~.progress_bg .progress_bar {
	width: 29%;
}

.progress progress[value="30"]~.progress_bg .progress_bar {
	width: 30%;
}

.progress progress[value="31"]~.progress_bg .progress_bar {
	width: 31%;
}

.progress progress[value="32"]~.progress_bg .progress_bar {
	width: 32%;
}

.progress progress[value="33"]~.progress_bg .progress_bar {
	width: 33%;
}

.progress progress[value="34"]~.progress_bg .progress_bar {
	width: 34%;
}

.progress progress[value="35"]~.progress_bg .progress_bar {
	width: 35%;
}

.progress progress[value="36"]~.progress_bg .progress_bar {
	width: 36%;
}

.progress progress[value="37"]~.progress_bg .progress_bar {
	width: 37%;
}

.progress progress[value="38"]~.progress_bg .progress_bar {
	width: 38%;
}

.progress progress[value="39"]~.progress_bg .progress_bar {
	width: 39%;
}

.progress progress[value="40"]~.progress_bg .progress_bar {
	width: 40%;
}

.progress progress[value="41"]~.progress_bg .progress_bar {
	width: 41%;
}

.progress progress[value="42"]~.progress_bg .progress_bar {
	width: 42%;
}

.progress progress[value="43"]~.progress_bg .progress_bar {
	width: 43%;
}

.progress progress[value="44"]~.progress_bg .progress_bar {
	width: 44%;
}

.progress progress[value="45"]~.progress_bg .progress_bar {
	width: 45%;
}

.progress progress[value="46"]~.progress_bg .progress_bar {
	width: 46%;
}

.progress progress[value="47"]~.progress_bg .progress_bar {
	width: 47%;
}

.progress progress[value="48"]~.progress_bg .progress_bar {
	width: 48%;
}

.progress progress[value="49"]~.progress_bg .progress_bar {
	width: 49%;
}

.progress progress[value="50"]~.progress_bg .progress_bar {
	width: 50%;
}

.progress progress[value="51"]~.progress_bg .progress_bar {
	width: 51%;
}

.progress progress[value="52"]~.progress_bg .progress_bar {
	width: 52%;
}

.progress progress[value="53"]~.progress_bg .progress_bar {
	width: 53%;
}

.progress progress[value="54"]~.progress_bg .progress_bar {
	width: 54%;
}

.progress progress[value="55"]~.progress_bg .progress_bar {
	width: 55%;
}

.progress progress[value="56"]~.progress_bg .progress_bar {
	width: 56%;
}

.progress progress[value="57"]~.progress_bg .progress_bar {
	width: 57%;
}

.progress progress[value="58"]~.progress_bg .progress_bar {
	width: 58%;
}

.progress progress[value="59"]~.progress_bg .progress_bar {
	width: 59%;
}

.progress progress[value="60"]~.progress_bg .progress_bar {
	width: 60%;
}

.progress progress[value="61"]~.progress_bg .progress_bar {
	width: 61%;
}

.progress progress[value="62"]~.progress_bg .progress_bar {
	width: 62%;
}

.progress progress[value="63"]~.progress_bg .progress_bar {
	width: 63%;
}

.progress progress[value="64"]~.progress_bg .progress_bar {
	width: 64%;
}

.progress progress[value="65"]~.progress_bg .progress_bar {
	width: 65%;
}

.progress progress[value="66"]~.progress_bg .progress_bar {
	width: 66%;
}

.progress progress[value="67"]~.progress_bg .progress_bar {
	width: 67%;
}

.progress progress[value="68"]~.progress_bg .progress_bar {
	width: 68%;
}

.progress progress[value="69"]~.progress_bg .progress_bar {
	width: 69%;
}

.progress progress[value="70"]~.progress_bg .progress_bar {
	width: 70%;
}

.progress progress[value="71"]~.progress_bg .progress_bar {
	width: 71%;
}

.progress progress[value="72"]~.progress_bg .progress_bar {
	width: 72%;
}

.progress progress[value="73"]~.progress_bg .progress_bar {
	width: 73%;
}

.progress progress[value="74"]~.progress_bg .progress_bar {
	width: 74%;
}

.progress progress[value="75"]~.progress_bg .progress_bar {
	width: 75%;
}

.progress progress[value="76"]~.progress_bg .progress_bar {
	width: 76%;
}

.progress progress[value="77"]~.progress_bg .progress_bar {
	width: 77%;
}

.progress progress[value="78"]~.progress_bg .progress_bar {
	width: 78%;
}

.progress progress[value="79"]~.progress_bg .progress_bar {
	width: 79%;
}

.progress progress[value="80"]~.progress_bg .progress_bar {
	width: 80%;
}

.progress progress[value="81"]~.progress_bg .progress_bar {
	width: 81%;
}

.progress progress[value="82"]~.progress_bg .progress_bar {
	width: 82%;
}

.progress progress[value="83"]~.progress_bg .progress_bar {
	width: 83%;
}

.progress progress[value="84"]~.progress_bg .progress_bar {
	width: 84%;
}

.progress progress[value="85"]~.progress_bg .progress_bar {
	width: 85%;
}

.progress progress[value="86"]~.progress_bg .progress_bar {
	width: 86%;
}

.progress progress[value="87"]~.progress_bg .progress_bar {
	width: 87%;
}

.progress progress[value="88"]~.progress_bg .progress_bar {
	width: 88%;
}

.progress progress[value="89"]~.progress_bg .progress_bar {
	width: 89%;
}

.progress progress[value="90"]~.progress_bg .progress_bar {
	width: 90%;
}

.progress progress[value="91"]~.progress_bg .progress_bar {
	width: 91%;
}

.progress progress[value="92"]~.progress_bg .progress_bar {
	width: 92%;
}

.progress progress[value="93"]~.progress_bg .progress_bar {
	width: 93%;
}

.progress progress[value="94"]~.progress_bg .progress_bar {
	width: 94%;
}

.progress progress[value="95"]~.progress_bg .progress_bar {
	width: 95%;
}

.progress progress[value="96"]~.progress_bg .progress_bar {
	width: 96%;
}

.progress progress[value="97"]~.progress_bg .progress_bar {
	width: 97%;
}

.progress progress[value="98"]~.progress_bg .progress_bar {
	width: 98%;
}

.progress progress[value="99"]~.progress_bg .progress_bar {
	width: 99%;
}

.progress progress[value="100"]~.progress_bg .progress_bar {
	width: 100%;
}

input[type=checkbox] {
	position: relative;
	width: 100%;
	max-width: 16px;
	min-width: 16px;
	height: 16px;
	color: #060607;
	border: 2px solid #979797;
	border-radius: 1px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: 0;
	cursor: pointer;
}

input[type=checkbox]:before {
	position: absolute;
	content: "";
	display: block;
	top: 0.5px;
	left: 4px;
	width: 2.5px;
	height: 7px;
	border-style: solid;
	border-color: #3B8378;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
	transition: all 0.1s ease;
}

input[type=checkbox]:checked {
	color: #fff;
	border-color: #3B8378;
	background: #fff;
}

input[type=checkbox]:checked:before {
	opacity: 1;
}

input[type=radio] {
	position: relative;
	width: 100%;
	max-width: 16px;
	min-width: 16px;
	height: 16px;
	color: #060607;
	border: 2px solid #979797;
	border-radius: 100%;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: 0;
	cursor: pointer;
}

input[type=radio]:before {
	position: absolute;
	content: "";
	display: block;
	top: 2px;
	left: 2px;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	border-color: #3B8378;
	background-color: #3B8378;
	transform: rotate(45deg);
	opacity: 0;
	transition: all 0.1s ease;
}

input[type=radio]:checked {
	color: #fff;
	border-color: #3B8378;
	background: #fff;
}

input[type=radio]:checked:before {
	opacity: 1;
}

.label-checkbox {
	position: relative;
	cursor: pointer;
	user-select: none;
	font-size: 12px;
	color: #060607;
	font-weight: 500;
	width: max-content;
	margin-left: 12px;
}

.progress {
	overflow: hidden;
	position: relative;
	box-shadow: inset 0px 1px 4px rgba(134,140,144,0.2);
	height: 16px;
	margin: 18px 0;
	border-radius: 100px;
	z-index: 1;
}

.progress progress {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	left: -7777px;
}

.progress_bg {
	position: relative;
	height: 16px;
	border-radius: 5px;
	overflow: hidden;
}

.progress_bar {
	overflow: hidden;
	max-width: 100%;
	background-color: #3B8378;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
}

.checkmark {
	position: relative;
}

.checkmark:before {
	position: absolute;
	right: -24px;
	margin-top: 4px;
	content: "";
	top: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../imgs/mark.svg");
	width: 12px;
	height: 12px;
}

.button_green {
	user-select: none;
	overflow: hidden;
	position: relative;
	display: inline-block;
	border-radius: 100px;
	cursor: pointer;
}

.green_button_circle {
	background-color: #3B8378;
	border-radius: 1000px;
	position: absolute;
	left: 0;
	top: 0;
	width: 0px;
	height: 0px;
	margin-left: 0px;
	margin-top: 0px;
	pointer-events: none;
}

.button_green_inner {
	display: inline-block;
	background: #3B8378;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	border-radius: 100px;
	transition: 400ms;
	text-decoration: none;
	padding: 19px 46px;
	z-index: 100000;
}

.button_text_container {
	position: relative;
	z-index: 10000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.25px;
}

.button_text_container img {
	margin-right: 10px;
}

.explode-circle {
	animation: explode 0.5s forwards;
}

.desplode-circle {
	animation: desplode 0.5s forwards;
}

@keyframes explode {
	0% {
		width: 0px;
		height: 0px;
		margin-left: 0px;
		margin-top: 0px;
		background-color: #3B8378;
	}

	to {
		width: 500px;
		height: 500px;
		margin-left: -250px;
		margin-top: -200px;
		background-color: #323441;
	}
}

@keyframes desplode {
	0% {
		width: 400px;
		height: 400px;
		margin-left: -200px;
		margin-top: -200px;
		background-color: #323441;
	}

	to {
		width: 0px;
		height: 0px;
		margin-left: 0px;
		margin-top: 0px;
		background-color: #3B8378;
	}
}

.button_white {
	user-select: none;
	overflow: hidden;
	position: relative;
	display: inline-block;
	border-radius: 100px;
	box-shadow: 0px 2px 8px rgba(134,140,144,0.05);
	color: #323441;
	cursor: pointer;
}

.button-img {
	transition: all 0.3s ease;
}

.white_button_circle {
	background-color: #fff;
	border-radius: 1000px;
	position: absolute;
	left: 0;
	top: 0;
	width: 0px;
	height: 0px;
	margin-left: 0px;
	margin-top: 0px;
	pointer-events: none;
}

.button_white_inner {
	display: inline-block;
	background: #fff;
	color: #323441;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	border-radius: 100px;
	transition: 400ms;
	text-decoration: none;
	padding: 19px 46px;
	transition: color 0.3s ease;
	z-index: 100000;
}

.button_white_inner:hover {
	color: #fff;
}

.button_white_inner:hover .button-img {
	filter: invert(100%) sepia(62%) saturate(0%) hue-rotate(208deg) brightness(108%) contrast(101%);
}

.button_text_container {
	position: relative;
	user-select: none;
	z-index: 10000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.25px;
}

.button_text_container img {
	margin-right: 10px;
}

.explode-circle-w {
	animation: explode-w 0.8s forwards;
}

.desplode-circle-w {
	animation: desplode-w 0.5s forwards;
}

@keyframes explode-w {
	0% {
		width: 0px;
		height: 0px;
		margin-left: 0px;
		margin-top: 0px;
		background-color: #fff;
	}

	to {
		width: 600px;
		height: 600px;
		margin-left: -300px;
		margin-top: -250px;
		background-color: #3B8378;
	}
}

@keyframes desplode-w {
	0% {
		width: 400px;
		height: 400px;
		margin-left: -200px;
		margin-top: -200px;
		background-color: #3B8378;
	}

	to {
		width: 0px;
		height: 0px;
		margin-left: 0px;
		margin-top: 0px;
		background-color: #fff;
	}
}

.button {
	background: #F8F9FC;
	border: 1px solid #F2F2F2;
	padding: 8px 24px;
	font-family: inherit;
	font-size: 12px;
	font-weight: 500;
	color: #323441;
	border-radius: 4px;
	transition: all 0.3s ease;
}

.button:hover {
	cursor: pointer;
}

.button_left-btn {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.button_right-btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

button {
	border: 0;
	font-family: "Gilroy",Arial,sans-serif;
}

button:hover {
	cursor: pointer;
}

input,textarea {
	font-family: "Gilroy",Arial,sans-serif;
}

.selected {
	color: #979797!important;
}

.flex {
	display: flex;
}

.activated {
	display: flex!important;
}

.button_lb {
	overflow: hidden;
	position: relative;
	display: inline-block;
	border-radius: 100px;
	box-shadow: 0px 2px 8px rgba(134,140,144,0.05);
	color: #fff;
	user-select: none;
	background: rgba(248,249,252,0.2);
	cursor: pointer;
	margin-left: 24px;
	margin-top: 14px;
}

.lb_button_circle {
	border-radius: 1000px;
	position: absolute;
	left: 0;
	top: 0;
	width: 0px;
	height: 0px;
	margin-left: 0px;
	margin-top: 0px;
	pointer-events: none;
}

.button_lb_inner {
	display: inline-block;
	background: rgba(248,249,252,0.2);
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	border-radius: 100px;
	transition: 400ms;
	text-decoration: none;
	padding: 11px 0;
	margin: 0 auto;
	width: 110px;
	transition: color 0.3s ease;
	z-index: 100000;
}

.button_lb_inner:hover {
	color: #323441;
}

.lb_button_text_container {
	position: relative;
	z-index: 10000;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.25px;
}

.explode-circle-lb {
	animation: explode-lb 0.8s forwards;
}

.desplode-circle-lb {
	animation: desplode-lb 0.5s forwards;
}

@keyframes explode-lb {
	0% {
		width: 0px;
		height: 0px;
		margin-left: 0px;
		margin-top: 0px;
		background-color: rgba(248,249,252,0.2);
	}

	to {
		width: 600px;
		height: 600px;
		margin-left: -300px;
		margin-top: -250px;
		background-color: #fff;
	}
}

@keyframes desplode-lb {
	0% {
		width: 400px;
		height: 400px;
		margin-left: -200px;
		margin-top: -200px;
		background-color: #fff;
	}

	to {
		width: 0px;
		height: 0px;
		margin-left: 0px;
		margin-top: 0px;
		background-color: rgba(248,249,252,0.2);
	}
}

.button_rb {
	overflow: hidden;
	position: relative;
	display: inline-block;
	border-radius: 100px;
	box-shadow: 0px 2px 8px rgba(134,140,144,0.05);
	color: #fff;
	cursor: pointer;
	margin-right: 24px;
	margin-top: 14px;
}

.rb_button_circle {
	border-radius: 1000px;
	position: absolute;
	left: 0;
	top: 0;
	width: 0px;
	height: 0px;
	margin-left: 0px;
	margin-top: 0px;
	pointer-events: none;
}

.button_rb_inner {
	display: inline-block;
	background: #fff;
	color: #3B8378;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	border-radius: 100px;
	transition: 400ms;
	text-decoration: none;
	padding: 11px 0;
	margin: 0 auto;
	width: 110px;
	transition: color 0.3s ease;
	z-index: 100000;
}

.button_rb_inner:hover {
	color: #fff;
}

.rb_button_text_container {
	position: relative;
	z-index: 10000;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.25px;
}

.explode-circle-rb {
	animation: explode-rb 0.8s forwards;
}

.desplode-circle-rb {
	animation: desplode-rb 0.5s forwards;
}

@keyframes explode-rb {
	0% {
		width: 0px;
		height: 0px;
		margin-left: 0px;
		margin-top: 0px;
		background-color: #fff;
	}

	to {
		width: 600px;
		height: 600px;
		margin-left: -300px;
		margin-top: -250px;
		background-color: #323441;
	}
}

@keyframes desplode-rb {
	0% {
		width: 400px;
		height: 400px;
		margin-left: -200px;
		margin-top: -200px;
		background-color: #323441;
	}

	to {
		width: 0px;
		height: 0px;
		margin-left: 0px;
		margin-top: 0px;
		background-color: #fff;
	}
}

@media screen and (max-width:600px) {
	.button_green,.button_white {
		width: 230px;
		display: block;
		margin: 12px auto!important;
	}

	.button_green_inner {
		padding: 14px 28px;
		display: block;
	}

	.button_white_inner {
		padding: 14px 28px;
		display: block;
	}

	.button_text_container {
		justify-content: center;
	}
}

@media screen and (max-width:500px) {
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}

	.label-checkbox {
		width: auto;
	}

	.title {
		font-size: 24px;
	}
}

.header {
	background-color: #5BA4D7;
	height: 80px;
	width: 100%;
}

.header__popup {
	display: none;
}

.header__burger {
	display: none;
}

.header__inner {
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: space-between;
}

.header__subscription {
	display: flex;
	flex-direction: column;
}

.header__subscription_title {
	font-weight: 700;
	color: #fff;
	padding-bottom: 2px;
}

.header__subscription_link {
	display: inline-block;
	color: #D6E9F5;
	width: max-content;
	text-decoration: none;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 0.25px;
	position: relative;
}

.header__subscription_link:after,.header__subscription_link:before {
	content: "";
	display: block;
	position: absolute;
	height: 1px;
	margin-bottom: -10px;
	width: 0;
}

.header__subscription_link:before {
	transition: width 0s ease,background 0.4s ease;
	left: 0;
	right: 0;
	bottom: 6px;
}

.header__subscription_link:after {
	right: 0;
	bottom: 6px;
	background: #D6E9F5;
	transition: width 0.4s ease;
}

.header__subscription_link:hover:before {
	width: 100%;
	background: #D6E9F5;
	transition: width 0.4s ease;
}

.header__subscription_link:hover:after {
	width: 100%;
	background: 0 0;
	transition: all 0s ease;
}

.header__account {
	position: relative;
	padding-right: 24px;
	display: flex;
	align-items: center;
}

.header__account:hover {
	cursor: pointer;
}

.header__account:before {
	content: "";
	position: absolute;
	width: 0px;
	height: 0px;
	border-color: transparent;
	border-style: solid;
	right: 0px;
	transform: rotate(180deg);
	margin-left: -5px;
	border-width: 0px 5px 5px;
	border-bottom-color: #323441;
}

.header__account__account_img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.header__menu_wrap {
	display: flex;
	align-items: center;
}

.nav {
	display: flex;
	list-style: none;
	height: 100%;
	align-items: center;
}

.nav__menu {
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	left: 0;
	box-shadow: 0px 2px 8px rgba(134,140,144,0.05);
	border-radius: 4px;
	background-color: #fff;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease;
	min-width: 100%;
	max-width: 115%;
	margin-top: -5px;
	z-index: 9999;
}

.nav__menu_inner {
	padding: 12px;
	padding-top: 22px;
	word-wrap: break-word;
	list-style: none;
}

.nav__menu_item {
	position: relative;
	padding-left: 45px;
}

.nav__menu_item:before {
	position: absolute;
	background-image: url("../imgs/link.svg");
	background-size: contain;
	width: 12px;
	height: 11px;
	margin-top: 6px;
	left: 15px;
	content: "";
	opacity: 0.4;
}

.nav__menu_link {
	display: inline-block;
	padding: 10px 0;
	padding-top: 0;
	color: #323441;
	position: relative;
}

.nav__menu_link:after,.nav__menu_link:before {
	content: "";
	display: block;
	position: absolute;
	height: 1px;
	width: 0;
}

.nav__menu_link:before {
	transition: width 0s ease,background 0.4s ease;
	left: 0;
	right: 0;
	bottom: 6px;
}

.nav__menu_link:after {
	right: 0;
	bottom: 6px;
	background: #323441;
	transition: width 0.4s ease;
}

.nav__menu_link:hover:before {
	width: 100%;
	background: #323441;
	transition: width 0.4s ease;
}

.nav__menu_link:hover:after {
	width: 100%;
	background: 0 0;
	transition: all 0s ease;
}

.nav__menu_item a {
	color: #323441;
	font-weight: 600;
	letter-spacing: 0.25px;
	font-size: 14px;
	text-decoration: none;
}

.nav__wrapper {
	height: 100%;
	position: relative;
}

.nav__wrapper:hover .nav__menu {
	opacity: 1;
	visibility: visible;
}

.nav__arrow {
	position: relative;
	padding-right: 24px;
}

.nav__arrow:before {
	content: "";
	position: absolute;
	width: 0px;
	height: 0px;
	border-color: transparent;
	border-style: solid;
	right: 22px;
	transform: rotate(180deg);
	margin-left: -5px;
	border-width: 0px 5px 5px;
	border-bottom-color: #fff;
}

.nav__item {
	height: 100%;
	align-self: center;
	display: flex;
	align-items: center;
	padding-left: 24px;
	color: #fff;
	text-decoration: none;
	transition: background 0.3s ease;
}

.nav__item:hover {
	background-color: #6FB0DC;
}

.nav__item_wrap {
	position: relative;
	letter-spacing: 0.25px;
	font-weight: 600;
	font-size: 14px;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 32px;
	padding-right: 24px;
}

.nav__item_img {
	position: absolute;
	left: 0;
	opacity: 0.4;
	z-index: 1;
	pointer-events: none;
}

.account__link_wrapper {
	position: relative;
	margin-bottom: 8px;
	padding-left: 24px;
}

.account__link_exit {
	padding: 16px;
	background-color: #fff;
	border-top: 1px solid #E6E5E5;
}

.account__popup {
	z-index: 999999;
	position: absolute;
	right: 0;
	top: 93px;
	width: 320px;
	box-shadow: 0px 2px 8px rgba(134,140,144,0.05);
	border-radius: 4px;
	right: 15px;
	display: none;
}

.account__popup:before {
	content: "";
	position: absolute;
	width: 0px;
	height: 0px;
	border-color: transparent;
	border-style: solid;
	right: 38px;
	margin-top: -5px;
	margin-left: -5px;
	border-width: 0px 5px 5px;
	border-bottom-color: #5BA4D7;
}

.account__top {
	color: #fff;
	padding: 16px;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.25px;
	background-color: #5BA4D7;
	border-radius: 4px 4px 0 0;
}

.account__top_name {
	font-weight: 600;
}

.account__top_email,.account__top_name {
	padding-bottom: 8px;
}

.account__bottom {
	background-color: #fff;
	padding: 16px;
	font-size: 14px;
	letter-spacing: 0.25px;
	color: #323441;
}

.account__bottom_subscribtion {
	font-weight: 700;
	margin-bottom: 7px;
}

.account__bottom_links {
	margin: 16px 0;
	margin-bottom: 8px;
	display: flex;
	flex-direction: column;
}

.account__bottom_link {
	position: relative;
	text-decoration: none;
	color: #323441;
	font-weight: 500;
	font-size: 14px;
	display: inline-block;
	width: max-content;
}

.account__bottom_link:after,.account__bottom_link:before {
	content: "";
	display: block;
	position: absolute;
	height: 1px;
	width: 0;
	margin-bottom: -10px;
}

.account__bottom_link:before {
	transition: width 0s ease,background 0.4s ease;
	left: 0;
	right: 0;
	bottom: 6px;
}

.account__bottom_link:after {
	right: 0;
	bottom: 6px;
	background: #323441;
	transition: width 0.4s ease;
}

.account__bottom_link:hover:before {
	width: 100%;
	background: #323441;
	transition: width 0.4s ease;
}

.account__bottom_link:hover:after {
	width: 100%;
	background: 0 0;
	transition: all 0s ease;
}

.account__bottom_subscribe {
	position: relative;
	color: #3B8378;
	font-weight: 600;
	text-decoration: none;
	font-size: 12px;
	width: max-content;
}

.account__bottom_subscribe:after,.account__bottom_subscribe:before {
	content: "";
	display: block;
	position: absolute;
	height: 1px;
	width: 0;
	margin-bottom: -10px;
}

.account__bottom_subscribe:before {
	transition: width 0s ease,background 0.4s ease;
	left: 0;
	right: 0;
	bottom: 6px;
}

.account__bottom_subscribe:after {
	right: 0;
	bottom: 6px;
	background: #3B8378;
	transition: width 0.4s ease;
}

.account__bottom_subscribe:hover:before {
	width: 100%;
	background: #3B8378;
	transition: width 0.4s ease;
}

.account__bottom_subscribe:hover:after {
	width: 100%;
	background: 0 0;
	transition: all 0s ease;
}

.account__bottom_balance-wrapper {
	margin-top: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.account__bottom_balance {
	font-weight: 500;
}

.account__bottom_balance span {
	font-weight: 700;
}

.icon:before {
	position: absolute;
	left: 0;
	margin-top: 3px;
	content: "";
	top: 0;
	background-size: contain;
}

.icon-pay:before {
	background-image: url("../imgs/pay.svg");
	width: 12px;
	height: 10px;
}

.icon-settings:before {
	background-image: url("../imgs/settings.svg");
	width: 12px;
	height: 12px;
}

.icon-support {
	margin-bottom: 0;
}

.icon-support:before {
	background-image: url("../imgs/support.svg");
	width: 10px;
	height: 12px;
}

.icon-exit {
	margin-bottom: 0;
}

.icon-exit:before {
	background-image: url("../imgs/exit.svg");
	width: 9px;
	height: 12px;
	top: 2px;
}

@media screen and (max-width:1200px) {
	body {
		margin-top: 80px;
	}

	.header {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99999;
	}

	.header__burger {
		display: flex;
		transition: opacity 0.3s ease;
	}

	.header__burger:hover {
		cursor: pointer;
		opacity: 0.8;
	}

	.header__burger img {
		width: 32px;
		height: 32px;
	}

	.header__account {
		margin-right: 16px;
		padding-right: 0;
	}

	.header__account:before {
		content: none;
	}

	.header__subscription {
		display: none;
	}

	.header__mobile_sub {
		display: flex;
		margin-top: 16px;
	}

	.header .nav {
		display: none;
	}

	.header .nav__item_wrap a {
		text-decoration: none;
		color: #fff;
		font-size: 16px;
		position: relative;
		padding: 10px 0;
	}

	.header .nav__item_wrap a:after,.header .nav__item_wrap a:before {
		content: "";
		display: block;
		position: absolute;
		height: 1px;
		width: 0;
		margin-bottom: -1px;
	}

	.header .nav__item_wrap a:before {
		transition: width 0s ease,background 0.4s ease;
		left: 0;
		right: 0;
		bottom: 6px;
	}

	.header .nav__item_wrap a:after {
		right: 0;
		bottom: 6px;
		background: #fff;
		transition: width 0.4s ease;
	}

	.header .nav__item_wrap a:hover:before {
		width: 100%;
		background: #fff;
		transition: width 0.4s ease;
	}

	.header .nav__item_wrap a:hover:after {
		width: 100%;
		background: 0 0;
		transition: all 0s ease;
	}

	.header .nav__item_img {
		opacity: 0.6;
	}

	.header__popup {
		height: calc(100vh - 80px);
		position: fixed;
		top: 80px;
		left: 0;
		z-index: 99998;
		background-color: #6FB0DC;
		width: 100vw;
	}

	.header__popup_inner {
		padding: 32px;
	}

	.header__popup .nav__menu_item {
		padding-left: 58px;
	}

	.header__popup .nav__menu_item:before {
		background-image: url("../imgs/linkW.svg");
		opacity: 0.6;
		left: 34px;
	}

	.header__popup .nav__menu_item a {
		color: #fff;
	}

	.header__popup .nav__menu_item a:after,.header__popup .nav__menu_item a:before {
		content: "";
		display: block;
		position: absolute;
		height: 1px;
		width: 0;
		margin-bottom: -1px;
	}

	.header__popup .nav__menu_item a:before {
		transition: width 0s ease,background 0.4s ease;
		left: 0;
		right: 0;
		bottom: 6px;
	}

	.header__popup .nav__menu_item a:after {
		right: 0;
		bottom: 6px;
		background: #fff;
		transition: width 0.4s ease;
	}

	.header__popup .nav__menu_item a:hover:before {
		width: 100%;
		background: #fff;
		transition: width 0.4s ease;
	}

	.header__popup .nav__menu_item a:hover:after {
		width: 100%;
		background: 0 0;
		transition: all 0s ease;
	}

	.account__popup:before {
		right: 62px;
	}
}

@media screen and (max-width:500px) {
	.account__popup:before {
		right: 58px;
	}
}

@media screen and (max-width:350px) {
	.account__popup {
		width: 310px;
		right: 5px;
	}

	.account__popup:before {
		right: 68px;
	}
}

.main {
	min-height: 700px;
}

.general__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 52px;
	margin-bottom: 28px;
	position: relative;
}

.general__title img {
	position: absolute;
	right: 0;
}

.general__tooltip p {
	font-weight: 600;
	margin-bottom: 8px;
	text-transform: uppercase;
}

.general__tooltip a {
	cursor: pointer;
	color: #3B8378;
	position: relative;
	font-size: 12px;
	margin-bottom: 4px;
	text-decoration: none;
}

.general__tooltip a:after,.general__tooltip a:before {
	content: "";
	display: block;
	position: absolute;
	height: 1px;
	margin-bottom: -10px;
	width: 0;
}

.general__tooltip a:before {
	transition: width 0s ease,background 0.4s ease;
	left: 0;
	right: 0;
	bottom: 6px;
}

.general__tooltip a:after {
	right: 0;
	bottom: 6px;
	background: #3B8378;
	transition: width 0.4s ease;
}

.general__tooltip a:hover {
	cursor: pointer;
}

.general__tooltip a:hover:before {
	width: 100%;
	background: #3B8378;
	transition: width 0.4s ease;
}

.general__tooltip a:hover:after {
	width: 100%;
	background: 0 0;
	transition: all 0s ease;
}

.general__tooltip a:last-child {
	margin-bottom: 8px;
}

.general__info:hover {
	cursor: pointer;
}

.general__status {
	padding: 24px;
	background-color: #fff;
	box-shadow: 0px 2px 8px rgba(134,140,144,0.05);
	border-radius: 10px;
}

.general__status_info {
	font-size: 12px;
	font-weight: 500;
	display: flex;
}

.general__status_info p {
	margin-right: 16px;
}

.general__subs {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.general__subs span {
	color: #3B8378;
}

.general__sites {
	background-color: #fff;
	box-shadow: 0px 2px 8px rgba(134,140,144,0.05);
	padding: 24px;
	border-radius: 10px;
	margin-bottom: 32px;
}

.general__sites_title {
	font-size: 16px;
}

.general__sites_info {
	flex-direction: column;
	height: inherit;
	display: flex;
	margin-left: 16px;
	justify-content: space-between;
}

.general__sites_info p {
	font-weight: 500;
	color: #060607;
}

.general__sites_info p span {
	font-weight: 700;
}

.general__sites_item {
	height: 46px;
	display: flex;
	position: relative;
	margin-bottom: 16px;
}

.general__sites_item:last-child {
	margin-bottom: 0;
}

.general__sites_item-more {
	position: absolute;
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 0;
	top: 0;
	transition: all 0.3s ease;
}

.general__sites_item-more:hover {
	cursor: pointer;
	filter: invert(1);
}

.general__sites_item-img {
	width: 46px;
	height: 46px;
	border-radius: 4px;
}

.general__stats {
	margin-top: 24px;
	border-radius: 10px;
	display: flex;
}

.general__stats_left {
	display: flex;
	flex-direction: column;
	flex-basis: 19%;
	margin-right: 25px;
}

.general__stats_left-item {
	font-size: 14px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	min-height: 120px;
	color: #fff;
	box-shadow: 0px 2px 8px rgba(134,140,144,0.05);
	border-radius: 10px;
	margin-top: 8px;
	background-color: #3B8378;
}

.general__stats_left-item h3 {
	font-size: 32px;
	height: 55%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.general__stats_left-item:first-child {
	margin-top: 0;
}

.general__stats_right {
	box-shadow: 0px 2px 8px rgba(134,140,144,0.05);
	background-color: #fff;
	border-radius: 10px;
	flex-basis: 79%;
}

.general__stats_right-double_button {
	display: flex;
	margin-right: 16px;
}

.general__stats_right-buttons {
	display: flex;
}

.general__stats_right__inner {
	padding: 24px;
}

.general__stats_right-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.general__stats_right-top h3 {
	font-size: 16px;
	font-weight: 600;
}

.current__stats {
	display: flex;
	justify-content: center;
}

.current__stats_desc {
	color: #323441;
	font-size: 12px;
	font-weight: 500;
}

.current__stats_item {
	display: flex;
	width: max-content;
	flex-direction: column;
	text-align: center;
	padding-left: 48px;
	padding-right: 48px;
}

.current__stats_item:nth-child(2) {
	border-left: 1px solid #F3F3F3;
	border-right: 1px solid #F3F3F3;
}

.current__stats_item:nth-child(3) {
	border-right: 1px solid #F3F3F3;
}

.current__stats_item h3 {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 8px;
}

.mr-24 {
	margin-right: 24px;
}

.mb-10 {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	height: 45%;
}

.medium {
	font-weight: 500;
}

.semibold {
	font-weight: 600;
	margin-top: 4px;
}

.stats__item {
	height: 100%;
}

.canvas-container {
	height: 358px;
}

@media screen and (max-width:1200px) {
	.general__stats {
		flex-direction: column;
	}

	.general__stats_left {
		margin-right: 0;
		flex-direction: row;
		margin-bottom: 26px;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.general__stats_left-item {
		flex-basis: 23.5%;
		margin: 0;
	}

	.general__stats .stats__item {
		height: auto;
	}
}

@media screen and (max-width:767px) {
	.general__stats_left-item {
		flex-basis: 49%;
	}

	.general__stats_left-item:nth-child(3) {
		margin-top: 13px;
	}

	.general__stats_left-item:nth-child(4) {
		margin-top: 13px;
	}

	.general__stats_right-top {
		flex-direction: column;
	}

	.general__stats_right-top h3 {
		margin-bottom: 12px;
	}

	.general .current__stats_item {
		padding-left: 28px;
		padding-right: 28px;
	}
}

@media screen and (max-width:600px) {
	.canvas-container {
		height: 60vw;
		position: relative;
	}

	.general__title {
		margin-top: 24px;
	}
}

@media screen and (max-width:500px) {
	.canvas-container {
		height: 75vw;
		position: relative;
	}

	.general__status_info {
		flex-direction: column;
	}

	.general .button_white {
		margin-top: 12px;
	}

	.general .current__stats {
		justify-content: space-between;
	}

	.general .current__stats h3 {
		font-size: 20px;
	}

	.general .current__stats_item {
		padding-left: 0;
		border: 0;
		padding-right: 0;
	}

	.general__sites_item-img {
		display: none;
	}

	.general__sites_info {
		margin-left: 0;
	}
}

@media screen and (max-width:400px) {
	.checkmark:before {
		right: -18px;
		margin-top: 3px;
		width: 10px;
		height: 10px;
	}

	.general__sites_item {
		height: 42px;
	}

	.general__sites_info {
		font-size: 14px;
	}

	.general__sites_info a {
		font-size: 14px;
	}

	.general .current__stats {
		flex-wrap: wrap;
	}

	.general .current__stats_item {
		flex-basis: 48%;
	}

	.general .current__stats_item:first-child {
		margin-bottom: 10px;
	}

	.general .current__stats_item:nth-child(2) {
		margin-bottom: 10px;
	}

	.general__stats_left-item {
		flex-basis: 100%;
	}

	.general__stats_left-item:first-child {
		margin-bottom: 13px;
	}

	.general__stats_right-buttons {
		flex-direction: column;
	}

	.general__stats_right-double_button {
		margin-right: 0;
		margin-bottom: 6px;
	}
}

.footer {
	display: flex;
	justify-content: center;
	padding: 72px 0;
	font-size: 12px;
}

.footer a {
	text-decoration: none;
	color: #323441;
	margin: 0 28px;
	position: relative;
}

.footer a:after,.footer a:before {
	content: "";
	display: block;
	position: absolute;
	height: 1px;
	width: 0;
	margin-bottom: -10px;
}

.footer a:before {
	transition: width 0s ease,background 0.4s ease;
	left: 0;
	right: 0;
	bottom: 6px;
}

.footer a:after {
	right: 0;
	bottom: 6px;
	background: #323441;
	transition: width 0.4s ease;
}

.footer a:hover:before {
	width: 100%;
	background: #323441;
	transition: width 0.4s ease;
}

.footer a:hover:after {
	width: 100%;
	background: 0 0;
	transition: all 0s ease;
}

.privacy-desc {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.4;
}

@media screen and (max-width:510px) {
	.footer {
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 54px 0;
	}

	.footer a {
		margin: 8px 24px;
	}
}

.mymailing .select2-container--default .select2-selection--single .select2-selection__rendered {
	padding: 8px;
	padding-right: 24px;
	color: #fff;
}

.mymailing .select2-container--default .select2-selection--single {
	background-color: transparent;
	border: 1px solid rgba(242,242,242,0.2);
}

.mymailing .select2-container--default .select2-results__option--selected {
	background-color: #3B8378;
	color: #323441!important;
}

.mymailing .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
	background-color: #3B8378;
	color: white;
	opacity: 0.8;
}

.mymailing .select2-results__option--selectable {
	background-color: #3B8378;
	color: #fff;
}

.mymailing .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent #fff transparent;
}

.mymailing .select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: #fff transparent transparent transparent;
}

.mymailing .select2-dropdown {
	border: 1px solid rgba(242,242,242,0.2);
	background-color: #3B8378;
}

.mails {
	position: relative;
}

.mails__sites {
	height: auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
}

.mails__sites_stats {
	display: flex;
}

.mails__sites_stats-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 24px;
	height: max-content;
	padding-right: 24px;
}

.mails__sites_stats-item:nth-child(2) {
	border-left: 1px solid #F3F3F3;
	border-right: 1px solid #F3F3F3;
}

.mails__sites_stats-item h3 {
	font-weight: 500;
	font-size: 32px;
	margin-bottom: 6px;
}

.mails__sites_stats-item p {
	font-weight: 500;
	font-size: 12px;
}

.mails__sites_info a {
	color: #5BA4D7;
	margin-bottom: 10px;
	font-weight: 500;
	position: relative;
	text-decoration: none;
	width: max-content;
}

.mails__sites_info a:after,.mails__sites_info a:before {
	content: "";
	display: block;
	position: absolute;
	height: 1px;
	margin-bottom: -10px;
	width: 0;
}

.mails__sites_info a:before {
	transition: width 0s ease,background 0.4s ease;
	left: 0;
	right: 0;
	bottom: 6px;
}

.mails__sites_info a:after {
	right: 0;
	bottom: 6px;
	background: #5BA4D7;
	transition: width 0.4s ease;
}

.mails__sites_info a:hover:before {
	width: 100%;
	background: #5BA4D7;
	transition: width 0.4s ease;
}

.mails__sites_info a:hover:after {
	width: 100%;
	background: 0 0;
	transition: all 0s ease;
}

.mails__sites_info p {
	margin-bottom: 8px;
	font-size: 14px;
	word-break: break-all;
}

.mails__sites_info p img {
	margin-right: 12px;
}

.mails__filter {
	display: flex;
	background-color: #fff;
	box-shadow: 0px 2px 8px rgba(134,140,144,0.05);
	border-radius: 100px;
	align-items: center;
	margin-bottom: 24px;
	position: relative;
}

.mails__filter_btn {
	padding: 15px 40px;
}

.mails__date {
	display: flex;
	font-weight: 500;
	position: relative;
	font-size: 14px;
}

.mails__date p {
	display: flex;
	align-items: center;
	margin-left: 46px;
	display: none;
	transition: all 0.3s ease;
}

.mails__date p img {
	margin-left: 8px;
	transition: opacity 0.3s ease;
}

.mails__date p img:hover {
	cursor: pointer;
	opacity: 0.8;
}

.mails__date p span {
	margin-left: 6px;
}

.mails__reset {
	display: none;
	background-color: #fff;
	box-shadow: 0px 2px 8px rgba(134,140,144,0.05);
	position: absolute;
	align-self: center;
	text-align: center;
	top: -35px;
	left: 50%;
	width: max-content;
	border-radius: 4px;
	transform: translate(-50%,-50%);
}

.mails__reset_inner {
	position: relative;
	padding: 10px 16px;
	transition: all 0.3s ease;
	border-radius: 4px;
	font-weight: 500;
	font-size: 12px;
}

.mails__reset_inner:hover {
	cursor: pointer;
	box-shadow: inset 0px 1px 4px rgba(134,140,144,0.2);
}

.mails__reset:before {
	content: "";
	position: absolute;
	width: 0px;
	height: 0px;
	border-color: transparent;
	border-bottom-color: transparent;
	border-style: solid;
	bottom: -8px;
	transform: rotate(180deg);
	margin-left: -18px;
	border-width: 0px 18px 18px;
	border-bottom-color: #fff;
}

.filter__input {
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid rgba(242,242,242,0.2);
	padding: 8px;
	color: #fff;
}

.filter__popup {
	background-color: #3B8378;
	position: absolute;
	left: 0;
	border-radius: 4px;
	box-shadow: 0px 2px 8px rgba(134,140,144,0.05);
	color: #fff;
	top: 150px;
	width: 332px;
	display: none;
	z-index: 9999;
}

.filter__popup_block {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 16px;
}

.filter__popup_block:last-child {
	margin-bottom: 0;
}

.filter__popup_label {
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 8px;
}

.filter__popup__inner {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 24px;
}

.filter__popup__inner:before {
	content: "";
	position: absolute;
	width: 0px;
	height: 0px;
	border-color: transparent;
	border-style: solid;
	left: 56px;
	top: -10px;
	margin-left: -5px;
	border-width: 0px 14px 14px;
	border-bottom-color: #3B8378;
}

.w-50 {
	width: 47%;
}

@media screen and (max-width:767px) {
	.mails__date {
		flex-wrap: wrap;
		justify-content: center;
		display: flex;
	}

	.mails__date p {
		margin-left: 0;
		margin-top: 12px;
	}

	.mails__date p:first-child {
		margin-right: 16px;
	}

	.mails__filter {
		padding-top: 12px;
		padding-bottom: 12px;
		flex-direction: column;
		border-radius: 10px;
	}

	.mails .button_green {
		margin: 0 auto;
	}

	.mails__sites {
		flex-direction: column;
	}

	.mails__sites_stats {
		margin-left: 64px;
		margin-top: 8px;
	}

	.mails__sites_stats-item:first-child {
		padding-left: 0!important;
	}

	.mails__sites_stats-item h3 {
		font-size: 20px;
	}

	.mails__reset {
		right: 0;
		transform: none;
		top: -55px;
		left: auto;
	}

	.filter__popup {
		left: 50%;
		margin-top: 200px;
		width: 310px;
		transform: translate(-50%,-50%);
	}

	.filter__popup__inner:before {
		left: 150px;
	}

	.button_lb {
		margin-left: 0;
	}

	.button_rb {
		margin-right: 0;
	}
}

@media screen and (max-width:500px) {
	.mails__sites_stats {
		margin-left: 0;
	}
}

@media screen and (max-width:400px) {
	.mails__sites_info p {
		line-height: 1.3;
	}

	.mails__date p:first-child {
		margin-right: 0;
	}
}

@media screen and (max-width:350px) {
	.mails__sites_stats-item {
		padding-right: 12px;
		padding-left: 12px;
	}
}

.mail__button {
	margin: 0;
	position: absolute;
	right: 0;
}

.mail__button_inner {
	padding: 15px 42px;
	width: auto;
}

.mail .progress_bar {
	background-color: #4AB731;
}

.mail__go span {
	color: #4AB731;
}

.mail .general__stats_left {
	flex-direction: row;
	margin-right: 0;
	justify-content: space-between;
	margin-top: 26px;
}

.mail .general__stats_left-item {
	margin: 0;
	flex-basis: 23.5%;
}

.mail .general__stats_left-item h3 {
	height: 65%;
}

.mail .mb-10 {
	height: 35%;
}

.mail__time-sent {
	display: flex;
	align-items: center;
	margin-bottom: 26px;
}

.mail__time-sent img {
	width: 32px;
	height: 32px;
	border-radius: 4px;
}

.mail__time-sent p {
	margin-left: 13px;
	font-weight: 500;
	color: #060607;
}

.mail__info {
	background-color: #fff;
	box-shadow: 0px 2px 8px rgba(134,140,144,0.05);
	border-radius: 10px;
	margin-top: 45px;
}

.mail__info_item {
	font-weight: 500;
	display: flex;
	color: #060607;
	padding: 24px;
}

.mail__info_item:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.mail__info_item:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.mail__info_item:nth-child(odd) {
	background-color: #D6E9F5;
}

.mail__info_title {
	flex-basis: 30%;
}

.mail__info_desc {
	flex-basis: 70%;
}

@media screen and (max-width:767px) {
	.mail__info_title {
		font-weight: 600;
	}

	.mail__info_desc {
		margin-top: 8px;
	}

	.mail__info_item {
		flex-direction: column;
	}

	.mail__button {
		margin-top: 12px;
		position: relative;
	}

	.single-mail .general__title {
		align-items: flex-start;
		flex-direction: column;
	}

	.single-mail .general__title .title {
		max-width: 100%;
	}
}

@media screen and (max-width:600px) {
	.mail__info_desc {
		word-break: break-all;
	}

	.mail .general__stats_left-item {
		flex-basis: 49%;
		margin-bottom: 13px;
	}

	.mail .general__stats_left-item:nth-child(3) {
		margin-bottom: 0;
	}

	.mail .general__stats_left-item:last-child {
		margin-bottom: 0;
	}

	.mail .medium {
		padding-left: 5px;
		padding-right: 5px;
	}
}

.site .mail__time-sent p {
	margin: 0;
}

.site .general__stats_right-double_button {
	margin-right: 0;
}

.site .general__title {
	justify-content: flex-start;
}

.site .general__title img {
	position: relative;
	margin-top: 5px;
	margin-left: 12px;
}

.site__chart {
	margin-top: 26px;
	margin-bottom: 32px;
}

.site__chart_desc {
	font-weight: 500;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.site__chart_desc p {
	margin-left: 6px;
	color: #060607;
	margin-right: 6px;
}

.site__chart_desc p span {
	font-weight: 700;
}

.canvas-container2 {
	height: 325px;
	position: relative;
}

@media screen and (max-width:767px) {
	.site .general__stats_right-buttons {
		margin-top: 6px;
	}

	.canvas-container2 {
		height: 50vw;
	}
}

@media screen and (max-width:550px) {
	.canvas-container2 {
		height: 60vw;
	}

	.site__chart_desc {
		text-align: center;
		font-size: 14px;
		flex-direction: column;
		align-items: center;
	}

	.site__chart_desc p:last-child {
		margin-top: 8px;
	}
}

.setgen section {
	display: none;
}

.setgen__button_inner {
	color: #5BA4D7;
}

.setgen__buttons {
	display: flex;
	align-items: center;
}

.setgen__buttons_link {
	padding: 0 60px;
}

.setgen__buttons_link .new-tab {
	cursor: pointer;
	position: relative;
	width: max-content;
}

.setgen__buttons_link .new-tab:after,.setgen__buttons_link .new-tab:before {
	content: "";
	display: block;
	position: absolute;
	height: 1px;
	margin-bottom: -10px;
	width: 0;
}

.setgen__buttons_link .new-tab:before {
	transition: width 0s ease,background 0.4s ease;
	left: 0;
	right: 0;
	bottom: 6px;
}

.setgen__buttons_link .new-tab:after {
	right: 0;
	bottom: 6px;
	background: #323441;
	transition: width 0.4s ease;
}

.setgen__buttons_link .new-tab:hover:before {
	width: 100%;
	background: #323441;
	transition: width 0.4s ease;
}

.setgen__buttons_link .new-tab:hover:after {
	width: 100%;
	background: 0 0;
	transition: all 0s ease;
}

.setgen__buttons_active {
	padding: 16px 40px;
	color: #fff;
	background-color: #5BA4D7;
	box-shadow: 0px 2px 8px rgba(134,140,144,0.05);
	border-radius: 100px;
	user-select: none;
	width: max-content;
}

.setgen__info {
	background-color: #fff;
	box-shadow: 0px 2px 8px rgba(134,140,144,0.05);
	padding: 24px;
	margin-top: 24px;
	border-radius: 10px;
}

.setgen__info_upload input[type=file] {
	display: none;
}

.setgen__info_upload .setgen__info_block {
	margin-top: 24px;
	margin-bottom: 0;
}

.setgen__info_block {
	display: flex;
	position: relative;
}

.setgen__info_block {
	margin-bottom: 24px;
}

.setgen__info_block:last-child {
	margin-bottom: 0;
}

.setgen__info_title {
	flex-basis: 20%;
	display: flex;
	justify-content: flex-end;
	margin-right: 24px;
	text-align: right;
}

.setgen__info_desc {
	flex-basis: 80%;
	display: flex;
	align-items: center;
}

.setgen__info_desc .checked {
	margin-left: 6px;
	margin-bottom: -2px;
	width: 16px;
	height: 16px;
}

.setgen__form {
	display: flex;
	user-select: none;
}

.setgen__form img {
	width: 64px;
	height: 64px;
	border-radius: 4px;
}

.setgen__form_title {
	font-size: 14px;
	color: #3B8378;
	position: relative;
	width: max-content;
}

.setgen__form_title:after,.setgen__form_title:before {
	content: "";
	display: block;
	position: absolute;
	height: 1px;
	margin-bottom: -10px;
	width: 0;
}

.setgen__form_title:before {
	transition: width 0s ease,background 0.4s ease;
	left: 0;
	right: 0;
	bottom: 6px;
}

.setgen__form_title:after {
	right: 0;
	bottom: 6px;
	background: #3B8378;
	transition: width 0.4s ease;
}

.setgen__form_title:hover {
	cursor: pointer;
}

.setgen__form_title:hover:before {
	width: 100%;
	background: #3B8378;
	transition: width 0.4s ease;
}

.setgen__form_title:hover:after {
	width: 100%;
	background: 0 0;
	transition: all 0s ease;
}

.setgen__form_desc {
	font-size: 12px;
	font-weight: 500;
	color: #979797;
}

.setgen__form_block {
	max-width: 209px;
	margin-left: 16px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.setgen__down-buttons {
	position: absolute;
	left: -24px;
	margin-top: 56px;
	display: flex;
	align-items: center;
}

.setgen__delete {
	color: #F33657;
	font-weight: 500;
	background-color: transparent;
	font-size: 14px;
	position: relative;
	width: max-content;
	margin-left: 40px;
}

.setgen__delete:after,.setgen__delete:before {
	content: "";
	display: block;
	position: absolute;
	height: 1px;
	margin-bottom: -10px;
	width: 0;
}

.setgen__delete:before {
	transition: width 0s ease,background 0.4s ease;
	left: 0;
	right: 0;
	bottom: 6px;
}

.setgen__delete:after {
	right: 0;
	bottom: 6px;
	background: #F33657;
	transition: width 0.4s ease;
}

.setgen__delete:hover {
	cursor: pointer;
}

.setgen__delete:hover:before {
	width: 100%;
	background: #F33657;
	transition: width 0.4s ease;
}

.setgen__delete:hover:after {
	width: 100%;
	background: 0 0;
	transition: all 0s ease;
}

@media screen and (max-width:800px) {
	.setgen__delete {
		margin-left: 16px;
	}

	.setgen__buttons_link {
		font-size: 14px;
		padding: 0;
	}

	.setgen__buttons_link:nth-child(2) {
		padding-left: 16px;
		padding-right: 16px;
	}

	.setgen__buttons_active {
		padding: 12px 24px;
		font-size: 14px;
	}
}

.save__button {
	width: auto;
}

.choosen {
	display: block!important;
}

.tooltip_templates {
	display: none;
}

.tooltipster-sidetip .tooltipster-box {
	background-color: #fff;
	box-shadow: 0px 2px 8px rgba(134,140,144,0.05);
	border: 0;
	max-width: 375px;
}

.tooltipster-sidetip .tooltipster-content {
	color: #323441;
	font-size: 14px;
	font-family: "Gilroy";
	font-weight: 500;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
	border-left-color: transparent!important;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
	border-bottom-color: transparent!important;
}

.tooltipster-content span {
	display: flex;
	flex-direction: column;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
	border-left-color: #fff;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
	border-bottom-color: #fff;
}

@media screen and (max-width:767px) {
	.setgen .general__title {
		align-items: flex-start;
		flex-direction: column;
	}

	.setgen .general__title .title {
		max-width: 100%;
	}
}

@media screen and (max-width:600px) {
	.setgen__info_title {
		margin-bottom: 8px;
		margin-right: 0;
	}

	.setgen__info_block {
		flex-direction: column;
		align-items: flex-start;
		text-align: left;
	}

	.setgen__down-buttons {
		margin-top: 36px;
	}
}

@media screen and (max-width:500px) {
	.setgen .general__title {
		margin-bottom: 40px;
	}

	.setgen__buttons {
		flex-direction: column;
		width: max-content;
		align-items: flex-start;
	}

	.setgen__buttons_link {
		margin-bottom: 12px;
		margin-top: 12px;
	}

	.setgen__buttons_link:nth-child(2) {
		padding: 0;
	}

	.setgen__buttons_link:last-child {
		margin-top: 0;
		margin-bottom: 0;
	}

	.setgen__buttons_active {
		padding: 12px 24px;
	}
}

.setint__buttons {
	margin-bottom: 24px;
}

.setint__button {
	width: max-content;
}

.setint__button .button_green_inner {
	padding: 14px 28px;
}

.setint__info {
	padding: 24px;
	box-shadow: 0px 2px 8px rgba(134,140,144,0.05);
	border-radius: 10px;
	margin-top: 16px;
	background-color: #fff;
	margin-bottom: 24px;
}

.setint__info_checked {
	margin-top: 16px;
	display: flex;
	align-items: center;
}

.setint__info_checked p {
	font-size: 14px;
}

.setint__info_checked img {
	margin-right: 8px;
}

.setint__info_download {
	display: flex;
	align-items: center;
}

.setint__info_download img {
	margin-right: 8px;
}

.setint__info_download a {
	position: relative;
	width: max-content;
	font-size: 14px;
	text-decoration: none;
	color: #323441;
}

.setint__info_download a:after,.setint__info_download a:before {
	content: "";
	display: block;
	position: absolute;
	height: 1px;
	margin-bottom: -10px;
	width: 0;
}

.setint__info_download a:before {
	transition: width 0s ease,background 0.4s ease;
	left: 0;
	right: 0;
	bottom: 6px;
}

.setint__info_download a:after {
	right: 0;
	bottom: 6px;
	background: #323441;
	transition: width 0.4s ease;
}

.setint__info_download a:hover {
	cursor: pointer;
}

.setint__info_download a:hover:before {
	width: 100%;
	background: #323441;
	transition: width 0.4s ease;
}

.setint__info_download a:hover:after {
	width: 100%;
	background: 0 0;
	transition: all 0s ease;
}

.setint__info pre {
	padding: 16px;
	background-color: #FBFBFB;
	border-radius: 4px;
	overflow-x: auto;
}

.setint__info pre code {
	font-family: "Gilroy",sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #060607;
	padding-right: 16px;
}

.setint__info_title {
	max-width: 900px;
	line-height: 150%;
	font-size: 14px;
	margin-bottom: 16px;
	font-weight: 500;
}

.setint__info_title span {
	color: #A93B4E;
}

.setint__desc {
	font-size: 14px;
	color: #3B8378;
}

@media screen and (max-width:800px) {
	.setint .setgen__buttons_active {
		margin-left: 12px;
		margin-right: 12px;
	}
}

@media screen and (max-width:500px) {
	.setint .general__title {
		margin-bottom: 40px;
	}

	.setint .setgen__buttons_link {
		margin: 0;
	}

	.setint .setgen__buttons_active {
		margin: 12px 0;
	}
}

.setreq {
	position: relative;
}

.setreq .setgen__down-buttons {
	left: 0;
}

.setreq .setgen__info_title {
	justify-content: flex-start;
	margin-right: 0;
	text-align: left;
}

.setreq .setgen__info_block {
	flex-direction: column;
}

.setreq__info_block {
	margin-bottom: 8px;
}

.setreq .label-checkbox {
	font-size: 14px;
	color: #323441;
}

.setreq .setgen__info_desc {
	margin-top: 24px;
}

.setreq__sample {
	margin-left: 8px;
	font-size: 12px;
	color: #3B8378;
	cursor: pointer;
	border-bottom: 1px solid #3B8378;
	width: max-content;
}

.setreq__info {
	cursor: pointer;
	margin-left: 12px;
}

.setreq__checkbox {
	display: flex;
	align-items: center;
}

.setreq__radio {
	display: flex;
	align-items: center;
	margin-right: 34px;
}

.setreq__radio:last-child {
	margin-right: 0;
}

@media screen and (max-width:500px) {
	.setreq__radio {
		margin-right: 0;
	}

	.setreq__radio:first-child {
		margin-bottom: 16px;
	}

	.setreq .setgen__buttons_link {
		margin-top: 0;
		margin-bottom: 0;
	}

	.setreq .setgen__buttons_link:nth-child(2) {
		margin: 12px 0;
	}

	.setreq .setgen__info_title {
		margin-bottom: 0;
	}

	.setreq .setgen__info_desc {
		flex-direction: column;
		align-items: flex-start;
		margin-top: 16px;
	}

	.setreq__sample {
		margin-left: 28px;
		margin-top: 4px;
	}
}