@font-face {
		font-family: "Gilroy";
		src: url("../fonts/GilroyLight.woff2") format("woff2");
		font-weight: 300;
		font-style: normal;
}
@font-face {
		font-family: "Gilroy";
		src: url("../fonts/GilroyRegular.woff2") format("woff2");
		font-weight: 400;
		font-style: normal;
}
@font-face {
		font-family: "Gilroy";
		src: url("../fonts/GilroyMedium.woff2") format("woff2");
		font-weight: 500;
		font-style: normal;
}
@font-face {
		font-family: "Gilroy";
		src: url("../fonts/GilroySemibold.woff2") format("woff2");
		font-weight: 600;
		font-style: normal;
}
@font-face {
		font-family: "Gilroy";
		src: url("../fonts/GilroyBold.woff2") format("woff2");
		font-weight: 700;
		font-style: normal;
}
*,
*:after,
*:before {
		margin: 0;
		padding: 0;
		outline: none;
}

::selection {
		background-color: #5BA4D7;
		color: #fff;
}

a,
button,
img {
		user-select: none;
}

body,
html {
		cursor: default;
		background-color: #F8F9FC;
		color: #323441;
		box-sizing: border-box;
		font-size: 16px;
		font-weight: 600;
		overflow-x: hidden;
		font-family: "Gilroy", Arial, sans-serif;
}

.container {
		max-width: 1196px;
		width: auto;
		position: relative;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 auto;
		height: inherit;
}

.title {
		font-weight: bold;
		font-size: 32px;
		line-height: 150%;
		color: #060607;
}

.subtitle {
		font-weight: 600;
		font-size: 16px;
		line-height: 150%;
		margin-top: 32px;
		margin-bottom: 24px;
}

.percent {
		font-weight: 500;
		font-size: 12px;
}

.progress progress[value="0"] ~ .progress_bg .progress_bar {
		width: 0%;
}

.progress progress[value="1"] ~ .progress_bg .progress_bar {
		width: 1%;
}

.progress progress[value="2"] ~ .progress_bg .progress_bar {
		width: 2%;
}

.progress progress[value="3"] ~ .progress_bg .progress_bar {
		width: 3%;
}

.progress progress[value="4"] ~ .progress_bg .progress_bar {
		width: 4%;
}

.progress progress[value="5"] ~ .progress_bg .progress_bar {
		width: 5%;
}

.progress progress[value="6"] ~ .progress_bg .progress_bar {
		width: 6%;
}

.progress progress[value="7"] ~ .progress_bg .progress_bar {
		width: 7%;
}

.progress progress[value="8"] ~ .progress_bg .progress_bar {
		width: 8%;
}

.progress progress[value="9"] ~ .progress_bg .progress_bar {
		width: 9%;
}

.progress progress[value="10"] ~ .progress_bg .progress_bar {
		width: 10%;
}

.progress progress[value="11"] ~ .progress_bg .progress_bar {
		width: 11%;
}

.progress progress[value="12"] ~ .progress_bg .progress_bar {
		width: 12%;
}

.progress progress[value="13"] ~ .progress_bg .progress_bar {
		width: 13%;
}

.progress progress[value="14"] ~ .progress_bg .progress_bar {
		width: 14%;
}

.progress progress[value="15"] ~ .progress_bg .progress_bar {
		width: 15%;
}

.progress progress[value="16"] ~ .progress_bg .progress_bar {
		width: 16%;
}

.progress progress[value="17"] ~ .progress_bg .progress_bar {
		width: 17%;
}

.progress progress[value="18"] ~ .progress_bg .progress_bar {
		width: 18%;
}

.progress progress[value="19"] ~ .progress_bg .progress_bar {
		width: 19%;
}

.progress progress[value="20"] ~ .progress_bg .progress_bar {
		width: 20%;
}

.progress progress[value="21"] ~ .progress_bg .progress_bar {
		width: 21%;
}

.progress progress[value="22"] ~ .progress_bg .progress_bar {
		width: 22%;
}

.progress progress[value="23"] ~ .progress_bg .progress_bar {
		width: 23%;
}

.progress progress[value="24"] ~ .progress_bg .progress_bar {
		width: 24%;
}

.progress progress[value="25"] ~ .progress_bg .progress_bar {
		width: 25%;
}

.progress progress[value="26"] ~ .progress_bg .progress_bar {
		width: 26%;
}

.progress progress[value="27"] ~ .progress_bg .progress_bar {
		width: 27%;
}

.progress progress[value="28"] ~ .progress_bg .progress_bar {
		width: 28%;
}

.progress progress[value="29"] ~ .progress_bg .progress_bar {
		width: 29%;
}

.progress progress[value="30"] ~ .progress_bg .progress_bar {
		width: 30%;
}

.progress progress[value="31"] ~ .progress_bg .progress_bar {
		width: 31%;
}

.progress progress[value="32"] ~ .progress_bg .progress_bar {
		width: 32%;
}

.progress progress[value="33"] ~ .progress_bg .progress_bar {
		width: 33%;
}

.progress progress[value="34"] ~ .progress_bg .progress_bar {
		width: 34%;
}

.progress progress[value="35"] ~ .progress_bg .progress_bar {
		width: 35%;
}

.progress progress[value="36"] ~ .progress_bg .progress_bar {
		width: 36%;
}

.progress progress[value="37"] ~ .progress_bg .progress_bar {
		width: 37%;
}

.progress progress[value="38"] ~ .progress_bg .progress_bar {
		width: 38%;
}

.progress progress[value="39"] ~ .progress_bg .progress_bar {
		width: 39%;
}

.progress progress[value="40"] ~ .progress_bg .progress_bar {
		width: 40%;
}

.progress progress[value="41"] ~ .progress_bg .progress_bar {
		width: 41%;
}

.progress progress[value="42"] ~ .progress_bg .progress_bar {
		width: 42%;
}

.progress progress[value="43"] ~ .progress_bg .progress_bar {
		width: 43%;
}

.progress progress[value="44"] ~ .progress_bg .progress_bar {
		width: 44%;
}

.progress progress[value="45"] ~ .progress_bg .progress_bar {
		width: 45%;
}

.progress progress[value="46"] ~ .progress_bg .progress_bar {
		width: 46%;
}

.progress progress[value="47"] ~ .progress_bg .progress_bar {
		width: 47%;
}

.progress progress[value="48"] ~ .progress_bg .progress_bar {
		width: 48%;
}

.progress progress[value="49"] ~ .progress_bg .progress_bar {
		width: 49%;
}

.progress progress[value="50"] ~ .progress_bg .progress_bar {
		width: 50%;
}

.progress progress[value="51"] ~ .progress_bg .progress_bar {
		width: 51%;
}

.progress progress[value="52"] ~ .progress_bg .progress_bar {
		width: 52%;
}

.progress progress[value="53"] ~ .progress_bg .progress_bar {
		width: 53%;
}

.progress progress[value="54"] ~ .progress_bg .progress_bar {
		width: 54%;
}

.progress progress[value="55"] ~ .progress_bg .progress_bar {
		width: 55%;
}

.progress progress[value="56"] ~ .progress_bg .progress_bar {
		width: 56%;
}

.progress progress[value="57"] ~ .progress_bg .progress_bar {
		width: 57%;
}

.progress progress[value="58"] ~ .progress_bg .progress_bar {
		width: 58%;
}

.progress progress[value="59"] ~ .progress_bg .progress_bar {
		width: 59%;
}

.progress progress[value="60"] ~ .progress_bg .progress_bar {
		width: 60%;
}

.progress progress[value="61"] ~ .progress_bg .progress_bar {
		width: 61%;
}

.progress progress[value="62"] ~ .progress_bg .progress_bar {
		width: 62%;
}

.progress progress[value="63"] ~ .progress_bg .progress_bar {
		width: 63%;
}

.progress progress[value="64"] ~ .progress_bg .progress_bar {
		width: 64%;
}

.progress progress[value="65"] ~ .progress_bg .progress_bar {
		width: 65%;
}

.progress progress[value="66"] ~ .progress_bg .progress_bar {
		width: 66%;
}

.progress progress[value="67"] ~ .progress_bg .progress_bar {
		width: 67%;
}

.progress progress[value="68"] ~ .progress_bg .progress_bar {
		width: 68%;
}

.progress progress[value="69"] ~ .progress_bg .progress_bar {
		width: 69%;
}

.progress progress[value="70"] ~ .progress_bg .progress_bar {
		width: 70%;
}

.progress progress[value="71"] ~ .progress_bg .progress_bar {
		width: 71%;
}

.progress progress[value="72"] ~ .progress_bg .progress_bar {
		width: 72%;
}

.progress progress[value="73"] ~ .progress_bg .progress_bar {
		width: 73%;
}

.progress progress[value="74"] ~ .progress_bg .progress_bar {
		width: 74%;
}

.progress progress[value="75"] ~ .progress_bg .progress_bar {
		width: 75%;
}

.progress progress[value="76"] ~ .progress_bg .progress_bar {
		width: 76%;
}

.progress progress[value="77"] ~ .progress_bg .progress_bar {
		width: 77%;
}

.progress progress[value="78"] ~ .progress_bg .progress_bar {
		width: 78%;
}

.progress progress[value="79"] ~ .progress_bg .progress_bar {
		width: 79%;
}

.progress progress[value="80"] ~ .progress_bg .progress_bar {
		width: 80%;
}

.progress progress[value="81"] ~ .progress_bg .progress_bar {
		width: 81%;
}

.progress progress[value="82"] ~ .progress_bg .progress_bar {
		width: 82%;
}

.progress progress[value="83"] ~ .progress_bg .progress_bar {
		width: 83%;
}

.progress progress[value="84"] ~ .progress_bg .progress_bar {
		width: 84%;
}

.progress progress[value="85"] ~ .progress_bg .progress_bar {
		width: 85%;
}

.progress progress[value="86"] ~ .progress_bg .progress_bar {
		width: 86%;
}

.progress progress[value="87"] ~ .progress_bg .progress_bar {
		width: 87%;
}

.progress progress[value="88"] ~ .progress_bg .progress_bar {
		width: 88%;
}

.progress progress[value="89"] ~ .progress_bg .progress_bar {
		width: 89%;
}

.progress progress[value="90"] ~ .progress_bg .progress_bar {
		width: 90%;
}

.progress progress[value="91"] ~ .progress_bg .progress_bar {
		width: 91%;
}

.progress progress[value="92"] ~ .progress_bg .progress_bar {
		width: 92%;
}

.progress progress[value="93"] ~ .progress_bg .progress_bar {
		width: 93%;
}

.progress progress[value="94"] ~ .progress_bg .progress_bar {
		width: 94%;
}

.progress progress[value="95"] ~ .progress_bg .progress_bar {
		width: 95%;
}

.progress progress[value="96"] ~ .progress_bg .progress_bar {
		width: 96%;
}

.progress progress[value="97"] ~ .progress_bg .progress_bar {
		width: 97%;
}

.progress progress[value="98"] ~ .progress_bg .progress_bar {
		width: 98%;
}

.progress progress[value="99"] ~ .progress_bg .progress_bar {
		width: 99%;
}

.progress progress[value="100"] ~ .progress_bg .progress_bar {
		width: 100%;
}

.progress {
		overflow: hidden;
		position: relative;
		box-shadow: inset 0px 1px 4px rgba(134, 140, 144, 0.2);
		height: 16px;
		margin: 18px 0;
		border-radius: 100px;
		z-index: 1;
}
.progress progress {
		position: absolute;
		width: 0;
		height: 0;
		overflow: hidden;
		left: -7777px;
}
.progress_bg {
		position: relative;
		height: 16px;
		border-radius: 5px;
		overflow: hidden;
}
.progress_bar {
		overflow: hidden;
		max-width: 100%;
		background-color: #3B8378;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
}

.checkmark {
		position: relative;
}
.checkmark:before {
		position: absolute;
		right: -24px;
		margin-top: 4px;
		content: "";
		top: 0;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url("../imgs/mark.svg");
		width: 12px;
		height: 12px;
}

.button_green {
		overflow: hidden;
		position: relative;
		display: inline-block;
		border-radius: 100px;
		cursor: pointer;
}

.green_button_circle {
		background-color: #3B8378;
		border-radius: 1000px;
		position: absolute;
		left: 0;
		top: 0;
		width: 0px;
		height: 0px;
		margin-left: 0px;
		margin-top: 0px;
		pointer-events: none;
}

.button_green_inner {
		display: inline-block;
		background: #3B8378;
		color: #fff;
		font-size: 16px;
		font-weight: normal;
		text-align: center;
		border-radius: 100px;
		transition: 400ms;
		text-decoration: none;
		padding: 19px 46px;
		z-index: 100000;
}

.button_text_container {
		position: relative;
		z-index: 10000;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;
		font-size: 14px;
		letter-spacing: 0.25px;
}
.button_text_container img {
		margin-right: 10px;
}

.explode-circle {
		animation: explode 0.5s forwards;
}

.desplode-circle {
		animation: desplode 0.5s forwards;
}

@keyframes explode {
		0% {
				width: 0px;
				height: 0px;
				margin-left: 0px;
				margin-top: 0px;
				background-color: #3B8378;
		}
		100% {
				width: 500px;
				height: 500px;
				margin-left: -250px;
				margin-top: -200px;
				background-color: #323441;
		}
}
@keyframes desplode {
		0% {
				width: 400px;
				height: 400px;
				margin-left: -200px;
				margin-top: -200px;
				background-color: #323441;
		}
		100% {
				width: 0px;
				height: 0px;
				margin-left: 0px;
				margin-top: 0px;
				background-color: #3B8378;
		}
}
.button_white {
		overflow: hidden;
		position: relative;
		display: inline-block;
		border-radius: 100px;
		box-shadow: 0px 2px 8px rgba(134, 140, 144, 0.05);
		color: #323441;
		cursor: pointer;
}

.button-img {
		transition: all 0.3s ease;
}

.white_button_circle {
		background-color: #fff;
		border-radius: 1000px;
		position: absolute;
		left: 0;
		top: 0;
		width: 0px;
		height: 0px;
		margin-left: 0px;
		margin-top: 0px;
		pointer-events: none;
}

.button_white_inner {
		display: inline-block;
		background: #fff;
		color: #323441;
		font-size: 16px;
		font-weight: normal;
		text-align: center;
		border-radius: 100px;
		transition: 400ms;
		text-decoration: none;
		padding: 19px 46px;
		transition: color 0.3s ease;
		z-index: 100000;
}
.button_white_inner:hover {
		color: #fff;
}
.button_white_inner:hover .button-img {
		filter: invert(100%) sepia(62%) saturate(0%) hue-rotate(208deg) brightness(108%) contrast(101%);
}

.button_text_container {
		position: relative;
		z-index: 10000;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;
		font-size: 14px;
		letter-spacing: 0.25px;
}
.button_text_container img {
		margin-right: 10px;
}

.explode-circle-w {
		animation: explode-w 0.8s forwards;
}

.desplode-circle-w {
		animation: desplode-w 0.5s forwards;
}

@keyframes explode-w {
		0% {
				width: 0px;
				height: 0px;
				margin-left: 0px;
				margin-top: 0px;
				background-color: #fff;
		}
		100% {
				width: 600px;
				height: 600px;
				margin-left: -300px;
				margin-top: -250px;
				background-color: #3B8378;
		}
}
@keyframes desplode-w {
		0% {
				width: 400px;
				height: 400px;
				margin-left: -200px;
				margin-top: -200px;
				background-color: #3B8378;
		}
		100% {
				width: 0px;
				height: 0px;
				margin-left: 0px;
				margin-top: 0px;
				background-color: #fff;
		}
}
.button {
		background: #F8F9FC;
		border: 1px solid #F2F2F2;
		padding: 8px 24px;
		font-family: inherit;
		font-size: 12px;
		font-weight: 500;
		color: #323441;
		border-radius: 4px;
		transition: all 0.3s ease;
}
.button:hover {
		cursor: pointer;
}
.button_left-btn {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
}
.button_right-btn {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
}

button {
		border: 0;
		font-family: "Gilroy", Arial, sans-serif;
}
button:hover {
		cursor: pointer;
}

input, textarea {
		font-family: "Gilroy", Arial, sans-serif;
}

.selected {
		color: #979797 !important;
}

.flex {
		display: flex;
}

.activated {
		display: flex !important;
}

.button_lb {
		overflow: hidden;
		position: relative;
		display: inline-block;
		border-radius: 100px;
		box-shadow: 0px 2px 8px rgba(134, 140, 144, 0.05);
		color: #fff;
		background: rgba(248, 249, 252, 0.2);
		cursor: pointer;
		margin-left: 24px;
		margin-top: 14px;
}

.lb_button_circle {
		border-radius: 1000px;
		position: absolute;
		left: 0;
		top: 0;
		width: 0px;
		height: 0px;
		margin-left: 0px;
		margin-top: 0px;
		pointer-events: none;
}

.button_lb_inner {
		display: inline-block;
		background: rgba(248, 249, 252, 0.2);
		color: #fff;
		font-size: 16px;
		font-weight: normal;
		text-align: center;
		border-radius: 100px;
		transition: 400ms;
		text-decoration: none;
		padding: 11px 0;
		margin: 0 auto;
		width: 110px;
		transition: color 0.3s ease;
		z-index: 100000;
}
.button_lb_inner:hover {
		color: #323441;
}

.lb_button_text_container {
		position: relative;
		z-index: 10000;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		font-weight: 600;
		font-size: 14px;
		letter-spacing: 0.25px;
}

.explode-circle-lb {
		animation: explode-lb 0.8s forwards;
}

.desplode-circle-lb {
		animation: desplode-lb 0.5s forwards;
}

@keyframes explode-lb {
		0% {
				width: 0px;
				height: 0px;
				margin-left: 0px;
				margin-top: 0px;
				background-color: rgba(248, 249, 252, 0.2);
		}
		100% {
				width: 600px;
				height: 600px;
				margin-left: -300px;
				margin-top: -250px;
				background-color: #fff;
		}
}
@keyframes desplode-lb {
		0% {
				width: 400px;
				height: 400px;
				margin-left: -200px;
				margin-top: -200px;
				background-color: #fff;
		}
		100% {
				width: 0px;
				height: 0px;
				margin-left: 0px;
				margin-top: 0px;
				background-color: rgba(248, 249, 252, 0.2);
		}
}
.button_rb {
		overflow: hidden;
		position: relative;
		display: inline-block;
		border-radius: 100px;
		box-shadow: 0px 2px 8px rgba(134, 140, 144, 0.05);
		color: #fff;
		cursor: pointer;
		margin-right: 24px;
		margin-top: 14px;
}

.rb_button_circle {
		border-radius: 1000px;
		position: absolute;
		left: 0;
		top: 0;
		width: 0px;
		height: 0px;
		margin-left: 0px;
		margin-top: 0px;
		pointer-events: none;
}

.button_rb_inner {
		display: inline-block;
		background: #fff;
		color: #323441;
		font-size: 16px;
		font-weight: normal;
		text-align: center;
		border-radius: 100px;
		transition: 400ms;
		text-decoration: none;
		padding: 11px 0;
		margin: 0 auto;
		width: 110px;
		transition: color 0.3s ease;
		z-index: 100000;
}
.button_rb_inner:hover {
		color: #fff;
}

.rb_button_text_container {
		position: relative;
		z-index: 10000;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		font-weight: 600;
		font-size: 14px;
		letter-spacing: 0.25px;
}

.explode-circle-rb {
		animation: explode-rb 0.8s forwards;
}

.desplode-circle-rb {
		animation: desplode-rb 0.5s forwards;
}

@keyframes explode-rb {
		0% {
				width: 0px;
				height: 0px;
				margin-left: 0px;
				margin-top: 0px;
				background-color: #fff;
		}
		100% {
				width: 600px;
				height: 600px;
				margin-left: -300px;
				margin-top: -250px;
				background-color: #323441;
		}
}
@keyframes desplode-rb {
		0% {
				width: 400px;
				height: 400px;
				margin-left: -200px;
				margin-top: -200px;
				background-color: #323441;
		}
		100% {
				width: 0px;
				height: 0px;
				margin-left: 0px;
				margin-top: 0px;
				background-color: #fff;
		}
}
.header {
		background-color: #5BA4D7;
		height: 80px;
		width: 100%;
}
.header__inner {
		display: flex;
		align-items: center;
		height: 100%;
		justify-content: space-between;
}
.header__subscription {
		display: flex;
		flex-direction: column;
}
.header__subscription_title {
		font-weight: 700;
		color: #fff;
		padding-bottom: 2px;
}
.header__subscription_link {
		display: inline-block;
		color: #D6E9F5;
		width: max-content;
		text-decoration: none;
		font-weight: 500;
		font-size: 12px;
		letter-spacing: 0.25px;
		position: relative;
}
.header__subscription_link:before, .header__subscription_link:after {
		content: "";
		display: block;
		position: absolute;
		height: 1px;
		margin-bottom: -10px;
		width: 0;
}
.header__subscription_link:before {
		transition: width 0s ease, background 0.4s ease;
		left: 0;
		right: 0;
		bottom: 6px;
}
.header__subscription_link:after {
		right: 0;
		bottom: 6px;
		background: #D6E9F5;
		transition: width 0.4s ease;
}
.header__subscription_link:hover:before {
		width: 100%;
		background: #D6E9F5;
		transition: width 0.4s ease;
}
.header__subscription_link:hover:after {
		width: 100%;
		background: 0 0;
		transition: all 0s ease;
}
.header__account {
		position: relative;
		padding-right: 24px;
		display: flex;
		align-items: center;
}
.header__account:hover {
		cursor: pointer;
}
.header__account:before {
		content: "";
		position: absolute;
		width: 0px;
		height: 0px;
		border-color: transparent;
		border-style: solid;
		right: 0px;
		transform: rotate(180deg);
		margin-left: -5px;
		border-width: 0px 5px 5px;
		border-bottom-color: #323441;
}
.header__account__account_img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
}

.nav {
		display: flex;
		list-style: none;
		height: 100%;
		align-items: center;
}
.nav__menu {
		flex-direction: column;
		align-items: flex-start;
		position: absolute;
		left: 0;
		box-shadow: 0px 2px 8px rgba(134, 140, 144, 0.05);
		border-radius: 4px;
		background-color: #fff;
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s ease;
		min-width: 100%;
		max-width: 115%;
		margin-top: -5px;
		z-index: 9999;
}
.nav__menu_inner {
		padding: 12px;
		padding-top: 22px;
		word-wrap: break-word;
		list-style: none;
}
.nav__menu_item {
		position: relative;
		padding-left: 45px;
}
.nav__menu_item:before {
		position: absolute;
		background-image: url("../imgs/link.svg");
		background-size: contain;
		width: 12px;
		height: 11px;
		margin-top: 6px;
		left: 15px;
		content: "";
		opacity: 0.4;
}
.nav__menu_link {
		display: inline-block;
		padding: 10px 0;
		padding-top: 0;
		color: #323441;
		position: relative;
}
.nav__menu_link:before, .nav__menu_link:after {
		content: "";
		display: block;
		position: absolute;
		height: 1px;
		width: 0;
}
.nav__menu_link:before {
		transition: width 0s ease, background 0.4s ease;
		left: 0;
		right: 0;
		bottom: 6px;
}
.nav__menu_link:after {
		right: 0;
		bottom: 6px;
		background: #323441;
		transition: width 0.4s ease;
}
.nav__menu_link:hover:before {
		width: 100%;
		background: #323441;
		transition: width 0.4s ease;
}
.nav__menu_link:hover:after {
		width: 100%;
		background: 0 0;
		transition: all 0s ease;
}
.nav__menu_item a {
		color: #323441;
		font-weight: 600;
		letter-spacing: 0.25px;
		font-size: 14px;
		text-decoration: none;
}
.nav__wrapper {
		height: 100%;
		position: relative;
}
.nav__wrapper:hover .nav__menu {
		opacity: 1;
		visibility: visible;
}
.nav__arrow {
		position: relative;
		padding-right: 24px;
}
.nav__arrow:before {
		content: "";
		position: absolute;
		width: 0px;
		height: 0px;
		border-color: transparent;
		border-style: solid;
		right: 22px;
		transform: rotate(180deg);
		margin-left: -5px;
		border-width: 0px 5px 5px;
		border-bottom-color: #fff;
}
.nav__item {
		height: 100%;
		align-self: center;
		display: flex;
		align-items: center;
		padding-left: 24px;
		color: #fff;
		text-decoration: none;
		transition: background 0.3s ease;
}
.nav__item:hover {
		background-color: #6FB0DC;
}
.nav__item_wrap {
		position: relative;
		letter-spacing: 0.25px;
		font-weight: 600;
		font-size: 14px;
		height: 100%;
		display: flex;
		align-items: center;
		padding-left: 32px;
		padding-right: 24px;
}
.nav__item_img {
		position: absolute;
		left: 0;
		opacity: 0.4;
		z-index: 1;
		pointer-events: none;
}

.account__link_wrapper {
		position: relative;
		margin-bottom: 8px;
		padding-left: 24px;
}
.account__link_exit {
		padding: 16px;
		background-color: #fff;
		border-top: 1px solid #E6E5E5;
}
.account__popup {
		z-index: 99999;
		position: absolute;
		right: 0;
		top: 93px;
		width: 320px;
		box-shadow: 0px 2px 8px rgba(134, 140, 144, 0.05);
		border-radius: 4px;
		right: 15px;
		display: none;
}
.account__popup:before {
		content: "";
		position: absolute;
		width: 0px;
		height: 0px;
		border-color: transparent;
		border-style: solid;
		right: 38px;
		margin-top: -5px;
		margin-left: -5px;
		border-width: 0px 5px 5px;
		border-bottom-color: #5BA4D7;
}
.account__top {
		color: #fff;
		padding: 16px;
		font-weight: 500;
		font-size: 14px;
		letter-spacing: 0.25px;
		background-color: #5BA4D7;
		border-radius: 4px 4px 0 0;
}
.account__top_name {
		font-weight: 600;
}
.account__top_name, .account__top_email {
		padding-bottom: 8px;
}
.account__bottom {
		background-color: #fff;
		padding: 16px;
		font-size: 14px;
		letter-spacing: 0.25px;
		color: #323441;
}
.account__bottom_subscribtion {
		font-weight: 700;
		margin-bottom: 7px;
}
.account__bottom_links {
		margin: 16px 0;
		margin-bottom: 8px;
		display: flex;
		flex-direction: column;
}
.account__bottom_link {
		position: relative;
		text-decoration: none;
		color: #323441;
		font-weight: 500;
		display: inline-block;
		width: max-content;
}
.account__bottom_link:before, .account__bottom_link:after {
		content: "";
		display: block;
		position: absolute;
		height: 1px;
		width: 0;
		margin-bottom: -10px;
}
.account__bottom_link:before {
		transition: width 0s ease, background 0.4s ease;
		left: 0;
		right: 0;
		bottom: 6px;
}
.account__bottom_link:after {
		right: 0;
		bottom: 6px;
		background: #323441;
		transition: width 0.4s ease;
}
.account__bottom_link:hover:before {
		width: 100%;
		background: #323441;
		transition: width 0.4s ease;
}
.account__bottom_link:hover:after {
		width: 100%;
		background: 0 0;
		transition: all 0s ease;
}
.account__bottom_subscribe {
		position: relative;
		color: #3B8378;
		font-weight: 600;
		text-decoration: none;
		font-size: 12px;
}
.account__bottom_subscribe:before, .account__bottom_subscribe:after {
		content: "";
		display: block;
		position: absolute;
		height: 1px;
		width: 0;
		margin-bottom: -10px;
}
.account__bottom_subscribe:before {
		transition: width 0s ease, background 0.4s ease;
		left: 0;
		right: 0;
		bottom: 6px;
}
.account__bottom_subscribe:after {
		right: 0;
		bottom: 6px;
		background: #3B8378;
		transition: width 0.4s ease;
}
.account__bottom_subscribe:hover:before {
		width: 100%;
		background: #3B8378;
		transition: width 0.4s ease;
}
.account__bottom_subscribe:hover:after {
		width: 100%;
		background: 0 0;
		transition: all 0s ease;
}
.account__bottom_balance-wrapper {
		margin-top: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
}
.account__bottom_balance {
		font-weight: 500;
}
.account__bottom_balance span {
		font-weight: 700;
}

.icon:before {
		position: absolute;
		left: 0;
		margin-top: 3px;
		content: "";
		top: 0;
		background-size: contain;
}

.icon-pay:before {
		background-image: url("../imgs/pay.svg");
		width: 12px;
		height: 10px;
}

.icon-settings:before {
		background-image: url("../imgs/settings.svg");
		width: 12px;
		height: 12px;
}

.icon-support {
		margin-bottom: 0;
}
.icon-support:before {
		background-image: url("../imgs/support.svg");
		width: 10px;
		height: 12px;
}

.icon-exit {
		margin-bottom: 0;
}
.icon-exit:before {
		background-image: url("../imgs/exit.svg");
		width: 9px;
		height: 12px;
}

.footer {
		display: flex;
		justify-content: center;
		padding: 72px 0;
		font-size: 12px;
}
.footer a {
		text-decoration: none;
		color: #323441;
		margin: 0 28px;
		position: relative;
}
.footer a:before, .footer a:after {
		content: "";
		display: block;
		position: absolute;
		height: 1px;
		width: 0;
		margin-bottom: -10px;
}
.footer a:before {
		transition: width 0s ease, background 0.4s ease;
		left: 0;
		right: 0;
		bottom: 6px;
}
.footer a:after {
		right: 0;
		bottom: 6px;
		background: #323441;
		transition: width 0.4s ease;
}
.footer a:hover:before {
		width: 100%;
		background: #323441;
		transition: width 0.4s ease;
}
.footer a:hover:after {
		width: 100%;
		background: 0 0;
		transition: all 0s ease;
}

.main {
		min-height: 700px;
}

.mainpage__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 46px;
		margin-bottom: 24px;
}
.mainpage__info:hover {
		cursor: pointer;
}
.mainpage__status {
		padding: 24px;
		background-color: #fff;
		box-shadow: 0px 2px 8px rgba(134, 140, 144, 0.05);
		border-radius: 10px;
}
.mainpage__status_info {
		font-size: 12px;
		font-weight: 500;
		display: flex;
}
.mainpage__status_info p {
		margin-right: 16px;
}
.mainpage__subs {
		display: flex;
		align-items: center;
		justify-content: space-between;
}
.mainpage__subs span {
		color: #3B8378;
}
.mainpage__sites {
		background-color: #fff;
		box-shadow: 0px 2px 8px rgba(134, 140, 144, 0.05);
		padding: 24px;
		border-radius: 10px;
		margin-bottom: 32px;
}
.mainpage__sites_title {
		font-size: 16px;
}
.mainpage__sites_info {
		flex-direction: column;
		height: inherit;
		display: flex;
		margin-left: 16px;
		justify-content: space-between;
}
.mainpage__sites_info p {
		font-weight: 500;
		color: #060607;
}
.mainpage__sites_info p span {
		font-weight: 700;
}
.mainpage__sites_item {
		height: 46px;
		display: flex;
		position: relative;
		margin-bottom: 16px;
}
.mainpage__sites_item:last-child {
		margin-bottom: 0;
}
.mainpage__sites_item-more {
		position: absolute;
		width: 24px;
		height: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
		right: 0;
		top: 0;
		transition: all 0.3s ease;
}
.mainpage__sites_item-more:hover {
		cursor: pointer;
		filter: invert(1);
}
.mainpage__sites_item-img {
		width: 46px;
		height: 46px;
		border-radius: 4px;
}
.mainpage__stats {
		margin-top: 24px;
		border-radius: 10px;
		display: flex;
}
.mainpage__stats_left {
		display: flex;
		flex-direction: column;
		flex-basis: 19%;
		margin-right: 25px;
}
.mainpage__stats_left-item {
		font-size: 14px;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: space-between;
		min-height: 120px;
		color: #fff;
		box-shadow: 0px 2px 8px rgba(134, 140, 144, 0.05);
		border-radius: 10px;
		margin-top: 8px;
		background-color: #3B8378;
}
.mainpage__stats_left-item h3 {
		font-size: 32px;
		height: 55%;
		display: flex;
		align-items: center;
		justify-content: center;
}
.mainpage__stats_left-item:first-child {
		margin-top: 0;
}
.mainpage__stats_right {
		box-shadow: 0px 2px 8px rgba(134, 140, 144, 0.05);
		background-color: #fff;
		border-radius: 10px;
		flex-basis: 79%;
		max-height: 504px;
}
.mainpage__stats_right-double_button {
		display: flex;
		margin-right: 16px;
}
.mainpage__stats_right-buttons {
		display: flex;
}
.mainpage__stats_right__inner {
		padding: 24px;
}
.mainpage__stats_right-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
}
.mainpage__stats_right-top h3 {
		font-size: 16px;
		font-weight: 600;
}

.current__stats {
		display: flex;
		justify-content: center;
}
.current__stats_desc {
		color: #323441;
		font-size: 12px;
		font-weight: 500;
}
.current__stats_item {
		display: flex;
		width: max-content;
		flex-direction: column;
		text-align: center;
		padding-left: 48px;
		padding-right: 48px;
}
.current__stats_item:nth-child(2) {
		border-left: 1px solid #F3F3F3;
		border-right: 1px solid #F3F3F3;
}
.current__stats_item:nth-child(3) {
		border-right: 1px solid #F3F3F3;
}
.current__stats_item h3 {
		font-size: 32px;
		font-weight: 700;
		margin-bottom: 8px;
}

.ml-24 {
		margin-left: 24px;
}

.mb-10 {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
		height: 45%;
}

.medium {
		font-weight: 500;
}

.semibold {
		font-weight: 600;
		margin-top: 4px;
}

.mymailing .select2-container--default .select2-selection--single .select2-selection__rendered {
		padding: 8px;
		padding-right: 24px;
		color: #fff;
}
.mymailing .select2-container--default .select2-selection--single {
		background-color: transparent;
		border: 1px solid rgba(242, 242, 242, 0.2);
}
.mymailing .select2-container--default .select2-results__option--selected {
		background-color: #3B8378;
		color: #323441 !important;
}
.mymailing .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
		background-color: #3B8378;
		color: white;
		opacity: 0.8;
}
.mymailing .select2-results__option--selectable {
		background-color: #3B8378;
		color: #fff;
}
.mymailing .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
		border-color: transparent transparent #fff transparent;
}
.mymailing .select2-container--default .select2-selection--single .select2-selection__arrow b {
		border-color: #fff transparent transparent transparent;
}
.mymailing .select2-dropdown {
		border: 1px solid rgba(242, 242, 242, 0.2);
		background-color: #3B8378;
}

.mails {
		position: relative;
}
.mails__sites {
		height: auto;
		display: flex;
		justify-content: space-between;
		margin-bottom: 24px;
}
.mails__sites_stats {
		display: flex;
}
.mails__sites_stats-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-left: 24px;
		height: max-content;
		padding-right: 24px;
}
.mails__sites_stats-item:nth-child(2) {
		border-left: 1px solid #F3F3F3;
		border-right: 1px solid #F3F3F3;
}
.mails__sites_stats-item h3 {
		font-weight: 500;
		font-size: 32px;
		margin-bottom: 6px;
}
.mails__sites_stats-item p {
		font-weight: 500;
		font-size: 12px;
}
.mails__sites_info a {
		color: #5BA4D7;
		margin-bottom: 10px;
		font-weight: 500;
		position: relative;
		text-decoration: none;
		width: max-content;
}
.mails__sites_info a:before, .mails__sites_info a:after {
		content: "";
		display: block;
		position: absolute;
		height: 1px;
		margin-bottom: -10px;
		width: 0;
}
.mails__sites_info a:before {
		transition: width 0s ease, background 0.4s ease;
		left: 0;
		right: 0;
		bottom: 6px;
}
.mails__sites_info a:after {
		right: 0;
		bottom: 6px;
		background: #5BA4D7;
		transition: width 0.4s ease;
}
.mails__sites_info a:hover:before {
		width: 100%;
		background: #5BA4D7;
		transition: width 0.4s ease;
}
.mails__sites_info a:hover:after {
		width: 100%;
		background: 0 0;
		transition: all 0s ease;
}
.mails__sites_info p {
		margin-bottom: 8px;
		font-size: 14px;
}
.mails__sites_info p img {
		margin-right: 12px;
}
.mails__filter {
		display: flex;
		background-color: #fff;
		box-shadow: 0px 2px 8px rgba(134, 140, 144, 0.05);
		border-radius: 100px;
		align-items: center;
		margin-bottom: 24px;
		position: relative;
}
.mails__filter_btn {
		padding: 15px 40px;
}
.mails__date {
		display: flex;
		font-weight: 500;
		position: relative;
		font-size: 14px;
}
.mails__date p {
		display: flex;
		align-items: center;
		margin-left: 46px;
		display: none;
		transition: all 0.3s ease;
}
.mails__date p img {
		margin-left: 8px;
		transition: opacity 0.3s ease;
}
.mails__date p img:hover {
		cursor: pointer;
		opacity: 0.8;
}
.mails__date p span {
		margin-left: 6px;
}
.mails__reset {
		display: none;
		background-color: #fff;
		box-shadow: 0px 2px 8px rgba(134, 140, 144, 0.05);
		position: absolute;
		align-self: center;
		text-align: center;
		top: -35px;
		left: 50%;
		width: max-content;
		border-radius: 4px;
		transform: translate(-50%, -50%);
}
.mails__reset_inner {
		position: relative;
		padding: 10px 16px;
		transition: all 0.3s ease;
		border-radius: 4px;
		font-weight: 500;
		font-size: 12px;
}
.mails__reset_inner:hover {
		cursor: pointer;
		box-shadow: inset 0px 1px 4px rgba(134, 140, 144, 0.2);
}
.mails__reset:before {
		content: "";
		position: absolute;
		width: 0px;
		height: 0px;
		border-color: transparent;
		border-bottom-color: transparent;
		border-style: solid;
		bottom: -8px;
		transform: rotate(180deg);
		margin-left: -18px;
		border-width: 0px 18px 18px;
		border-bottom-color: #fff;
}

.filter__input {
		background-color: transparent;
		border-radius: 4px;
		border: 1px solid rgba(242, 242, 242, 0.2);
		padding: 8px;
		color: #fff;
}
.filter__popup {
		background-color: #3B8378;
		position: absolute;
		left: 0;
		border-radius: 4px;
		box-shadow: 0px 2px 8px rgba(134, 140, 144, 0.05);
		color: #fff;
		top: 150px;
		width: 332px;
		display: none;
		z-index: 9999;
}
.filter__popup_block {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 16px;
}
.filter__popup_block:last-child {
		margin-bottom: 0;
}
.filter__popup_label {
		font-weight: 500;
		font-size: 14px;
		margin-bottom: 8px;
}
.filter__popup__inner {
		display: flex;
		position: relative;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 24px;
}
.filter__popup__inner:before {
		content: "";
		position: absolute;
		width: 0px;
		height: 0px;
		border-color: transparent;
		border-style: solid;
		left: 56px;
		top: -10px;
		margin-left: -5px;
		border-width: 0px 14px 14px;
		border-bottom-color: #3B8378;
}

.w-50 {
		width: 47%;
}