@font-face {
    font-family: 'Aprille';
    src: url("../font/Aprille.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

::-webkit-scrollbar {
	display: block;
    background: #222;
    width: 8px;
}

::-webkit-scrollbar-thumb {
	background: #fff4;
}

::-webkit-scrollbar-thumb:hover {
	background: #fff5;
}

::-webkit-scrollbar-thumb:active {
	background: #fff6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --max-w: 390px;
}

html, body {
    overflow-x: hidden;
    scrollbar-color: #333 #111;
    scrollbar-width: none;
}

body {
    background-color: #333;
    background: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    min-height: 650px;
    color: #fff;
    font-family: 'Aprille', serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: -60px;
}

.header__desc {
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
    max-width: var(--max-w);
    width: 100%;
    font-weight: 400;
}

.header__hidden {
    max-width: var(--max-w);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.header__hidden img {
    width: 32px;
    transition: opacity .3s ease;
    margin-left: 16px;
}

.header__hidden img:hover {
    cursor: pointer;
    opacity: .7;
}

.header__title {
    font-size: 60px;
    text-align: center;
    line-height: 35px;
    font-weight: 400;
}

.ttu {
    text-transform: uppercase;
}

.pro {
    font-size: 30px;
}

.content__inner_logo {
    width: max-content;
    padding: 70px;
    padding-left: 0;
    border-radius: 100%;
    pointer-events: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    position: relative;
}

.content__inner_language {
    width: max-content;
    padding: 70px;
    padding-left: 0;
    border-radius: 100%;
    pointer-events: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    position: relative;
}

.logo_img {
    max-width: 440px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.line_img {
    position: absolute;
    top: -15px;
    right: 0;
}

.content__inner {
    position: relative;
    transform: scale(.9);
    margin-left: 15px;
}

.item_text {
    font-size: 28px;
    margin-left: 20px;
    padding-bottom: 4px;
    line-height: 30px;
    transition: border-bottom .1s ease-in-out;
    width: max-content;
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
}

.content__inner_item {
    position: absolute;
    display: flex;
    align-items: center;
    background: url('../img/ellipse.png') no-repeat center;
    padding-right: 90px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    transform: scale(.9);
    max-width: 333px;
    width: 100%;
}


.rus .content__inner_item {
    padding-right: 64px;
}
.rus .item_text {
    margin-left: 15px;
    margin-bottom: 5px;
}

.content__inner_item:hover {
    cursor: pointer;
}

.content__inner_item:hover .item_text {
    border-bottom: 3px solid #fff;
}

.content__inner_inner {
    max-height: 142px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    padding-right: 20px;
}

.content__inner_item-desc {
    background-color: rgba(0,0,0,.7);
    padding: 15px;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
    max-width: 453px;
    font-size: 20px;
    position: absolute;
    display: none;
    width: 100%;
}

.content__inner_item_otziv-desc {
    background-color: rgba(0,0,0,.7);
    padding: 15px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    max-width: 553px;
    max-height: 400px;
    font-size: 20px;
    position: absolute;
    display: none;
    width: 100%;
}

.content__item-desc_title {
    margin-bottom: 15px;
    font-size: 20px;
}

.feedback_img {
    margin-bottom: 10px;
    width: inherit;
}

.photo_img {
    max-width: 110px;
    width: 100%;
    min-height: 75px;
    margin-bottom: 10px;
}

.photo_img:hover {
    cursor: pointer;
    opacity: .9;
}

.fancybox-container {
    height: 100vh !important;
}

.fancybox-active {
    height: 100vh !important;
}

.feedback_img:last-child {
    margin-bottom: 0;
}

.posd-1 {
    top: -75px;
    left: 775px;
}

.posd-2 {
    top: 20px;
    left: 815px;
}

.posd-3 {
    top: 160px;
    left: 915px;
}

.posd-4 {
    top: 290px;
    left: 915px;
}

.posd-5 {
    top: 345px;
    left: 860px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.posd-6 {
    top: 385px;
    left: 815px;
    padding-right: 20px;
    padding-bottom: 40px;
}
.posd-10 {
    top: 5px;
    right: 5px;

    text-align: right;

}

.content__inner_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 160px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    padding-right: 20px;
}

.content__inner_item img {
    max-width: 74px;
    width: 100%;
    min-width: 74px;
}

.pos-1 {
    top: -60px;
    left: 385px;
}

.pos-2 {
    top: 50px;
    left: 475px;
}

.pos-3 {
    top: 165px;
    left: 540px;
}

.pos-4 {
    top: 282px;
    left: 540px;
}

.pos-5 {
    top: 400px;
    left: 480px;
}

.pos-6 {
    top: 515px;
    left: 390px;
}


.footer {
    text-align: center;
}

.footer img {
    max-width: 180px;
}

@keyframes visible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.visible {
    animation: visible .7s forwards;
    display: block;
}


@media screen and (max-height: 901px) {
    .content__inner {
        transform: scale(.85);
        margin-left: -30px;
    }
    .header {
        margin-top: 15px;
    }
}

@media screen and (max-height: 770px) {
    .content__inner {
        transform: scale(.75);
        margin-left: -60px;
    }
    .content__inner_item-desc {
        transform: scale(1.15);
    }
    .footer img {
        max-width: 175px;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1400px) {
    .posd-gen {
        margin-left: 50px;
    }
    .header__desc {
        font-size: 30px;
    }
}

@media screen and (max-width: 1300px) {
    .content__inner {
        transform: scale(.8);
        margin-left: -30px;
    }
    .header__desc {
        font-size: 28px;
    }
    .header__title {
        font-size: 54px;
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media screen and (max-width: 1050px) {
    .header__desc {
        font-size: 20px;
    }
    .header__title {
        font-size: 48px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .content__inner_logo {
        padding: 0;
    }
    .line_img {
        display: none;
    }
    .content {
        justify-content: center;
    }
    .content__inner {
        margin-left: 0px;
    }
    .content__inner_item {
        padding: 0;
        flex-direction: column;
        background: none;
        width: max-content;
    }
    .rus .content__inner_item {
        padding: 0px;
    }
    .rus .item_text {
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .pos-2 {
        top: -65px;
        left: -55px;
    }
    .pos-1 {
        top: -120px;
        left: 170px;
    }
    .pos-3 {
        top: -65px;
        left: 385px;
    }
    .pos-4 {
        top: 350px;
        left: 380px;
    }
    .pos-5 {
        top: 450px;
        left: 160px;
    }
    .pos-6 {
        left: -42px;
        top: 350px;
    }
    .posd-gen {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
    .item_text {
        margin-left: 0;
    }
    .content__inner_item-desc {
        background: rgba(0,0,0,.9);
        font-size: 22px;
    }
    .rus .pos-1 {
        top: -120px;
        left: 145px;
      }
      
      .rus .pos-2 {
        top: -65px;
        left: -75px;
      }
      .rus .pos-5 {
          left: 167px;
      }

      .rus .pos-4 {
          left: 382px;
      }
      
      .rus .pos-6 {
        left: -78px;
      }
}

@media screen and (max-width: 850px) {
    body {
        padding-left: 15px;
        padding-right: 15px;
    }
    #fb-root {
        position: absolute;
        left: 0;
        top: 0;
    }
    .header__hidden {
        justify-content: flex-start;
        margin-bottom: 5px;
    }
    .header__hidden img {
        width: 22px;
    }
    .header {
        flex-direction: column-reverse;
        justify-content: center;
       margin-top: 10px;
    }
    .header__title {
        margin: 0;
        text-shadow: 0 1px 16px rgba(0, 0, 0, 1);
    }
    .header__desc {
        margin-top: 10px;
        max-width: 100%;
        text-align: center;
        text-shadow: 0 1px 16px rgba(0, 0, 0, 1);
    }
    .item_text {
        text-shadow: 0 1px 16px rgba(0, 0, 0, 1);
    }
    .footer img {
        max-width: 150px;
    }
    .content__inner_item-desc {
        padding-left: 40px;
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 470px) {
    .content__inner {
        transform: scale(.6);
    }
    .header__title {
        font-size: 44px;
    }
    .content__item-desc_title {
        font-size: 24px;
    }
    body {
        min-height: auto;
    }
    .photo_img {
        width: 185px;
        max-width: max-content;
        min-height: auto;
        height: 110px;
    }
    .content__inner_item-desc {
        font-size: 27px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: -15px;
    }
    .content__inner_inner {
        padding-left: 10px;
        padding-right: 10px;
        max-height: 300px;
        max-width: 300;
    }
    .content__inner_wrap {
        padding-left: 10px;
        padding-right: 10px;
        max-height: 200px;
    }
    .pro {
        font-size: 24px;
    }
    .footer img {
        max-width: 100px;
    }
}

@media screen and (max-width: 350px) {
    .header__title {
        font-size: 38px;
    }
    .content__inner {
        transform: scale(.55);
    }
}