.scale-enter-active {
	transition: opacity 0.5s ease, transform 0.5s ease;
}

.scale-enter {
	opacity: 0;
	transform: scale(85%);
}

.scale-leave-active {
	opacity: 0;
	visibility: collapse;
}

// 

.translate-enter-active {
	transition: opacity 0.5s ease, transform 0.5s ease;
}

.translate-enter {
	opacity: 0;
	transform: scale(85%);
}

.translate-leave-active {
	opacity: 0;
	visibility: collapse;
}

//

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
	opacity: 0;
}
