@import "animations";
@import "fonts";
@import "search";
@import "results";

.wrapper {
	width: 100%;
	min-height: 100vh;
	padding: 35px 20px;
	background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);

	&.sunny {
		background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
	}

	&.snow {
		background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
	}

	&.clouds {
		background: linear-gradient(to left, #bdbbbe 0%, #9d9ea3 100%),
			radial-gradient(
				88% 271%,
				rgba(255, 255, 255, 0.25) 0%,
				rgba(254, 254, 254, 0.25) 1%,
				rgba(0, 0, 0, 0.25) 100%
			),
			radial-gradient(
				50% 100%,
				rgba(255, 255, 255, 0.3) 0%,
				rgba(0, 0, 0, 0.3) 100%
			);
		background-blend-mode: normal, lighten, soft-light;
	}

	&.rain {
		background-image: linear-gradient(to bottom, #6a85b6 0%, #bac8e0 100%);
	}
}

.container {
	margin: 0 auto;
	max-width: 500px;
	width: 100%;
	position: relative;
	z-index: 3;
}

a,
img,
button {
	color: #fff;
}

button,
input {
	box-shadow: none;
	border: none;
}

::placeholder {
	opacity: 1;
}

header,
section {
	border-radius: 18px;
	background: rgba(80, 80, 80, 0.4);
	color: #fff;
}

.header {
	margin-bottom: 30px;
}

section {
	padding: 20px;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}
}
