.logo {
	display: flex;
	justify-content: center;

	& img {
		width: 300px;
		max-width: 80%;
	}
}

.placeholder {
	padding: 60px 20px;
}

.city {
	display: inline-flex;
	align-items: center;
	margin-bottom: 24px;
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
	text-overflow: ellipsis;
	overflow: hidden;

	& small {
		margin-left: 10px;
	}
}

.content {
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&--grid {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 30px;
			margin-bottom: 30px;
		}
	}
}

.temp {
	font-size: 80px;
	font-family: "SF";
	font-weight: 700;
	line-height: 1;
	margin-right: auto;

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		&:last-child {
			margin-right: -15px;
		}
	}

	&-icon {
		top: 0;
		transform: translateY(-2px);
	}

	&-desc {
		max-width: 95px;
		text-align: center;
		margin-top: -20px;
		overflow: hidden;
		text-overflow: ellipsis;

		&::first-letter {
			text-transform: capitalize;
		}
	}
}

.info {
	&__wrapper {
		display: flex;
		flex-direction: column;
		flex-basis: 30%;

		& dt {
			font-weight: 700;
			margin-bottom: 8px;
		}
	}
}

.time {
	&__wrapper {
		flex-basis: 50%;
		text-align: center;

		& dt {
			font-weight: 700;
			margin: 8px 0;
		}

		& img {
			width: 35px;
		}
	}
}

.fz-sm {
	font-size: 14px;
}
