$black: #060607;
$darkblue: #323441;
$gray: #F8F9FC;
$white: #fff;
$blue: #5BA4D7;
$light-blue: #D6E9F5;
$blue-hover: #6FB0DC;
$green: #3B8378;
$bg: #F8F9FC;
$lime: #4AB731;
$shadow-inset: inset 0px 1px 4px rgba(134, 140, 144, 0.2);
$shadow: 0px 2px 8px rgba(134, 140, 144, 0.05);
$blue-gradient: linear-gradient(170deg, #D6E9F5 -0.37%, #ADD2EB 97%);

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    outline: none;
}

::selection {
    background-color: $blue-hover;
    color: $white;
}

a,
button,
img {
    user-select: none;
}

body,
html {
    cursor: default;
    background-color: $bg;
    color: $darkblue;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    overflow-x: hidden;
    letter-spacing: 0.25px;
    font-family: 'Gilroy', sans-serif;
}

.container {
    max-width: 1196px;
    width: auto;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    height: inherit;
}

.title {
    font-weight: bold;
    font-size: 32px;
    color: $black;
    max-width: 75%;
}

.subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    margin-top: 32px;
    margin-bottom: 24px;
}

.percent {
    font-weight: 500;
    font-size: 12px;
}

@for $i from 0 through 100 {
    .progress progress[value="#{$i}"] {
        &~.progress_bg .progress_bar {
            width: $i * 1%
        }
    }
}

input[type="checkbox"] {
    position: relative;
    width: 100%;
    max-width: 16px;
    min-width: 16px;
    height: 16px;
    color: $black;
    border: 2px solid #979797;
    border-radius: 1px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: 0;
    cursor: pointer;

    &::before {
        position: absolute;
        content: '';
        display: block;
        top: .5px;
        left: 4px;
        width: 2.5px;
        height: 7px;
        border-style: solid;
        border-color: $green;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
        transition: all .1s ease;
    }

    &:checked {
        color: $white;
        border-color: $green;
        background: $white;

        &::before {
            opacity: 1;
        }
    }
}

input[type="radio"] {
    position: relative;
    width: 100%;
    max-width: 16px;
    min-width: 16px;
    height: 16px;
    color: $black;
    border: 2px solid #979797;
    border-radius: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: 0;
    cursor: pointer;

    &::before {
        position: absolute;
        content: '';
        display: block;
        top: 2px;
        left: 2px;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        border-color: $green;
        background-color: $green;
        transform: rotate(45deg);
        opacity: 0;
        transition: all .1s ease;
    }

    &:checked {
        color: $white;
        border-color: $green;
        background: $white;

        &::before {
            opacity: 1;
        }
    }
}

.label-checkbox {
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
    color: $black;
    font-weight: 500;
    width: max-content;
    margin-left: 12px;
}

.progress {
    overflow: hidden;
    position: relative;
    box-shadow: $shadow-inset;
    height: 16px;
    margin: 18px 0;
    border-radius: 100px;
    z-index: 1;

    progress {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        left: -7777px;
    }

    &_bg {
        position: relative;
        height: 16px;
        border-radius: 5px;
        overflow: hidden;
    }

    &_bar {
        overflow: hidden;
        max-width: 100%;
        background-color: $green;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
    }
}

.checkmark {
    position: relative;

    &:before {
        position: absolute;
        right: -24px;
        margin-top: 4px;
        content: '';
        top: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../imgs/mark.svg');
        width: 12px;
        height: 12px;
    }
}

.button_green {
    user-select: none;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 100px;
    cursor: pointer;
}

.green_button_circle {
    background-color: $green;
    border-radius: 1000px;
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    pointer-events: none;
}

.button_green_inner {
    display: inline-block;
    background: $green;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    border-radius: 100px;
    transition: 400ms;
    text-decoration: none;
    padding: 19px 46px;
    z-index: 100000;
}

.button_text_container {
    position: relative;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.25px;

    & img {
        margin-right: 10px;
    }
}

.explode-circle {
    animation: explode 0.5s forwards;
}

.desplode-circle {
    animation: desplode 0.5s forwards;

}

@keyframes explode {
    0% {
        width: 0px;
        height: 0px;
        margin-left: 0px;
        margin-top: 0px;
        background-color: $green;
    }

    100% {
        width: 500px;
        height: 500px;
        margin-left: -250px;
        margin-top: -200px;
        background-color: $darkblue;
    }
}

@keyframes desplode {
    0% {
        width: 400px;
        height: 400px;

        margin-left: -200px;
        margin-top: -200px;
        background-color: $darkblue;
    }

    100% {
        width: 0px;
        height: 0px;
        margin-left: 0px;
        margin-top: 0px;
        background-color: $green
    }
}

.button_white {
    user-select: none;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 100px;
    box-shadow: $shadow;
    color: $darkblue;
    cursor: pointer;
}

.button-img {
    transition: all .3s ease;
}

.white_button_circle {
    background-color: $white;
    border-radius: 1000px;
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    pointer-events: none;
}

.button_white_inner {
    display: inline-block;
    background: $white;
    color: $darkblue;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    border-radius: 100px;
    transition: 400ms;
    text-decoration: none;
    padding: 19px 46px;
    transition: color .3s ease;
    z-index: 100000;

    &:hover {
        color: $white;
    }

    &:hover .button-img {
        filter: invert(100%) sepia(62%) saturate(0%) hue-rotate(208deg) brightness(108%) contrast(101%);
    }
}

.button_text_container {
    position: relative;
    user-select: none;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.25px;

    & img {
        margin-right: 10px;
    }
}

.explode-circle-w {
    animation: explode-w 0.8s forwards;
}

.desplode-circle-w {
    animation: desplode-w 0.5s forwards;
}

@keyframes explode-w {
    0% {
        width: 0px;
        height: 0px;
        margin-left: 0px;
        margin-top: 0px;
        background-color: $white;
    }

    100% {
        width: 600px;
        height: 600px;
        margin-left: -300px;
        margin-top: -250px;
        background-color: $green;
    }
}

@keyframes desplode-w {
    0% {
        width: 400px;
        height: 400px;
        margin-left: -200px;
        margin-top: -200px;
        background-color: $green;
    }

    100% {
        width: 0px;
        height: 0px;
        margin-left: 0px;
        margin-top: 0px;
        background-color: $white
    }
}

.button {
    background: #F8F9FC;
    border: 1px solid #F2F2F2;
    padding: 8px 24px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    color: $darkblue;
    border-radius: 4px;
    transition: all .3s ease;

    &:hover {
        cursor: pointer;
    }


    &_left-btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &_right-btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

button {
    border: 0;
    font-family: 'Gilroy', Arial, sans-serif;

    &:hover {
        cursor: pointer;
    }
}

input,
textarea {
    font-family: 'Gilroy', Arial, sans-serif;
}

.selected {
    color: #979797 !important;
}

.flex {
    display: flex;
}

.activated {
    display: flex !important;
}




.button_lb {
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 100px;
    box-shadow: $shadow;
    color: $white;
    user-select: none;
    background: rgba(248, 249, 252, 0.2);
    cursor: pointer;
    margin-left: 24px;
    margin-top: 14px;
}

.lb_button_circle {
    border-radius: 1000px;
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    pointer-events: none;
}

.button_lb_inner {
    display: inline-block;
    background: rgba(248, 249, 252, 0.2);
    color: $white;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    border-radius: 100px;
    transition: 400ms;
    text-decoration: none;
    padding: 11px 0;
    margin: 0 auto;
    width: 110px;
    transition: color .3s ease;
    z-index: 100000;

    &:hover {
        color: $darkblue;
    }
}

.lb_button_text_container {
    position: relative;
    z-index: 10000;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.25px;
}

.explode-circle-lb {
    animation: explode-lb 0.8s forwards;
}

.desplode-circle-lb {
    animation: desplode-lb 0.5s forwards;
}

@keyframes explode-lb {
    0% {
        width: 0px;
        height: 0px;
        margin-left: 0px;
        margin-top: 0px;
        background-color: rgba(248, 249, 252, 0.2);
    }

    100% {
        width: 600px;
        height: 600px;
        margin-left: -300px;
        margin-top: -250px;
        background-color: $white;
    }
}

@keyframes desplode-lb {
    0% {
        width: 400px;
        height: 400px;
        margin-left: -200px;
        margin-top: -200px;
        background-color: $white;
    }

    100% {
        width: 0px;
        height: 0px;
        margin-left: 0px;
        margin-top: 0px;
        background-color: rgba(248, 249, 252, 0.2);
    }
}

.button_rb {
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 100px;
    box-shadow: $shadow;
    color: $white;
    cursor: pointer;
    margin-right: 24px;
    margin-top: 14px;
}

.rb_button_circle {
    border-radius: 1000px;
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    pointer-events: none;
}

.button_rb_inner {
    display: inline-block;
    background: $white;
    color: $green;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    border-radius: 100px;
    transition: 400ms;
    text-decoration: none;
    padding: 11px 0;
    margin: 0 auto;
    width: 110px;
    transition: color .3s ease;
    z-index: 100000;

    &:hover {
        color: $white;
    }
}

.rb_button_text_container {
    position: relative;
    z-index: 10000;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.25px;
}

.explode-circle-rb {
    animation: explode-rb 0.8s forwards;
}

.desplode-circle-rb {
    animation: desplode-rb 0.5s forwards;
}

@keyframes explode-rb {
    0% {
        width: 0px;
        height: 0px;
        margin-left: 0px;
        margin-top: 0px;
        background-color: $white;
    }

    100% {
        width: 600px;
        height: 600px;
        margin-left: -300px;
        margin-top: -250px;
        background-color: $darkblue;
    }
}

@keyframes desplode-rb {
    0% {
        width: 400px;
        height: 400px;
        margin-left: -200px;
        margin-top: -200px;
        background-color: $darkblue;
    }

    100% {
        width: 0px;
        height: 0px;
        margin-left: 0px;
        margin-top: 0px;
        background-color: $white;
    }
}

@media screen and (max-width: 600px) {

    .button_green,
    .button_white {
        width: 230px;
        display: block;
        margin: 12px auto !important;
    }

    .button_green_inner {
        padding: 14px 28px;
        display: block;
    }

    .button_white_inner {
        padding: 14px 28px;
        display: block;
    }

    .button_text_container {
        justify-content: center;
    }

}

@media screen and (max-width: 500px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .label-checkbox {
        width: auto;
    }

    .title {
        font-size: 24px;
    }
}