$black: #060607;
$darkblue: #323441;
$gray: #F8F9FC;
$white: #fff;
$blue: #5BA4D7;
$light-blue: #D6E9F5;
$blue-hover: #6FB0DC;
$green: #3B8378;
$bg: #F8F9FC;
$shadow-inset: inset 0px 1px 4px rgba(134, 140, 144, 0.2);
$shadow: 0px 2px 8px rgba(134, 140, 144, 0.05);
$blue-gradient: linear-gradient(170deg, #D6E9F5 -0.37%, #ADD2EB 97%);

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    outline: none;
}

::selection {
    background-color: $blue;
    color: $white;
}

a,
button,
img {
    user-select: none;
}

body,
html {
    cursor: default;
    background-color: $bg;
    color: $darkblue;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    overflow-x: hidden;
    font-family: 'Gilroy', Arial, sans-serif;
}

.container {
    max-width: 1196px;
    width: 100%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    height: inherit;
}

.title {
    font-weight: bold;
    font-size: 32px;
    line-height: 150%;
    color: $black;
}

.subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    margin-top: 32px;
    margin-bottom: 24px;
}

.percent {
    font-weight: 500;
    font-size: 12px;
}

@for $i from 0 through 100 {
    .progress progress[value="#{$i}"]
    {
      & ~ .progress_bg .progress_bar { width: $i * 1% }
    }
  }

.progress {
    overflow: hidden;
    position: relative;
    box-shadow: $shadow-inset;
    height: 16px;
    margin: 18px 0;
    border-radius: 100px;
    z-index: 1;
    progress {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        left: -7777px;
    }
    &_bg {
        position: relative;
        height: 16px;
        border-radius: 5px;
        overflow: hidden;
    }
    &_bar {
        overflow: hidden;
        max-width: 100%;
        background-color: $green;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
    }
}

.checkmark {
    position: relative;
    &:before {
        position: absolute;
        right: -24px;
        margin-top: 4px;
        content: '';
        top: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../imgs/mark.svg');
        width: 12px;
        height: 12px;
    }
}