.footer {
    display: flex;
    justify-content: center;
    padding: 72px 0;
    font-size: 12px;

    & a {
        text-decoration: none;
        color: $darkblue;
        margin: 0 28px;
        position: relative;

       
        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 1px;
            width: 0;
            margin-bottom: -10px;
        }

        &:before {
            transition: width 0s ease, background .4s ease;
            left: 0;
            right: 0;
            bottom: 6px;
        }

        &:after {
            right: 0;
            bottom: 6px;
            background: $darkblue;
            transition: width .4s ease;
        }

        &:hover {
            &:before {
                width: 100%;
                background: $darkblue;
                transition: width .4s ease;
            }

            &:after {
                width: 100%;
                background: 0 0;
                transition: all 0s ease;
            }
        }

    }
}

.privacy {
    &-desc {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4;
    }
}

@media screen and (max-width: 510px) {
    .footer {
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 54px 0;
        & a {
            margin: 8px 24px;
        }
    }
}