.header {
    background-color: $blue;
    height: 80px;
    width: 100%;

    &__popup {
        display: none;
    }

    &__burger {
        display: none;
    }

    &__inner {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
    }

    &__subscription {
        display: flex;
        flex-direction: column;

        &_title {
            font-weight: 700;
            color: $white;
            padding-bottom: 2px;
        }

        &_link {
            display: inline-block;
            color: $light-blue;
            width: max-content;
            text-decoration: none;
            font-weight: 500;
            font-size: 12px;
            letter-spacing: 0.25px;
            position: relative;

            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                height: 1px;
                margin-bottom: -10px;
                width: 0;
            }

            &:before {
                transition: width 0s ease, background .4s ease;
                left: 0;
                right: 0;
                bottom: 6px;
            }

            &:after {
                right: 0;
                bottom: 6px;
                background: $light-blue;
                transition: width .4s ease;
            }

            &:hover {
                &:before {
                    width: 100%;
                    background: $light-blue;
                    transition: width .4s ease;
                }

                &:after {
                    width: 100%;
                    background: 0 0;
                    transition: all 0s ease;
                }
            }
        }
    }

    &__account {

        position: relative;
        padding-right: 24px;
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        &:before {
            content: '';
            position: absolute;
            width: 0px;
            height: 0px;
            border-color: transparent;
            border-style: solid;
            right: 0px;
            transform: rotate(180deg);
            margin-left: -5px;
            border-width: 0px 5px 5px;
            border-bottom-color: $darkblue;
        }

        &__account_img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    &__menu_wrap {
        display: flex;
        align-items: center;
    }

}



// NAV block =============================
.nav {
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;

    &__menu {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        left: 0;
        box-shadow: $shadow;
        border-radius: 4px;
        background-color: $white;
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease;
        min-width: 100%;
        max-width: 115%;
        margin-top: -5px;
        z-index: 9999;

        &_inner {
            padding: 12px;
            padding-top: 22px;
            word-wrap: break-word;
            list-style: none;
        }

        &_item {
            position: relative;
            padding-left: 45px;

            &:before {
                position: absolute;
                background-image: url('../imgs/link.svg');
                background-size: contain;
                width: 12px;
                height: 11px;
                margin-top: 6px;
                left: 15px;
                content: '';
                opacity: .4;
            }
        }

        &_link {
            display: inline-block;
            padding: 10px 0;
            padding-top: 0;
            color: $darkblue;
            position: relative;

            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                height: 1px;
                width: 0;

            }

            &:before {
                transition: width 0s ease, background .4s ease;
                left: 0;
                right: 0;
                bottom: 6px;
            }

            &:after {
                right: 0;
                bottom: 6px;
                background: $darkblue;
                transition: width .4s ease;
            }

            &:hover {
                &:before {
                    width: 100%;
                    background: $darkblue;
                    transition: width .4s ease;
                }

                &:after {
                    width: 100%;
                    background: 0 0;
                    transition: all 0s ease;
                }
            }
        }

        &_item a {
            color: $darkblue;
            font-weight: 600;
            letter-spacing: 0.25px;
            font-size: 14px;
            text-decoration: none;

        }
    }

    &__wrapper {
        height: 100%;
        position: relative;

        &:hover .nav__menu {
            opacity: 1;
            visibility: visible;
        }
    }

    &__arrow {
        position: relative;
        padding-right: 24px;

        &:before {
            content: '';
            position: absolute;
            width: 0px;
            height: 0px;
            border-color: transparent;
            border-style: solid;
            right: 22px;
            transform: rotate(180deg);
            margin-left: -5px;
            border-width: 0px 5px 5px;
            border-bottom-color: $white;
        }
    }

    &__item {
        height: 100%;
        align-self: center;
        display: flex;
        align-items: center;
        padding-left: 24px;
        color: $white;
        text-decoration: none;
        transition: background .3s ease;

        &:hover {
            background-color: $blue-hover;
        }

        &_wrap {
            position: relative;
            letter-spacing: 0.25px;
            font-weight: 600;
            font-size: 14px;
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 32px;
            padding-right: 24px;
        }

        &_img {
            position: absolute;
            left: 0;
            opacity: .4;
            z-index: 1;
            pointer-events: none;
        }
    }
}



// ACCOUNT POPUP =============================
.account {
    &__link_wrapper {
        position: relative;
        margin-bottom: 8px;
        padding-left: 24px;
    }

    &__link_exit {
        padding: 16px;
        background-color: $white;
        border-top: 1px solid #E6E5E5;
    }

    &__popup {
        z-index: 999999;
        position: absolute;
        right: 0;
        top: 93px;
        width: 320px;
        box-shadow: $shadow;
        border-radius: 4px;
        right: 15px;
        display: none;

        &:before {
            content: '';
            position: absolute;
            width: 0px;
            height: 0px;
            border-color: transparent;
            border-style: solid;
            right: 38px;
            margin-top: -5px;
            margin-left: -5px;
            border-width: 0px 5px 5px;
            border-bottom-color: $blue;
        }
    }

    &__top {
        color: $white;
        padding: 16px;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.25px;
        background-color: $blue;
        border-radius: 4px 4px 0 0;

        &_name {
            font-weight: 600;
        }

        &_name,
        &_email {
            padding-bottom: 8px;
        }
    }

    &__bottom {
        background-color: $white;
        padding: 16px;
        font-size: 14px;
        letter-spacing: 0.25px;
        color: $darkblue;

        &_subscribtion {
            font-weight: 700;
            margin-bottom: 7px;
        }

        &_links {
            margin: 16px 0;
            margin-bottom: 8px;
            display: flex;
            flex-direction: column;
        }

        &_link {
            position: relative;
            text-decoration: none;
            color: $darkblue;
            font-weight: 500;
            font-size: 14px;
            display: inline-block;
            width: max-content;

            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                height: 1px;
                width: 0;
                margin-bottom: -10px;

            }

            &:before {
                transition: width 0s ease, background .4s ease;
                left: 0;
                right: 0;
                bottom: 6px;
            }

            &:after {
                right: 0;
                bottom: 6px;
                background: $darkblue;
                transition: width .4s ease;
            }

            &:hover {
                &:before {
                    width: 100%;
                    background: $darkblue;
                    transition: width .4s ease;
                }

                &:after {
                    width: 100%;
                    background: 0 0;
                    transition: all 0s ease;
                }
            }
        }

        &_subscribe {
            position: relative;
            color: $green;
            font-weight: 600;
            text-decoration: none;
            font-size: 12px;
            width: max-content;

            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                height: 1px;
                width: 0;
                margin-bottom: -10px;
            }

            &:before {
                transition: width 0s ease, background .4s ease;
                left: 0;
                right: 0;
                bottom: 6px;
            }

            &:after {
                right: 0;
                bottom: 6px;
                background: $green;
                transition: width .4s ease;
            }

            &:hover {
                &:before {
                    width: 100%;
                    background: $green;
                    transition: width .4s ease;
                }

                &:after {
                    width: 100%;
                    background: 0 0;
                    transition: all 0s ease;
                }
            }
        }

        &_balance-wrapper {
            margin-top: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &_balance {
            font-weight: 500;

            & span {
                font-weight: 700;
            }
        }
    }
}

.icon {
    &:before {
        position: absolute;
        left: 0;
        margin-top: 3px;
        content: '';
        top: 0;
        background-size: contain;
    }
}

.icon-pay {
    &:before {
        background-image: url('../imgs/pay.svg');
        width: 12px;
        height: 10px;
    }
}

.icon-settings {
    &:before {
        background-image: url('../imgs/settings.svg');
        width: 12px;
        height: 12px;
    }
}

.icon-support {
    margin-bottom: 0;

    &:before {
        background-image: url('../imgs/support.svg');
        width: 10px;
        height: 12px;
    }
}

.icon-exit {
    margin-bottom: 0;

    &:before {
        background-image: url('../imgs/exit.svg');
        width: 9px;
        height: 12px;
        top: 2px;
    }
}



@media screen and (max-width: 1200px) {
    body {
        margin-top: 80px;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;

        &__burger {
            display: flex;
            transition: opacity .3s ease;

            &:hover {
                cursor: pointer;
                opacity: .8;
            }

            & img {
                width: 32px;
                height: 32px;
            }
        }

        &__account {
            margin-right: 16px;
            padding-right: 0;

            &:before {
                content: none;
            }
        }

        &__subscription {
            display: none;
        }


        &__mobile_sub {
            display: flex;
            margin-top: 16px;
        }

        .nav {
            display: none;

            &__item_wrap a {
                text-decoration: none;
                color: $white;
                font-size: 16px;
                position: relative;
                padding: 10px 0;

                &:before,
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    height: 1px;
                    width: 0;
                    margin-bottom: -1px;
                }

                &:before {
                    transition: width 0s ease, background .4s ease;
                    left: 0;
                    right: 0;
                    bottom: 6px;
                }

                &:after {
                    right: 0;
                    bottom: 6px;
                    background: $white;
                    transition: width .4s ease;
                }

                &:hover {
                    &:before {
                        width: 100%;
                        background: $white;
                        transition: width .4s ease;
                    }

                    &:after {
                        width: 100%;
                        background: 0 0;
                        transition: all 0s ease;
                    }
                }

            }

            &__item_img {
                opacity: .6;
            }
        }

        &__popup {
            height: calc(100vh - 80px);
            position: fixed;
            top: 80px;
            left: 0;
            z-index: 99998;
            background-color: $blue-hover;
            width: 100vw;

            &_inner {
                padding: 32px;
            }

            

            & .nav__menu_item {
                padding-left: 58px;
                &:before {
                    background-image: url('../imgs/linkW.svg');
                    opacity: .6;
                    left: 34px;
                }
                

                & a {
                    color: #fff;
                    
                &:before,
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    height: 1px;
                    width: 0;
                    margin-bottom: -1px;
                }

                &:before {
                    transition: width 0s ease, background .4s ease;
                    left: 0;
                    right: 0;
                    bottom: 6px;
                }

                &:after {
                    right: 0;
                    bottom: 6px;
                    background: $white;
                    transition: width .4s ease;
                }

                &:hover {
                    &:before {
                        width: 100%;
                        background: $white;
                        transition: width .4s ease;
                    }

                    &:after {
                        width: 100%;
                        background: 0 0;
                        transition: all 0s ease;
                    }
                }

                }
            }
        }
    }

    .account {
        &__popup {
            &:before {
                right: 62px;
            }
        }
    }

}

@media screen and (max-width: 500px) {
    .account__popup::before {
        right: 58px;
    }
}

@media screen and (max-width: 350px) {
    .account__popup {
        width: 310px;
        right: 5px;
        &:before {
            right: 68px;
        }
    }
}