.setint {
    &__buttons {
        margin-bottom: 24px;
    }
    &__button {
        width: max-content;
        & .button_green_inner {
            padding: 14px 28px;
        }
    }

    &__info {
        padding: 24px;
        box-shadow: $shadow;
        border-radius: 10px;
        margin-top: 16px;
        background-color: $white;
        margin-bottom: 24px;

        &_checked {
            margin-top: 16px;
            display: flex;
            align-items: center;
            & p {
                font-size: 14px;
            }
            & img {
                margin-right: 8px;
            }
        }

        &_download {
            display: flex;
            align-items: center;
           
            & img {
                margin-right: 8px;
            }
            & a {
                position: relative;
                width: max-content;
                font-size: 14px;
                text-decoration: none;
                color: $darkblue;
                
            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                height: 1px;
                margin-bottom: -10px;
                width: 0;
            }

            &:before {
                transition: width 0s ease, background .4s ease;
                left: 0;
                right: 0;
                bottom: 6px;
            }

            &:after {
                right: 0;
                bottom: 6px;
                background: $darkblue;
                transition: width .4s ease;
            }

            &:hover {
                cursor: pointer;
                &:before {
                    width: 100%;
                    background: $darkblue;
                    transition: width .4s ease;
                }

                &:after {
                    width: 100%;
                    background: 0 0;
                    transition: all 0s ease;
                }
            }
            }
        }

        & pre {
            padding: 16px;
            background-color: #FBFBFB;
            border-radius: 4px;
            overflow-x: auto;
            & code {
                font-family: 'Gilroy', sans-serif;
                font-weight: 400;
                font-size: 14px;
                color: $black;
                padding-right: 16px;
            }
        }

        &_title {
            max-width: 900px;
            line-height: 150%;
            font-size: 14px;
            margin-bottom: 16px;
            font-weight: 500;
            & span {
                color: #A93B4E;
            }
        }
    }

    &__desc {
        font-size: 14px;
        color: $green;
    }
}


@media screen and (max-width: 800px) {
    .setint {
        & .setgen__buttons_active {
            margin-left: 12px;
            margin-right: 12px;
        }
    }

}


@media screen and (max-width: 500px) {
    .setint {
        & .general__title {
            margin-bottom: 40px;
        }
        & .setgen__buttons_link {
            margin: 0;
        }
        & .setgen__buttons_active {
            margin: 12px 0;
        }
    }

}