@font-face { 
    font-family: "Bebas";
    src: url("../fonts/BebasNeueRegular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face { 
    font-family: "Bebas";
    src: url("../fonts/BebasNeueBold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face { 
    font-family: "fuehrer";
    src: url("../fonts/fuehrer.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}