*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}

html {
	overflow-x: hidden;
	font-size: 16px;
	font-family: "Bebas", sans-serif;
	background-color: #000;

	&.no-overflow,
	&.no-scroll {
		overflow: hidden;
	}
}

body {
	overflow-x: hidden;
}

a,
img,
button {
	user-select: none;
}

button {
	border: none;
	background-color: transparent;
	color: #fff;
	font-family: inherit;
}

input {
	font-family: inherit;
}

a {
	text-decoration: none;
	color: #fff;
}

.container {
	max-width: 1590px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.no-scroll {
	overflow-y: hidden;
}

.btn {
	font-weight: 700;
	letter-spacing: 0.06em;
	padding: 18px 60px;
	background-color: #000;
	transition: color 0.3s ease, background 0.3s ease;

	&:hover {
		cursor: pointer;
		background-color: #fff;
		color: #000;
	}
}

.title__wrapper {
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;

	&:after {
		position: absolute;
		content: "";
		width: 100%;
		height: 2px;
		z-index: 1;
		background-color: rgba(255, 255, 255, 0.75);
	}
}

.title__label {
	letter-spacing: 0.06em;
	position: relative;
	z-index: 2;
	padding: 8px 12px;
	color: #000;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 20px;
	background-color: rgba(255, 255, 255, 0.85);
}

.label {
	background-color: #660000;
	color: #fff;
	letter-spacing: 0.06em;
	top: 0;
	right: 0;
	padding: 8px 12px;
	z-index: 10;
	display: block;
	position: absolute;
}

@media screen and (max-width: 550px) {
	.title__wrapper {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.woocommerce-checkout-payment {
	display: none !important;
}

.alerts__block,
.woocommerce-NoticeGroup-checkout {
	position: fixed;
	top: 150px;
	left: 15px;
	max-width: 100%;
	z-index: 5000;
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.06em;
	overflow: hidden;
	border-radius: 5px;
	transition: opacity 0.3s ease;

	&:hover {
		cursor: pointer;
		opacity: 0.85;
	}
}

.woocommerce-NoticeGroup-checkout {
	width: calc(100% - 30px);
	top: 50%;
	left: -55%;
	transform: translate(-50%, -50%);
}

.woocommerce-message {
	background-color: darkgreen;
	border: 2px solid green;
	padding: 18px;
	max-width: 450px;
	list-style: none;
	position: relative;

	&:after {
		content: "";
		background: url("../imgs/close.svg") no-repeat;
		position: absolute;
		background-size: contain;
		width: 10px;
		height: 10px;
		top: 5px;
		right: 5px;
	}
}

.woocommerce-error {
	background-color: #660000;
	border: 2px solid #800000;
	padding: 18px;
	max-width: 450px;
	list-style: none;
	position: relative;

	&:after {
		content: "";
		background: url("../imgs/close.svg") no-repeat;
		position: absolute;
		background-size: contain;
		width: 10px;
		height: 10px;
		top: 5px;
		right: 5px;
	}
}

.woocommerce-info {
	background-color: #fff;
	border: 2px solid #fafafa;
	padding: 20px !important;
	max-width: 450px;
	list-style: none;
	color: #000;
	border-radius: 5px;
}

.trp-ls-shortcode-language {
	display: flex !important;
	width: auto !important;

	& a:first-child {
		margin-right: 20px;
		position: relative;

		&:before {
			position: absolute;
			content: "|";
			right: -15px;
			top: 0;
		}
	}
}

.trp-ls-shortcode-current-language {
	display: none !important;
}

.trp-language-switcher-container {
	text-align: center;
}

.trp-ls-disabled-language {
	font-weight: 700;
	padding-top: 1px;
	position: relative;

	&:after {
		position: absolute;
		content: "";
		width: 5px;
		pointer-events: none;
		left: 50%;
		transform: translateX(-50%);
		background-color: #fff;
		height: 2px;
		bottom: -10px;
	}
}

@media screen and (max-width: 550px) {
	.alerts__block,
	.woocommerce-NoticeGroup-checkout {
		left: 0;
		top: 0;
		width: 100%;
	}
	.title__label {
		line-height: 1;
	}
}

@media screen and (max-width: 950px) {
	.woocommerce-NoticeGroup-checkout {
		left: 15px;
		top: 100px;
		position: fixed;
		transform: none;
	}
}