.header {
	background-color: #000;
	color: #fff;
	font-family: "Bebas", sans-serif;
	position: relative;
	z-index: 3;

	&__inner {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 14px 0;
		position: relative;
		height: 93px;
	}

	&__hidden {
		display: none;
		opacity: 0;
		visibility: collapse;
	}

	&__burger {
		transition: opacity 0.2s ease;
		display: none;
		width: 30px;
		height: 30px;

		&:hover {
			cursor: pointer;
			opacity: 0.7;
		}
	}

	&__block {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__lang {
		display: flex;
		align-items: flex-start;
		margin-right: 35px;

		& span {
			margin-left: 4px;
			margin-right: 4px;
			display: inline-block;
		}

		& a {
			letter-spacing: 0.06em;
			position: relative;
			transition: opacity 0.2s ease;

			&:hover {
				opacity: 0.7;
			}

			&.active {
				font-weight: 700;
				padding-top: 1px;

				&:after {
					position: absolute;
					content: "";
					width: 5px;
					pointer-events: none;
					left: 50%;
					transform: translateX(-50%);
					background-color: #fff;
					height: 2px;
					bottom: -15px;
				}
			}
		}
	}

	&__menu {
		position: absolute;
		background-color: #000;
		top: 94px;
		left: 0;
		height: calc((var(--vh, 1vh) * 100) - 94px);
		width: 100%;
		transform: translateX(-100%);
		visibility: collapse;
		z-index: 9999;
		opacity: 0;
		transition: transform 1s ease, opacity 1s ease, visibility 1s ease;

		&.active {
			transition: transform 1s ease;
			transform: translateX(0%);
			opacity: 1;
			visibility: visible;
		}

		&_inner {
			padding: 20px 15px;
			padding-bottom: 60px;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		& .header__search_form {
			display: none;
			margin-bottom: 30px;
		}

		& .header__lang {
			display: flex;
			margin-right: 0;
			font-size: 20px;
		}

		& .nav__wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: auto;
			margin-bottom: auto;

			& .nav__link {
				margin-right: 0;
				margin-bottom: 40px;
				font-size: 20px;

				&:last-child {
					margin-bottom: 0;
				}

				&.active {
					&:before {
						background: url("../imgs/navActive_mob.png");
						background-repeat: no-repeat;
						background-size: cover;
						background-position: 50%;
						bottom: -25px;
					}
				}
			}
		}
	}

	&__logo {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&__search {
		padding-bottom: 13px;
		color: #fff;
		background-color: transparent;
		border: 0;
		font-size: 16px;
		letter-spacing: 0.06em;
		border-bottom: 2px solid #999;
		width: 250px;
		font-family: "Bebas", sans-serif;
		margin-right: 5px;
		box-shadow: none;

		&:focus {
			border-color: #fff;
		}

		&_form {
			margin-right: 35px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			& button {
				transition: opacity 0.2s ease;

				&:hover {
					cursor: pointer;
					opacity: 0.8;
				}
			}
		}
	}

	&__basket {
		display: flex;
		align-items: center;
		align-self: center;
		padding-bottom: 4px;
		transition: opacity 0.2s ease;
		opacity: 0.7;

		&:hover {
			opacity: 0.7;
			cursor: pointer;
		}

		& span {
			margin-left: 9px;
			color: #999;
			font-size: 16px;
		}
	}
}

.nav {
	&__link {
		text-transform: uppercase;
		margin-right: 50px;
		position: relative;
		letter-spacing: 0.06em;
		transition: opacity 0.2s ease;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			cursor: pointer;
			opacity: 0.7;
		}

		&.active {
			&:before {
				position: absolute;
				content: "";
				background: url("../imgs/navActive.png");
				background-repeat: no-repeat;
				height: 100%;
				background-size: 100%;
				display: inline-block;
				bottom: -20px;
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 1500px) {
	.header {
		&__logo {
			position: initial;
			transform: initial;
		}

		&__inner {
			height: auto;
		}
	}
}

@media screen and (max-width: 1300px) {
	.nav {
		&__link {
			margin-right: 30px;
		}
	}

	.header {
		&__search {
			width: 180px;
		}

		&__lang {
			margin-right: 30px;
		}
	}
}

@media screen and (max-width: 1000px) {
	.header {
		&__burger {
			display: block;
			opacity: 0.8;
		}

		&__search_form {
			display: none;
		}

		&__lang {
			display: none;
		}

		&__basket {
			padding-bottom: 0;
		}
	}

	.nav {
		&__block {
			display: none;
		}
	}
}

@media screen and (max-width: 550px) {
	.header {
		&__search_form {
			display: none;
		}
	}
}

@media screen and (max-width: 359px) {
	.header {
		&__menu {
			&_inner {
				padding-bottom: 30px;
			}
		}
	}
}
