.modal-basket::-webkit-scrollbar {
	width: 0 !important;
}

.modal-basket {
	background-color: rgba(25, 25, 25, 0.75);
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    opacity: 0;
    visibility: collapse;
    transition: opacity .3s ease, visibility .3s ease;

    
    &.active {
        opacity: 1;
        visibility: visible;
    }

	&__inner {
        display: flex;
        overflow-x: hidden;
		justify-content: flex-end;
    }
    
    &__close {
        position: absolute;
        right: 10px;
        top: 10px;
        transition: filter .2s ease;

        &:hover {
            filter: brightness(50%);
            cursor: pointer;
        }
    }

	&__block {
        position: relative;
		max-width: 450px;
		width: 100%;
		height: 100%;
        background-color: #fff;
        transform: translateX(100%);
        transition: transform .8s ease;
        
        &.active {
            transform: translateX(0);
        }

		&_inner {
			width: 100%;
			height: 100%;
			padding: 50px 0;
		}
	}

	&__text {
		font-weight: 400;
		font-size: 20px;
		letter-spacing: 0.06em;
	}

	&__items {
		padding: 30px 35px;
		border-top: 1px solid rgba(82, 82, 82, 0.5);
		border-bottom: 1px solid rgba(82, 82, 82, 0.5);
	}

	&__item {
		display: flex;
		position: relative;
		align-items: center;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}

		&_block {
			margin-left: 30px;
			display: flex;
			flex-direction: column;
		}

		&_img {
			width: 120px;
			height: 120px;
		}
	}

	&__desc {
		margin-top: 10px;
		margin-bottom: 20px;
		color: #4f4f4f;
		font-size: 16px;
		letter-spacing: 0.06em;
	}

	&__price {
		font-size: 20px;
		letter-spacing: 0.06em;
		color: #660000;
	}

	&-title {
		display: block;
		margin-bottom: 20px;
	}

	&__total {
		display: flex;
		justify-content: flex-end;
		margin-top: 15px;
		padding-left: 35px;
		padding-right: 35px;
		margin-bottom: 25px;

		&_block {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			flex-basis: 50%;
		}

		&_price {
			font-size: 20px;
			letter-spacing: 0.06em;
			color: #660000;
			text-transform: uppercase;
			font-weight: 700;
		}

		&_delivery {
			text-transform: uppercase;
			font-size: 14px;
			letter-spacing: 0.06em;
			color: #828282;
		}
    }
    
    &__submit {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
    }

	&__inputs {
		display: flex;
		flex-direction: column;

		&_item {
			display: flex;
			margin-top: 20px;
			flex-direction: column;
		}

		&_text {
			font-family: "Open Sans", sans-serif;
			font-size: 14px;
			margin-bottom: 10px;
			letter-spacing: -0.04em;
			color: #bdbdbd;
			font-weight: 40;
			text-align: left;
		}

		&_alert {
            font-size: 12px;
            font-family: "Open Sans", sans-serif;
            color: #828282;
            text-align: left;
            margin-top: 10px;
		}

		&_input {
			color: #606060;
			padding: 20px 30px;
            width: 100%;
            font-size: 12px;
            resize: none;
			border: 0;
			font-family: "Open Sans", sans-serif;
			box-shadow: none;
			background-color: #f2f2f2;
			transition: background 0.3s ease;

			&:focus {
				background-color: #e5e5e5;
			}
		}

		&_multiple {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			& input {
				width: 48%;
				margin-bottom: 20px;

				&:nth-child(3),
				&:nth-child(4) {
					margin-bottom: 0;
				}
			}
		}
	}
}

.px-35 {
	padding-left: 35px;
	padding-right: 35px;
	text-align: center;
}

.flex-start {
	align-self: flex-start;
	display: flex;
}

.deleteModal {
	position: absolute;
	right: 0;
	top: 0;
	transition: filter 0.3s ease;

	&:hover {
		cursor: pointer;
		filter: brightness(30%);
	}
}


@media screen and (max-width: 415px) {
    .modal-basket {

        &__items {
            padding-left: 15px;
            padding-right: 15px;
        }

        &__price {
            font-size: 16px;
        }

        &__desc {
            font-size: 14px;
            margin-top: 5px;
            margin-bottom: 15px;
        }

        &__item {
            &_block {
                margin-left: 25px;
            }

            &_img {
                width: 100px;
                height: 100px;
            }
        }

        &__text {
            font-size: 16px;
        }


        &__total {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .px-35 {
        padding-left: 15px;
        padding-right: 15px;
    }
}