.register {
	min-height: 100vh;
	display: flex;
	align-items: center;
	background: #000;
	background-size: cover;
	position: relative;

	& .mainpage__intro_video {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		max-width: none !important;
		object-fit: cover;
		z-index: 3;
	}

	& .auth__modal_buttons {
		display: flex;
		grid-gap: 0;
		justify-content: center;
	}

	& .profile__order_button {
		padding: 16px 36px;
	}

	& .container {
		width: 100%;
		position: relative;
		z-index: 5;
	}

	&__inner {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		padding: 40px 0;
	}

	&__logo {
		margin-bottom: 25px;
	}

	& .auth__modal {
		opacity: 1 !important;
		visibility: visible !important;
		position: initial;
		max-width: 600px;
		background-image: none;
		top: auto;
		left: auto;
		bottom: auto;
	}
}

@media screen and (max-width: 500px) {
	.register {
		&__inner {
			padding-top: 25px;
			padding-bottom: 0;
		}

		& .auth__modal {
			width: 100vw;
			margin-left: 0;
			transition: none;
			transform: none;
			position: initial;

			&_inner {
				&::before {
					content: none;
				}
			}
		}
	}
}
