.custom-select-container {
    position: relative;
    box-sizing: border-box;
    width: 50px;
    z-index: 1;
    font-size: 22px;
  }
  .custom-select-container * {
    box-sizing: border-box;
  }
  .custom-select-container.is-disabled {
    opacity: .333;
  }
  .custom-select-opener {
    background-color: #fff;
    padding: 1px 5px;
    display: block;
    cursor: pointer;
    width: 100%;
    position: relative;

    &:after {
      position: absolute;
      left: 75%;
      content: '';
      top: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 6px;
      background: url('../imgs/arrowSelect.svg') no-repeat;
    }
  }
  .custom-select-container select {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  .custom-select-panel {
    max-height: 0;
    transition: max-height .5s ease-out, overflow-y 0.1s 0.5s;
    overflow: hidden;
    background-color: #fff;
    position: absolute;
    top: 100%;
    cursor: pointer;
    z-index: 5;
    width: 100%;
  }
  .custom-select-container.is-open .custom-select-panel {
    max-height: 10.7em;
    overflow-y: auto
  }
  .custom-select-option {
    padding: 1px 5px;
  }
  .custom-select-option.has-focus {
    background-color: #aaa;
    cursor: pointer;
  }
  .custom-select-optgroup > .custom-select-option {
    padding-left: 5px;
  }
  .custom-select-optgroup::before {
    content: attr(data-label);
    display: block;
    padding: 1px 5px;
    color: #888;
  }
  

  .custom-select-container.is-open .custom-select-panel::-webkit-scrollbar { width: 0 !important }
  .custom-select-container.is-open .custom-select-panel {
    scrollbar-width: none;
  }

  @media screen and (max-width: 550px) {
    .custom-select-option {
      padding: 8px 5px;
    }
    .custom-select-opener {
      padding: 8px 5px;
      display: flex;
      align-items: center;
      line-height: 1;

      & span {
        line-height: 1;
      }
    }
  }