.feedback {
  background-color: #343434;

  &__inner {
    padding-top: 70px;
    padding-bottom: 90px;
  }

  &__content {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: 48.5%;
    margin-bottom: 10px;
    position: relative;
    transition: border 0.3s ease;
    border: 4px solid #ffffff00;
    max-height: 265px;

    &:after {
      position: absolute;
      content: "";
      background-size: contain;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 70px;
      width: 70px;
      z-index: 0;
      transition: width 0.3s ease, height 0.3s ease;
      background-repeat: no-repeat;
      background-image: url("../imgs/video-play.svg");
    }

    &:hover {
      cursor: pointer;
      border: 4px solid #fff;

      &:after {
        height: 80px;
        width: 80px;
      }
    }

    & img {
      height: 100%;
      width: 100%;
    }

    &_link {
      position: absolute;
      top: 0;
      z-index: 10;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 960px) {
  .feedback {
    &__item {
      max-height: 220px;
      height: 100%;
    }

    &__content {
      margin-top: 40px;
    }

    &__inner {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}

@media screen and (max-width: 800px) {
  .feedback {
    &__item {
      height: 100%;
      max-height: 170px;

      &:after {
        height: 60px;
        width: 60px;
      }

      &:hover {
        &:after {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .feedback {
    &__content {
      flex-direction: column;
    }

    &__item {
      height: 100%;
      max-height: 300px;
    }
  }
}

@media screen and (max-width: 500px) {
  .feedback {
    &__item {
      &:after {
        height: 50px;
        width: 50px;
      }

      &:hover {
        &:after {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
