.footer {
  background-color: #292929;

  &__inner {
    padding-bottom: 50px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__block {
    display: flex;
    align-items: flex-start;
    flex-basis: 31.5%;
    flex-direction: column;
    color: #616161;
    font-size: 18px;
    justify-content: space-between;

    & img {
      filter: grayscale(1) brightness(50%);
    }

    &_center {
      & p {
        &:first-child {
          margin-bottom: 12px;
        }
      }
    }

    &_last {
      & p {
        font-size: 9px;
        margin-bottom: 5px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .footer {
    &__inner {
      padding-top: 80px;
    }

    &__block {
      &:first-child {
        align-items: flex-start;
      }

      &:nth-child(2) {
        align-items: center;
      }

      &:last-child {
        align-items: flex-end;
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .footer {
    &__inner {
      padding-top: 38px;
      padding-bottom: 33px;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__block {
      flex-basis: 48%;

      &:nth-child(2) {
        align-items: flex-end;
      }

      &:last-child {
        align-items: center;
        margin-top: 35px;
        & p {
          margin-right: 31px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .footer {
    &__block {
      &:nth-child(2) {
        & p {
          font-size: 12px;

          &:first-child {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 359px) {
  .footer {
    &__block {
      &:nth-child(2) {
        & p {
          font-size: 10px;
        }
      }
    }
  }
}
