.games {
  background: linear-gradient(to top left, #222222 64.02%, #cc009f 117.47%);
  position: relative;

  &__particles {
    transform: scale(1, -1);
    top: 0;
    bottom: auto;
  }

  &:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    content: "";
    z-index: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 100% 20%;
    background-size: cover;
    background-image: url("../imgs/hard__bg.png");
  }

  &__inner {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__container {
    margin-top: 45px;
    margin-bottom: 60px;
  }

  &__item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 350px;
    position: relative;
    max-height: none;

    & img {
      filter: none;
    }

    & a {
      height: calc(100% - 8px);
      left: 0;
      top: 0;
      width: calc(100% - 8px);
      position: absolute;
      &:hover {
        cursor: default;
      }
    }
  }
}

.gamezones {
  background: linear-gradient(to right bottom, #222222 64.02%, #cc009f 117.47%);
}

@media screen and (max-width: 1100px) {
  .games {
    &__item {
      min-height: 420px;
    }
  }
}

@media screen and (max-width: 920px) {
  .games {
    &__item {
      min-height: 320px;
    }
  }
}

@media screen and (max-width: 850px) {
  .games {
    &__item {
      min-height: 520px;
    }
  }
}

@media screen and (max-width: 800px) {
  .games {
    &__item {
      min-height: 480px;
    }

    &__inner {
      padding-top: 45px;
    }

    &__particles {
      max-width: 200px;
    }
  }
}

@media screen and (max-width: 750px) {
  .games {
    &__item {
      min-height: 430px;
    }
  }
}

@media screen and (max-width: 660px) {
  .games {
    &__item {
      min-height: 380px;
    }
  }
}

@media screen and (max-width: 600px) {
  .games {
    &__item {
      min-height: 340px;
    }
  }
}

@media screen and (max-width: 540px) {
  .games {
    &__item {
      min-height: 300px;
    }

    &__inner {
      padding-bottom: 55px;
    }

    &__container {
      margin-bottom: 45px;
    }
  }
}

@media screen and (max-width: 480px) {
  .games {
    &__item {
      min-height: 260px;
    }

    &__inner {
      padding-top: 40px;
    }

    &__container {
      margin-top: 40px;
    }
  }
}

@media screen and (max-width: 420px) {
  .games {
    &__item {
      min-height: 230px;
    }
  }
}

@media screen and (max-width: 400px) {
  .games {
    &__item {
      min-height: 250px;
    }
  }
}

@media screen and (max-width: 380px) {
  .games {
    &__item {
      min-height: 220px;
    }
  }
}

@media screen and (max-width: 355px) {
  .games {
    &__item {
      min-height: 410px;
    }
  }
}
