$blue: #00BBF7;
$fz18: 18px;
$fz25: 25px;

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    outline: none;
}

body, html {
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Gotham', sans-serif;
    font-size: 14px;
    cursor: default;
    background-color: #191919;
}

::selection {
    text-shadow: 0 0 6px $blue;
}

a {
    text-decoration: none;
    user-select: none;
    color: #fff;
}

img, button {
    user-select: none;
}

img {
    pointer-events: none;
}

.container {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    z-index: 100;
    position: relative;
}

.h-100 {
    height: 100%;
}



// Component: Order Button
.mx-auto {
    margin: 0 auto;
}
.order-button {
    color: $blue;
    transition: background .3s ease, color .3s ease;
    border: 2px solid $blue;
    box-shadow: 0 0 6px 0 $blue;
    padding: 27px 46px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background: transparent;

    &:hover {
        color: #191919;
        background: $blue;
        cursor: pointer;
    }
}

@media screen and (max-width: 640px) {
    .order-button {
        font-size: 14px;
        padding: 19px 36px;
    }
}
