.top {
    &__nav {
        padding: 10px 0;
        width: 100%;
        background: #0A0A0A;
        color: #fff;

        &_link {
            color: #fff;
            margin-left: 58px;
            transition: opacity .3s ease;

            &:first-child {
                margin-left: 0;
                font-style: italic;
            }

            &:last-child {
                font-weight: 500;
            }

            &:hover {
                opacity: .7;
            }
        }

        &_inner {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

    }
}

.nav {
    background-color: #191919;

    &__inner {
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__items {
        display: flex;
    }
    &__link {
        color: #BCBCBC;
        font-weight: 700;
        margin-left: 30px;
        transition: color .3s ease;
        &:first-child {
            margin-left: 0;
        }
        &:hover {
            color: #00BBF7;
        }
    }

    &__btn {

        &_order {
            padding: 10px 20px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            color: #00C0FF;
            border: 1px solid #00C0FF;
            box-shadow: 0 0 4px 0 #00C0FF;
            transition: color .3s ease, background .3s ease;
            &:hover {
                background-color: #00C0FF;
                color: #191919;
            }
        }
    }
}