.news {
  background: linear-gradient(to right bottom, #282828, #222222);

  &__inner {
    padding-top: 50px;
    padding-bottom: 75px;
  }

  &__content {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-basis: 49%;
    background-color: #282828;
    margin-bottom: 32px;
    position: relative;
    width: 100%;
    min-height: 300px;
    max-height: 400px;
    z-index: 10;

    &_img {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border: 4px solid #ffffff00;
      position: absolute;
      filter: grayscale(1) brightness(65%);
      left: -4px;
      top: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
    }

    &:hover {
      cursor: pointer;

      .news__item_img {
        filter: none;
        border-color: #fff;
      }
    }

    &_title {
      font-family: "Montserrat", sans-serif;
      font-size: 24px;
      font-weight: 700;
      z-index: 10;
      color: $blue;
      padding-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 45px;
    }

    &_excerpt {
      z-index: 10;
      font-size: 18px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
    }
  }
}

@media screen and (max-width: 900px) {
  .news {
    &__item {
      flex-basis: 48.5%;

      &_title {
        font-size: 18px;
        margin-bottom: 25px;
      }

      &_excerpt {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .news {
    &__content {
      flex-direction: column;
    }

    &__item {
      flex-basis: 100%;

      &_title {
        font-size: 22px;
        margin-bottom: 25px;
      }

      &_excerpt {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .news {
    &__item {
      &_title {
        font-size: 18px;
      }
      &_excerpt {
        font-size: 14px;
      }
    }
    &__inner {
      padding-top: 40px;
      padding-bottom: 45px;
    }
    &__content {
      margin-top: 40px;
    }
  }
}

@media screen and (max-width: 450px) {
  .news {
    &__item {
      min-height: 220px;
      max-height: 280px;

      &_excerpt {
        font-size: 12px;
      }
    }
  }
}
