.popupThanks {
  visibility: hidden;
  opacity: 0;
  transition: opacity .35s ease, visibility .35s ease;

  &__title {
    color: $blue;
    font-size: 42px;
    text-align: center;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }
  &__content {
    font-size: 36px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    margin-top: 70px;
    font-family: "Montserrat", sans-serif;
  }
  &__inner {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    max-height: none;
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 767px) {
    .popupThanks {
        &__title {
            font-size: 36px;
        }
        &__content {
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 500px) {
    .popupThanks {
        &__title {
            font-size: 24px;
        }
        &__content {
            margin-top: 50px;
            font-size: 20px;
        }
    }
}