.posts {
  &__inner {
    padding: 70px 0;
    background: #242424;
  }

  &__item {
    color: #fff;
    display: flex;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      .posts__title {
        color: $blue;
      }
    }

    &_img {
      display: flex;
      flex-basis: 50%;
      margin-right: 30px;

      & img {
        width: 100%;
      }
    }

    &_info {
      display: flex;
      flex-basis: 40%;
      flex-direction: column;
    }

    &_wrap {
      display: flex;
      font-size: 18px;
      margin-bottom: 40px;
      justify-content: space-between;

      & p:first-child {
        margin-right: 15px;
      }
    }
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    transition: color 0.3s ease;
  }

  &__desc {
    font-size: 24px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1150px) {
  .posts {
    &__title {
      font-size: 28px;
    }
    &__desc {
      font-size: 16px;
    }
    &__item_wrap {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 900px) {
  .posts {
    &__title {
      font-size: 22px;
    }
    &__desc {
      font-size: 14px;
    }
    &__item_wrap {
      font-size: 14px;
    }
    &__item_info {
      flex-basis: 50%;
    }
  }
}

@media screen and (max-width: 710px) {
  .posts {
    &__title {
      font-size: 20px;
    }
    &__desc {
      margin-top: 15px;
    }
    &__item_wrap {
      font-size: 12px;
      margin-bottom: 15px;
    }
    &__inner {
      padding: 55px 0;
    }
  }
}

@media screen and (max-width: 660px) {
  .posts {
    &__item {
      flex-direction: column;
      margin-bottom: 50px;

      &_img {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }
}
