.settings {
    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;

        & button {
            font-size: 24px;
            color: #fff;
            background-color: transparent;
            font-family: inherit;
            transition: color .4s ease, opacity .2s ease;

            &:hover {
                cursor: pointer;
                opacity: .7;
            }

            &.active {
                font-weight: 700;
                color: $blue;
                opacity: 1;
                cursor: default;
            }

            &:last-child {
                margin-left: 140px;
            }
        }
    }

    &__inputs {
        & input {
            flex-basis: 26%;
        }
    }

    &__save {
        margin-top: 20px;
        justify-content: flex-end;

        & button {
            flex-basis: 31%;
            text-transform: none;
        }

        &_pass {
            margin-top: 130px;
            justify-content: flex-end;

            & button {
                text-transform: none;
                flex-basis: 31%;
            }
        }

    }

    &__link {
        align-items: center;
        display: flex;
        margin-bottom: 0;

        & span {
            margin-left: 15px;
        }
    }
}