.settings {
    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;

        & button {
            font-size: 24px;
            color: #fff;
            background-color: transparent;
            font-family: inherit;
            transition: opacity .2s ease;

            &:hover {
                cursor: pointer;
                opacity: .7;
            }

            &.active {
                font-weight: 700;
                color: $blue;
                opacity: 1;
                cursor: default;
            }

            &:last-child {
                margin-left: 140px;
            }
        }
    }

    &__inputs {
        & input {
            flex-basis: 26%;
        }
    }

    &__save {
        margin-top: 20px;
        justify-content: flex-end;

        & button {
            flex-basis: 31%;
            text-transform: none;
        }

        &_pass {
            margin-top: 130px;
            justify-content: flex-end;

            & button {
                text-transform: none;
                flex-basis: 31%;
            }
        }

    }

    &__link {
        align-items: center;
        display: flex;
        margin-bottom: 0;

        & span {
            margin-left: 15px;
        }
    }

    &__selector {
        justify-content: flex-start;
        & img {
            margin: 0 15px;
        }

        & button {
            transition: opacity .2s ease;
            &:hover {
                cursor: pointer;
                opacity: .7;
            }
        }
    }
}



@media screen and (max-width: 1000px) {
    .settings {
        &__buttons {
            margin-bottom: 50px;
        }

        &__form {
            flex-direction: column;
        }

        &__save {
            & button {
                padding: 18px 60px;
            }

            &_pass {
                margin-top: 10px;

                & button {
                    padding: 18px 60px;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .settings {
        &__buttons button {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 550px) {
    .settings {
        &__buttons {
            margin-top: 50px;
            margin-bottom: 25px;

            & button {
                font-size: 16px;
            }

            & button:last-child {
                margin-left: 60px;
            }
        }

        &__link {
            & img {
                max-width: 55px;
            }
        }
        
    }
}

@media screen and (max-width: 415px) {
    .settings {
        &__save {
            & button {
                width: 100%;
            }
            &_pass {
                & button {
                    width: 100%;
                }
            }
        }
    }
}