@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Days+One&display=swap');
*,*:after,*:before {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

body, html {
	overflow-x: hidden;
}

.wrapper {
	max-width: 100vw;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

.container {
	max-width: 1260px;
	width: 100%;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

.no-margin-top {
	margin-top: 0 !important;
}
.no-margin-left {
	margin-left: 0 !important;
}

/* HEADER ===================================================================== */
.header {
	background-color: #fff;
	height: 60px;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}

.header__inner-search {
	position: relative;
}

.header__inner_search-input {
	width: 378px;
	padding-left: 45px;
	height: 34px;
	border: none;
	font-size: 14px;
	line-height: 16px;
	background-color: #E4E4E4;
	border-radius: 25px;
	color: rgba(68, 68, 68, 0.6);
}

.header__inner_search-icon {
	position: absolute;
	top: 25%;
	left: 15px;
}

.nav {
	font-size: 14px;
	display: inline-block;
}

.nav__link {
	margin-left: 42px;
	color: rgba(68, 68, 68, 0.6);
}

.nav__link:first-child {
	margin-left: 0;
}

.login-btn {
	margin-left: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 14px;
	text-align: center;
	background: #2E8B42;
	border-radius: 20px;
	width: 86px;
	height: 26px;
}

.registr-btn {
	color: rgba(68, 68, 68, 0.6);
}


/* CATEGORIES =====================================================================*/
.category {
	height: 60px;
	background-color: #F4F4F4;
}

.category__list {
	display: flex;
	align-items: center;
	height: 60px;

}

.category__list-item {
	height: inherit;
	display: flex;
	align-items: center;
	color: #444444;
	font-size: 16px;
	padding: 0 28px;

}

.svg-category {
	margin-left: 8px;
}

.category__list-item:first-child {
	margin-left: 0;
	background-color: lightgreen;
}

/* SLIDER ================================ */
.flex-control-nav {
	bottom: 40px !important;
}

.flex-control-nav li{
	margin: 0 12px !important;
}

.flex-control-paging li a {
	width: 17px !important;
	height: 17px !important;
}
/*Blog + features ===================================================*/
.blog-title {
	text-align: center;
	font-family: 'Days One', sans-serif;
	color: #444;
	font-size: 32px;
}

.features {
	margin-top: 150px;
	border: 1px solid rgba(68, 68, 68, 0.2);
	height: 216px;
	background-color: #F4F4F4;
}

.features__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 216px;
}

.features__inner-card {
	margin-bottom: 130px;
	max-width: 295px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.features__inner-card:first-child {
	margin-left: 0;
}

.features__inner-card-round {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 190px;
	top: -100px;
	height: 190px;
	background-color: #fff;
	border-radius: 100%;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,.3);
}

.features__inner-card-article {
	margin-top: 32px;
	color: #444444;
	font-size: 24px;
	height: 56px;
	line-height: 28px;
	text-align: center;
}


/* RECIPES ==========================================================*/
.recipes {
	margin-top: 100px;
}

.recipes__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.recipes__inner-card {
	display: flex;
	align-items: center;
	margin-top: 60px;
	background: #F8F8F8;
	border: 1px solid rgba(68, 68, 68, 0.2);
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	max-width: 390px;
	width: 100%;

}

.recipes__inner-card-title {
	font-family: 'Days One', sans-serif;
	font-size: 22px;
	margin-left: 20px;
	line-height: 25px;
	color: #444444;
}

.recipes__inner-card-article {
	margin-left: 20px;
	margin-top: 16px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 132.19%;
	color: rgba(68, 68, 68, 0.6);
}

.recipes_images {
	width: 158px;
	height: 168px;
}

/* BUILDER ======================================================== */
.builder {
	margin-top: 160px;
}

.builder__inner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.builder__inner-img {
	background: #F8F8F8;
	box-shadow: 0px 0 38px 2px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
}

.builder__inner-leftblock-header, .builder__inner-rightblock-header {
	font-family: 'Days One', sans-serif;
	font-size: 32px;
	line-height: 41px;
	color: rgba(68, 68, 68, 0.6);
	margin-bottom: 20px;
}

.builder__inner-leftblock-subblock {
	position: relative;
	width: 280px;
	height: 170px;
}

.builder__inner-rightblock-subblock {
	position: relative;
	width: 280px;
	height: 170px;
}

.builder__inner-leftblock-subblock:last-child {
	height: 140px;
}

.builder__inner-rightblock-header {
	text-align: right;
}

.builder__inner-leftblock-subblock:after {
	content: '';
	position: absolute;
	width: 320px;
	border-bottom: 3px solid #2E8B42;
}

.builder__inner-leftblock-subblock:nth-child(2):after {
	width: 382px;
}

.builder__inner-rightblock-subblock:after {
	content: '';
	float: left;
	position: absolute;
	width: 320px;
	border-bottom: 3px solid #2E8B42;
	right: 0;
}

.builder__inner-rightblock-subblock:first-child:after {
	width: 418px;
}

.builder__inner-block-desc {
	text-align: justify;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: rgba(68, 68, 68, 1);
	padding: 12px;
	padding-top: 0;
	padding-bottom: 4px;
}

/* ABOUT ==================================================== */
.about {
	margin-top: 160px;
	margin-bottom: 120px;
}

.about__inner {
	display: flex;
}

.about__inner-author-title {
	font-family: 'Days One', sans-serif;
	font-size: 32px;
	line-height: 41px;
	text-align: center;
	color: #444444;
}

.about__inner-author-article {
	padding-left: 100px;
	padding-right: 100px;
	margin-top: 42px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 132.19%;
	color: rgba(68, 68, 68, 0.6);
}

.about__inner-img {
	border: 1px solid rgba(68, 68, 68, 0.2);
	border-radius: 5px;
	width: 265px;
	height: 350px;
}

/* MORE RECIPES ============================================ */
.more {
	background: #F4F4F4;
	border: 1px solid rgba(68, 68, 68, 0.2);
}

.more__inner {
	margin-top: 80px;
	margin-bottom: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.more__inner-block {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	height: 300px;
	max-width: 265px;
	width: 100%;
}

.more__inner-block:first-child {
	margin-left: 0;
}

.more__inner-block-img {
	height: 235px;
}

.more__inner-block-article {
	text-align: center;
	margin-top: 12px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: rgba(68, 68, 68, 0.6);
}

/*FOOTER ==================================================== */
.footer {
	background: #444444;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	padding-top: 32px;
	padding-bottom: 44px;
}

.footer__inner-block {
	max-width: 371px;
	width: 100%;
}

.footer__inner-block:first-child {
	max-width: 295px;
	width: 100%;
}

.footer__inner-block:last-child {
	max-width: 445px;
	width: 100%;
}

.footer__inner-block-title {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #3A884B;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.footer__inner-block-article {
	font-family: Roboto;
	font-size: 20px;
	color: #C4C4C4;
	line-height: 132.19%;
}

.footer__inner-block-subscribe {
	font-family: Roboto;
	font-weight: 500;
	font-size: 19px;
	line-height: 132.19%;
	color: #F4F4F4;
}

.footer__inner-block-subscribe-input {
	border: 1px solid #C4C4C4;
	border-radius: 5px;
	height: 40px;
	max-width: 370px;
	width: 100%;
	padding: 0 16px;
	color: #fff;
	margin-top: 27px;
	font-size: 16px;
	background-color: #444;
}

.footer__inner-block-subscribe-btn {
	background: #3A884B;
	border-radius: 5px;
	max-width: 370px;
	width: 100%;
	padding: 11px 0;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	color: #F4F4F4;
	margin-top: 35px;
	border: 0;
	cursor: pointer;
}

.footer__inner-block-checkbox {
	position: relative;
	align-items: center;
	justify-content: center;
	display: flex;
	margin-top: 27px;
	height: 20px;
}

.footer__inner-block-checkbox input[type=checkbox] {
	display: none;
}

.footer__inner-block-checkbox label:after {
	content:'';
	display:block;
	height:20px;
	width:20px;
	border: 1px solid #C4C4C4;
	border-radius: 5px;
	position:absolute;
	top:0;
	left:0;
	}

.footer__inner-block-checkbox input[type=checkbox]:checked + label:after {
	border-radius: 5px;
	border: 1px solid #C4C4C4;
	background-color: #C4C4C4;
}


.footer__inner-block-checkbox-text {
	margin-left: 12px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	align-self: center;
	color: #C4C4C4;
}

.footer__inner-block-nav {
	display: flex;
	text-decoration: none;
	justify-content: space-between;
	font-family: Roboto;
	font-size: 19px;
	color: #C4C4C4;
}

.footer__inner-block-nav-link {
	color: #C4C4C4;
}

.footer__inner-block-social-title {
	font-family: Roboto;
	font-weight: 500;
	font-size: 22px;
	color: #C4C4C4;
	text-align: center;
	margin-top: 61px;
	margin-bottom: 44px;
}

.subfooter__inner {
	margin: 20px 0;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.subfooter__inner-leftblock-text {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: rgba(68, 68, 68, 0.6);
}

.subfooter__inner-rightblock-btns {
	display: flex;
	justify-content: space-between;
}

.subfooter__inner-rightblock-btn {
	border: 1px solid rgba(68, 68, 68, 0.2);
	font-family: Roboto;
	font-size: 14px;
	color: rgba(68, 68, 68, 0.6);
	padding: 8px 16px;
	margin-left: 16px;
}

.subfooter__inner-rightblock-btn:first-child {
	margin-left: 0;
}