.content {
	background-color: #64bed1;
	position: relative;
	z-index: 3;
	margin-top: 110px;
	padding-bottom: 50px;

	&__title {
		font-size: 38px;
		line-height: 1;
		padding-top: 35px;
		text-transform: uppercase;
		color: #fff;
		margin-left: 40px;
		font-weight: 400;
		max-width: 650px;
		font-family: "Ropa Sans", sans-serif;
	}

	&__top {
		display: flex;
		align-items: center;
		margin-bottom: 40px;
	}

	&__block {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		color: #fff;
		max-width: 200px;

		& span {
			font-weight: 700;
			font-size: 24px;
			margin-top: 20px;
			margin-bottom: 15px;
		}

		& p {
			font-size: 18px;
		}

		&:last-child {
			& .content__img {
				&:after {
					content: none;
				}
			}
		}
	}

	&__img {
		position: relative;
		display: flex;
		align-items: center;
		&:after {
			position: absolute;
			content: "";
			width: 200px;
			height: 1px;
			left: 83px;
			background-color: #fff;
		}
	}
}

@media screen and (max-width: 1070px) {
	.content {
		margin-top: 30px;
		&__inner {
			padding-left: 15px;
			padding-right: 15px;
		}
		&__top {
			align-items: flex-start;

			& img {
				min-width: 45px;
			}
		}
		&__img img {
			background-color: #64bed1;
		}
		&__title {
			padding-top: 55px;
		}
		&__block {
		flex-wrap: wrap;
			position: relative;

			&:after {
				position: absolute;
				content: '';
				background-color: #fff;
				width: 1px;
				height: 303px;
				top: 44px;
				right: 0;
			}

		}
		&__inner {
			padding-left: 20px;
			padding-right: 20px;
		}
		&__img {
			width: 100%;
			&:after {
				width: calc(100% - 83px);
			}
		}
		&__item {
			flex-basis: 45%;
			margin-bottom: 40px;
			max-width: none;

			& p {
				max-width: 205px;
			}


			&:last-child {
				& .content__img {
					&:after {
						content: '';
					}
				}
			}

			&:nth-child(2n+1) {
				& .content__img {
					&:after {
						width: 450px;
					}
				}
			}
		}
		
	}
}

@media screen and (max-width: 600px) {
	.content {
		padding-bottom: 0;
		&__title {
			font-size: 24px;
			padding-top: 30px;
		}
		&__top {
			& img {
				max-width: 45px;
			}
		}
		&__img {

			&:after {
				left: 47px;
				width: calc(100% - 47px);
			}

			& img {
				height: 50px;
			}
		}

		&__block {
			&:after {
				height: 227px;
top: 25px;
			}
		}

		&__item {
			& span {
				font-size: 14px;
			}
			& p {
				font-size: 12px;
				max-width: 115px;
			}
		}
	}
	.content__item:nth-child(2n+1) .content__img::after {
		width: 300px;
	}
}

@media screen and (max-width: 500px) {
	.content {
		&__title {
			font-size: 18px;
		}
	}
}

@media screen and (max-width: 400px) {
	.content__item:nth-child(2n+1) .content__img::after {
		width: 200px;
	}
}