.footer {
    background-color: #2C7B86;

    &__inner {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    &__wrapper {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    &__info {
        display: flex;
        flex-direction: column;
        color: #fff;

        & p {
            font-size: 12px;
            margin-bottom: 13px;
        }

        & a {
            color: #fff;
            font-size: 14px;
            text-decoration: none;
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0;
            }
        }

    }

    &__copyright {
        padding-top: 25px;
        color: #fff;
        font-size: 12px;
        text-align: center;
    }

    &__btn {
        border-color: #fff;
        padding: 12px 22px;
        &:hover {
            color: #555;
            background-color: #fff;
        }
    }
}


@media screen and (max-width: 1180px) {
    .footer {
        &__inner {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}


@media screen and (max-width: 1000px) {
    .footer {
        &__wrapper {
            justify-content: flex-start;
        }
        &__button {
          margin-left: auto;
        }
        &__info {
            margin-left: 25px;
        }
        &__additional {
            flex-basis: 100%;
            margin-top: 25px;
            justify-content: center;
            display: flex;
        }
    }
}

@media screen and (max-width: 680px) {
    .footer {
        
        &__button {
            flex-basis: 100%;
            margin-left: 0;
            margin-top: 25px;
            margin-bottom: 45px;
        }
        &__additional {
            margin-top: 0;
        }
    }
}

@media screen and (max-width: 450px) {
    .footer {
        &__info {
            max-width: 190px;
        }
        &__logo {
            max-width: 85px;
        }
        &__btn {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 340px) {
    .footer {
        &__info {
            max-width: 180px;
        }
        &__logo {
            max-width: 75px;
        }
    }
}