.header {
	background-color: #a7c7df;
	background-image: url("../imgs/mainBg.jpg");
	background-repeat: no-repeat;
	height: 735px;
	position: relative;

	&__shine {
		top: 0;
		left: 0;
		max-height: 100%;
		mix-blend-mode: screen;
		position: absolute;
		transform: translate(-10%, -10%);
		transition: transform 4s ease;

		&.active {
			transform: translate(0%, 0%);
		}
	}

	&__inner {
		padding-top: 30px;
	}

	&__button {
		display: flex;
		justify-content: flex-end;
	}

	&__wrapper {
		display: flex;
		align-items: flex-start;
		position: relative;
	}

	&__info {
		max-width: 540px;
		padding-right: 45px;
		padding-top: 75px;
	}

	&__hint {
		max-width: 580px;
		color: #2c7b86;
		font-size: 12px;
		position: absolute;
		bottom: 55px;
		right: 0;
	}

	&__img {
		&-logo {
			margin-top: 80px;
		}

		&-bottle {
			margin: 0 auto;
			min-width: 95px;

		}
	}

	&__title {
		color: #fff;
		letter-spacing: 0.2em;
		font-size: 44px;
		padding-bottom: 30px;
		text-transform: uppercase;
		line-height: 1.05;
		max-width: 480px;
		font-weight: 400;
		font-family: "Ropa Sans", sans-serif;
		border-bottom: 2px solid #00b8d2;
		margin-bottom: 35px;
	}

	&__desc {
		font-weight: 400;
		color: #fff;
		max-width: 480px;
	}
}

.button {
	padding: 18px 34px;
	font-size: 14px;
	border: 2px solid #00b8d2;
	color: #fff;
	font-family: inherit;
	font-weight: 700;
	transition: background 0.2s ease, color 0.2s ease;

	&:hover {
		cursor: pointer;
		background-color: #00b8d2;
	}
}

@media screen and (max-width: 1200px) {
	.header {
		&__inner {
			padding-left: 15px;
			padding-right: 15px;
		}

		&__hint {
			max-width: 450px;
		}

		&__img-bottle {
			height: auto;
		}
	}
}

@media screen and (max-width: 949px) {
	.header {
		height: 670px;

		&__logo_wrapper {
			display: none;
		}
		&__img-logo {
			margin-top: 0;
			margin-bottom: 30px;
		}
		&__button {
			display: none;

			&_hidden {
				margin-top: 30px;
			}
		}
		&__info {
			margin-left: 35px;
		}
	}
}

@media screen and (min-width: 950px) {
	.header__logo_hidden {
		display: none;
	}
	.header__button_hidden {
		display: none;
	}
}

@media screen and (max-width: 800px) {
	.header {
		position: relative;
		height: 620px;

		&__info {
			padding-top: 35px;
			padding-right: 0;
		}
		&__title {
			font-size: 24px;
		}
		&__img-bottle {
			transform: translateY(150px);
			max-width: 130px;
		}
		&__wrapper {
			position: initial;
		}
		&__hint {
			left: 15px;
			right: auto;
			bottom: -225px;
		}
	}
}

@media screen and (max-width: 650px) {
	.header {
		height: 590px;

		&__img-bottle {
			max-width: 115px;
			width: 100%;
		}
	}
}

@media screen and (max-width: 550px) {
	.header {
		background-position: 27% 50%;
		height: 540px;

		&__desc {
			font-size: 14px;
		}

		&__title {
			margin-bottom: 25px;
		}

		&__img-bottle {
			transform: translateY(130px);
		}

		&__img-logo {
			max-width: 100px;
		}

		&__hint {
			bottom: -200px;
			max-width: calc(100% - 30px);
		}
	}


	.button {
		font-size: 10px;
		padding: 12px 20px;
	}
}


@media screen and (max-width: 450px) {
	.header {
		height: 480px;

		&__info {
			margin-left: 20px;
		}

		&__title {
			font-size: 16px;
			padding-bottom: 20px;
		}

		&__img-bottle {
			max-width: 95px;
		}
	}
}

@media screen and (max-width: 400px) {
	.header {
		height: 470px;
	}
}




.watcher {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	left: 200px;
	z-index: 10;
	display: flex;
	flex-direction: column;

	&__item {
		margin-bottom: 23px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 15px;
		height: 21px;
		background-repeat: no-repeat;
		background: url('../imgs/drop.svg');

		&.active {
			background: url('../imgs/dropActive.svg');
		}


		&:after {
			position: absolute;
			content: '';
			height: 25px;
			width: 1px;
			top: 20px;
			background-color: #2892A1;
		}

		&:last-child {
			margin-bottom: 0;

			&:after {
				content: none;
			}
		}
	}
}

@media screen and (max-width: 1600px) {
	.watcher {
		left: 30px;
	}
}

@media screen and (max-width: 1300px) {
	.watcher {
		display: none;
	}
}