.label {
	&__title {
		text-align: center;
		letter-spacing: 0.05em;
        text-transform: uppercase;
        font-size: 38px;
        line-height: 1;
        font-weight: 400;
        margin-bottom: 45px;
		color: #ff4236;
    }
    
    &__wrapper {
        position: relative;
        z-index: 3;
        & video {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            padding-left: 5px;
            padding-right: 5px;
            width: 100%;
            opacity: .6;
        }
        & img {
            position: relative;
            z-index: 3;
            width: 100%;
        }
    }
}


@media screen and (max-width: 700px) {
    .label {
        padding-bottom: 30px;
        &__title {
            padding-left: 20px;
            padding-right: 20px;
            font-size: 32px;
        }
        &__wrapper {
            & video {
                top: 2px;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .label {
       &__title {
        font-size: 24px;
       }
    }
}

@media screen and (max-width: 550px) {
    .label {
        &__title {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 500px) {
    .label {
        &__title {
            text-align: left;
        }
    }
}