.quote {
	background-color: #64bed1;

	&__inner {
		display: flex;
		padding-bottom: 150px;
		padding-left: 110px;
	}

	&__block {
		margin-top: 150px;
		margin-left: 160px;
		max-width: 460px;
		line-height: 2;
		color: #fff;
		font-family: "Ropa Sans", sans-serif;
		font-size: 24px;
		font-variant: small-caps;
		position: relative;
	}

	&__img {
		max-height: 334px;

		&_open {
			position: absolute;
			top: -10px;
			left: -90px;
		}

		&_close {
			position: absolute;
			bottom: -35px;
			right: 30px;
		}
	}
}

@media screen and (max-width: 800px) {
	.quote {
		&__inner {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

@media screen and (max-width: 700px) {
	.quote {
		&__inner {
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 45px;
			padding-bottom: 45px;
		}
		&__block {
			margin-left: auto;
			margin-right: auto;
			display: flex;
			flex-direction: column;
			margin-top: 0;
		}
		&__img {
			display: none;
			&_open {
				margin-right: auto;
				position: initial;
			}
			&_close {
				margin-left: auto;
				position: initial;
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.quote {
		&__block {
			font-size: 16px;
		}

		&__img {
			&_open {
				max-width: 50px;
				margin-bottom: 10px;
			}

			&_close {
				max-width: 50px;
			}
		}
	}
}
