.techs {
	padding-top: 100px;
	padding-bottom: 60px;
	background-color: #fff;

	&__text {
		font-size: 18px;
		color: #555;
		margin-top: 60px;
		margin-bottom: 100px;
	}

	&__title {
		display: block;
	}

	&__wrapper {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		position: relative;
		padding-left: 85px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 55px;
		position: relative;
		z-index: 3;

		& img {
			background-color: #fff;
		}

		&:nth-child(2n) {
			flex-basis: 50%;
		}

		& span {
			margin-top: 10px;
			font-size: 28px;
			font-family: "Ropa Sans", sans-serif;
			font-variant: small-caps;
			margin-bottom: 5px;
			color: #ff4236;
		}
		& p {
			color: #4f4f4f;
			max-width: 290px;
		}
	}

	&__bg {
		position: absolute;
		top: -115px;
		left: 6px;
		width: 100%;
		z-index: 1;
		height: 100%;
	}
}

@media screen and (max-width: 1080px) {
	.techs {
		padding-top: 60px;
		&__inner {
			padding-left: 15px;
			padding-right: 15px;
		}
		&__bg {
			display: none;
		}
		&__wrapper {
			padding-left: 0;
			justify-content: space-around;
		}
		&__text {
			margin-top: 40px;
			margin-bottom: 70px;
		}

		&__item span {
			line-height: 1;
		}
	}
}

@media screen and (max-width: 700px) {
	.techs {
		&__item {
			flex-basis: 100%;
			padding-left: 80px;
			min-height: 244px;
			&:nth-child(2n) {
				flex-basis: 100%;
			}

			& p {
				font-size: 14px;
			}

			position: relative;

			&:after {
				position: absolute;
				content: "";
				background-image: url("../imgs/techs_mob.svg");
				background-repeat: no-repeat;
				top: 58px;
				left: 39px;
				width: 41px;
				height: 306px;
				background-size: cover;
			}

			&:last-child {
				&:after {
					content: none;
				}
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.techs {
		padding-top: 40px;

		&__title {
			font-size: 18px;
		}
		&__text {
			margin-top: 15px;
			font-size: 14px;
			margin-bottom: 45px;
        }
        &__wrapper {
            padding-left: 15px;
        }
		&__item {
			&:after {
				top: 27px;
				left: 0;
				width: 41px;
				height: 240px;
            }
            
            & span {
                font-size: 20px;
            }

			min-height: auto;
			height: 180px;
			padding-left: 40px;
			& img {
				width: 60px;
			}
		}
	}
}
