<!--Bootcamp Zone Оборудование-->
<div class="zones__hard">
  <h3 class="zones__hard_title">Оборудование в <span>Bootcamp by Asus Rog 2</span></h3>
  <div class="zones__hard_list">
    <div class="zones__hard_left">
      <div class="zones__hard_item">
        <img src="imgs/tufzone_2.png" alt="" />
        <p>ASUS TUF Gaming K7</p>
      </div>
      <div class="zones__hard_item">
        <img src="imgs/tufzone_1.png" alt="" />
        <p>20хRTX2060 Super + RAM 16Гб</p>
      </div>
      <div class="zones__hard_item">
        <img src="imgs/tufzone_3.png" alt="" />
        <p>ASUS TUF Gaming K7</p>
      </div>
      <div class="zones__hard_item">
        <img src="imgs/tufzone_5.png" alt="" />
        <p>ASUS TUF Gaming M7</p>
      </div>
      <div class="zones__hard_item">
        <img src="imgs/tufzone_4.png" alt="" />
        <p>ASUS TUF Gaming</p>
      </div>
      <div class="zones__hard_item">
        <img src="imgs/tufzone_6.png" alt="" />
        <p>ASUS TUF Gaming M7</p>
      </div>
    </div>
    <div class="zones__hard_right">
      <div class="zones__hard_big">
        <img src="imgs/tufzone_chair.png" alt="" />
        <p>Cougar Armor One</p>
      </div>
    </div>
  </div>

  <div class="zones__price">
    <div class="zones__price_wrapper">
      <span class="zones__price_text">Стоимость:</span>
      <span class="zones__price_number">1000 тг/ч</span>
    </div>
    <button
      class="order-button"
      @click="$store.modalOrder.open = 'true'; scrollbarToggle(); $store.modalOrderTab.tab = 'zone2'"
    >
      Забронировать место
    </button>
  </div>
</div>
