<!-- Меню - Напитки -->

<div class="menu__item">
  <div class="menu__img"><img src="imgs/food1.png" alt="" /></div>
  <div class="menu__list">
    <h4 class="menu__header">Салаты:</h4>

    <div class="menu__desc">
      <p>- Малибу</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Цезарь с курицей</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Теплый салат с кониной</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Оливье</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Салат с малосоленым лососем</p>
      <p>100 тг.</p>
    </div>
  </div>
</div>
<div class="menu__item">
  <div class="menu__img"><img src="imgs/food2.png" alt="" /></div>
  <div class="menu__list">
    <h4 class="menu__header">Супы:</h4>

    <div class="menu__desc">
      <p>- Рамен с курицей</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Крем суп чечевичный</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Суп охотничий</p>
      <p>100 тг.</p>
    </div>
  </div>
</div>
<div class="menu__item">
  <div class="menu__img"><img src="imgs/food3.png" alt="" /></div>
  <div class="menu__list">
    <h4 class="menu__header">Основные блюда:</h4>

    <div class="menu__desc">
      <p>- Фахитос</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Терияки курица</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Медальоны из телятины в грибном соусе</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Мини кебабы на овощах луизиана</p>
      <p>100 тг.</p>
    </div>
  </div>
</div>
<div class="menu__item">
  <div class="menu__img"><img src="imgs/food4.png" alt="" /></div>
  <div class="menu__list">
    <h4 class="menu__header">Гарниры:</h4>

    <div class="menu__desc">
      <p>- Фри</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Пюре</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Рис</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Гречка с грибами</p>
      <p>100 тг.</p>
    </div>
  </div>
</div>
<div class="menu__item">
  <div class="menu__img"><img src="imgs/food5.png" alt="" /></div>
  <div class="menu__list">
    <h4 class="menu__header">Паста:</h4>

    <div class="menu__desc">
      <p>- Болоньезе</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Альфредо</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Карбонара</p>
      <p>100 тг.</p>
    </div>
  </div>
</div>
<div class="menu__item">
  <div class="menu__img"><img src="imgs/food6.png" alt="" /></div>
  <div class="menu__list">
    <h4 class="menu__header">Фастфуд:</h4>

    <div class="menu__desc">
      <p>- Чизбургер</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Бургер цезарь</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Хот-дог</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Френч-дог</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Наггетсы</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Сырные палочки</p>
      <p>100 тг.</p>
    </div>
  </div>
</div>
<div class="menu__item">
  <div class="menu__img"><img src="imgs/food7.png" alt="" /></div>
  <div class="menu__list">
    <h4 class="menu__header">Пицца:</h4>

    <div class="menu__desc">
      <p>- Болоньезе</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Салями</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Маргарита</p>
      <p>100 тг.</p>
    </div>
  </div>
</div>
<div class="menu__item">
  <div class="menu__img"><img src="imgs/food8.png" alt="" /></div>
  <div class="menu__list">
    <h4 class="menu__header">Десерты:</h4>

    <div class="menu__desc">
      <p>- Сырники под ягодным соусом</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Neon</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Шоколадные роллы с фруктами</p>
      <p>100 тг.</p>
    </div>
  </div>
</div>
<div class="menu__item">
  <div class="menu__img"><img src="imgs/food9.png" alt="" /></div>
  <div class="menu__list">
    <h4 class="menu__header">Закуски к пиву:</h4>

    <div class="menu__desc">
      <p>- Курт</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Чечил</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Фисташки</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Арахис с раксы</p>
      <p>100 тг.</p>
    </div>
    <div class="menu__desc">
      <p>- Чипсы</p>
      <p>100 тг.</p>
    </div>
  </div>
</div>
