.container-articles {
    max-width: 1800px;
}

.article {
    & article {
        box-shadow: 0 0 3rem rgba(0, 0, 0, 0.12);
        border-radius: .5em;
        padding: 50px;
        padding-top: 10px;
    }

    & .article-meta__wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 40px;

        & div {

            & img {
                margin-right: 10px;
            }

            & span {
                color: #b4b5bb;
            }

            & a {
                color: #1ebbf0;
            }
        }
    }



    & .advert {
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 54px;
        }

        &__block {
            display: flex;
            margin: 0 auto;
            width: 60%;
            justify-content: space-between;

            & div {
                padding: 10px;
                flex-basis: 50%;
                border: 1px solid #e6e6e6;

                &:first-child {
                    margin-right: 30px;
                }

                & img {
                    width: 100%;
                }

            }

            &_wide {
                border: 1px solid #e6e6e6;
                padding: 10px;
                margin-right: 0 !important;
                min-height: 100px;
                margin-top: 20px;
                width: 100%;
                flex-basis: 100% !important;

                & img {
                    width: 100% !important;
                }
            }
        }



        &__post {
            width: 100%;
            margin-top: 30px;
            margin-bottom: 30px;

            & img {
                width: 100%;
            }
        }
    }

    & .share {
        &__wrapper {
            padding: 45px 0;
            display: flex;
            border-top: 1px solid #fbb03b;
            border-bottom: 1px solid #fbb03b;
            justify-content: space-between;
            margin-bottom: 40px;

            & a {
                padding: 14px 36px;
                color: #fff;
                text-decoration: none;
                border-radius: 10px;
                display: flex;
                align-items: center;
                font-size: 24px;
                background-color: #000;
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;
                }

                & img {
                    margin-right: 25px;
                }

                &:hover {
                    opacity: .9;
                }

                &:nth-child(1) {
                    background-color: #1e4fad;
                }

                &:nth-child(2) {
                    background-color: #e02a2f;
                }

                &:nth-child(3) {
                    background-color: #1ba5d4;
                }

                &:nth-child(4) {
                    background-color: #fd3832;
                }
            }
        }

        &__buttons {
            display: flex;
            align-items: center;
        }



        &__count {
            display: flex;
            padding: 10px 0;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            &:nth-child(1) {
                padding-right: 24px;
                border-right: 1px dashed #fbb03b;
            }

            &:nth-child(3) {
                padding-left: 24px;
                border-left: 1px dashed #fbb03b;
            }

            & span {
                font-weight: 600;
                font-size: 24px;
            }

            & p {
                text-transform: uppercase;
                font-size: 24px;
                margin-bottom: 0;
                color: #f7931e;
                line-height: normal;
            }
        }
    }

    & .article__text {
        & img {
            float: left;
            margin-right: 40px;
            margin-bottom: 20px;
        }

        & p {
            letter-spacing: 0.04px;
            color: #1a1a1a;
            font-size: 19px;
            line-height: 2.5;
        }

        & a {
            color: #1ebbf0;
        }
    }

    & ul {
        color: #1e4fad;
        list-style: none;
        font-size: 24px;
        padding: 0;
        font-weight: 600;
        letter-spacing: 0.05px;
    }

    & .article__linked {
        padding-top: 10px;

        & li {
            margin-top: 18px;
        }

        & li a {
            padding-left: 35px;
            color: #1ebbf0;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0.04px;
            position: relative;

            &:before {
                position: absolute;
                left: 0;
                top: 5px;
                content: '';
                width: 18px;
                height: 18px;
                background: url('../img/ulList.svg') no-repeat;
            }
        }

        &_sec {
            padding-left: 45px;
            padding-right: 45px;
            margin-top: 30px;
            font-weight: 400;

            & span {
                font-weight: 600;
            }

            & li {
                color: #1a1a1a;
                font-size: 20px;
                letter-spacing: 0.04px;
                padding-left: 45px;
                margin-left: -45px;
                line-height: 2;
                position: relative;
                margin-top: 23px;

                &:first-child {
                    margin-top: 0;
                }

                &:before {
                    width: 28px;
                    height: 28px;
                    top: 5px;
                    position: absolute;
                    left: 0;
                    content: '';
                    background: url('../img/arrowRight.svg');
                    background-repeat: no-repeat;
                }

                & a {
                    padding-left: 0;
                    &:before {
                        background: none;
                    }
                }
            }
            
        }
    }

    & p {
        letter-spacing: 0.04px;
        color: #1a1a1a;
        font-size: 19px;
        line-height: 2.5;
    }

    & .article__note {
        padding-top: 40px;
        height: 555px;
        max-width: 765px;
        margin: 0 auto;
        margin-top: 40px;
        width: 100%;
        background: url('../img/notelist.png') no-repeat;
        background-size: cover;
        position: relative;

        & span:first-child {
            position: absolute;
            right: 55px;
            top: -45px;
        }

        & p {
            color: #fff;
            margin-left: 30px;
            font-size: 24px;
            letter-spacing: 0.05px;
            font-weight: 500;
            line-height: normal;
        }

        & p span {
            position: initial !important;
            font-size: 30px;
            color: #fff;
            font-weight: 600;
        }

        & .article__linked {
            margin-top: 30px;
            margin-left: 60px;

            & p {
                margin-left: 0;
                color: #1a1a1a;
                font-weight: 400;
                letter-spacing: 0.04px;
                line-height: 2;
                font-size: 22px;

                & a {
                    color: #1ebbf0;
                }
            }
        }

        &_small {
            text-align: center;
            margin-top: 80px;
            max-height: 390px;
            background: url('../img/notelist_sm.png') no-repeat;

            & .article__linked {
                margin-left: 0;
                margin-top: 100px;
                padding: 0 30px;
            }
        }
    }

    & .article__title {
        padding: 15px 0;
        text-align: center;
        color: #1ebbf0;
        border-top: 1px solid #1ebbf0;
        border-bottom: 1px solid #1ebbf0;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 70px;
        letter-spacing: 0.04px;
    }

    & .article__label {
        width: 234px;
        height: 80px;
        display: flex;
        align-items: center;
        color: #ffffff;
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 20px;
        margin-bottom: 10px;
        padding-left: 30px;
        background: url('../img/layer.png');
        letter-spacing: 0.05px;
        background-repeat: no-repeat;

        &_sec {
            width: 238px;
            height: 55px;
            display: flex;
            padding-left: 15px;
            padding-bottom: 2px;
            align-items: center;
            color: #ffffff;
            background: url('../img/layer2.png');
            background-repeat: no-repeat;
            color: #ffffff;
            font-size: 19px;
            font-weight: 600;
            letter-spacing: 0.04px;
        }

        &_text {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    & .article__labelled {
        max-width: 950px;
    }

    & .article__download {
        display: flex;
        height: 60px;
        min-width: 350px;
        width: max-content;
        margin: 28px auto;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            opacity: .9;
        }
        & div:first-child {
            height: inherit;
            flex-basis: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 18px 6px;
            background-color: #5491ec;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        & div:last-child {
            flex-basis: 80%;
            color: #fff;
            height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            width: max-content;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: #4b81e3;
        }
    }
}