

.sidebar-img {
  width: 100%;
}

@media (max-width: 991px) {
  .sidebar-img {
    width: calc(50% - 0.25rem);
    display: block;
  }
}

@media (max-width: 575px) {
  .sidebar-title {
    font-size: 16px;
  }
  .sidebar-img {
    width: 100%;
  }
}