

.widget-5 {
  width: 100%;
  & img {
    width: auto;
  }
}
@media (max-width: 991px) {
  .widget-5 {
    max-height: 520px;
    width: 50%;
    max-width: calc(50% - 0.25rem);
  } 
} 
@media (max-width: 690px) {
  .widget-5 {
    width: 100%;
    max-width: 100%;
  }
}