

.widget-5 {
  width: 100%;
  & img {
    width: auto;
  }
}

@media screen and (max-width: 1199px) {
  .widget-5 {
    order: 6;
  }
}

@media (max-width: 991px) {
  .widget-5 {
    width: 50%;
    max-width: calc(50% - 0.25rem);
  } 
} 
@media (max-width: 690px) {
  .widget-5 {
    width: inherit;
  }
}