.article .article__download {
    display: flex;
    border-bottom: 0 !important;
    height: 60px;
    min-width: 350px;
    width: max-content;
    margin: 28px auto;
    text-decoration: none;
}

.article .article__download:hover {
    cursor: pointer;
    opacity: .9;
}

.article .article__download div:first-child {
    height: inherit;
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 6px;
    background-color: #5491ec;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.article .article__download div:last-child {
    flex-basis: 100%;
    color: #fff;
    padding: 0 10px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #4b81e3;
}


.article .notice {
    max-width: 765px;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 30px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(100, 100, 100, .2);
    background-size: cover;
    position: relative;
}

.article .notice span:first-child {
    position: absolute;
    right: 55px;
    top: -45px;
}

.article .notice p:nth-child(2) {
    color: #fff;
    font-size: 24px;
    padding: 30px 20px;
    background-color: #FCA742;
    letter-spacing: 0.05px;
    font-weight: 500;
    line-height: normal;
}

.article .notice p span {
    position: initial !important;
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}

.article .notice .article__linked {
    margin-left: 60px;
}

.article .notice .article__linked p {
    margin-left: 0;
    color: #1a1a1a;
    font-weight: 400;
    letter-spacing: 0.04px;
    line-height: 2;
    font-size: 22px;
    margin-bottom: 0;
}

.article .notice .article__linked a {
    color: #1ebbf0;
}


@media screen and (max-width: 1215px) {
    .article .notice img {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .article .notice .article__linked p {
        font-size: 18px;
    }
}


@media screen and (max-width: 600px) {
    .article .notice {
        padding-bottom: 20px;
        height: auto;
        background: linear-gradient(to bottom,#FFC853 25%,#fff 20%,#fff 20%,#fff 20%,#fff 20%);
    }
    .article .notice .article__linked {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .article .notice p {
        font-size: 20px;
    }
    .article .notice .article__linked {
        margin-left: 30px;
    }
    .article .notice p span {
        margin-top: -25px;
    }
}

@media screen and (max-width: 500px) {
    .article .notice p {
        font-size: 16px;
    }
    .article .notice p span {
        font-size: 20px;
    }
    .article .notice .article__linked {
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 0;
        margin-bottom: 0;
    }
    .article .notice p {
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
    .article .notice p:nth-child(2) {
        font-size: 18px;
    }
}