*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    user-select: none;
    pointer-events: none;
}

.container {
    display: flex;
    padding: 5% 13%;
    padding-bottom: 0;
    height: 100%;
    width: 100%;
}