.page {
    &__container {
        height: 100%;
        top: 72px;
        right: 19px;
    }

    &__leftside {
        width: 100%;
        position: relative;
        margin-right: 20px;
        user-select: none;
    }

    &__back {
        user-select: none;
        pointer-events: none;
        position: absolute;
        top: -20px;
        z-index: 1;
        right: 130px;
        height: 555px;
    }

    &__fore {
        top: 0;
        position: absolute;
        right: 0;
        z-index: 3;
        pointer-events: none;
        user-select: none;
        height: 565px;
    }


    &__wrapper {
        position: absolute;
        max-width: 236px;
        max-height: 420px;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 999;
        right: 0;
    }

}


@media screen and (max-width: 1600px) {
    .page {
        &__leftside {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1200px) {
    .page {
        &__leftside {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 1000px) {
    .page {
        &__container {
            right: auto;
        }

        &__wrapper {
            right: auto;
        }

        &__leftside {
            justify-content: center;
            align-items: center;
            display: flex;
            padding-left: 120px;
            height: 600px;
        }
        &__fore {
            right: auto;
        }
        &__back {
            right: auto;
            margin-right: 265px;
        }
        &__leftside {
            height: 570px;
            display: none;
        }
    }
}

@media screen and (max-width: 500px) {
    .page {
        &__back {
            display: none;
        }
        &__leftside {
            padding-left: 0;
        }
        &__fore {
            position: relative;
        }
        &__wrapper {
            max-width: 237px;
            margin-left: 1px;
        }
    }
}
