.page {

    &__rightside {
        width: 100%;
        min-height: 565px;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }
    &__info {
        background: white;
        border: solid 1px rgb(214, 214, 214);
        padding: 3%;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 50%;
        height: max-content;
        align-items: center;

        & img {
            width: max-content;
            margin-bottom: 30px;
        }
    }
    &__slogan {
        color: #00abbe;
        font-size: 1.8rem;
        font-weight: 300;
    }
    &__text {
        color: #212529;
        font-size: 1.2rem;
        font-weight: 300;
        margin-top: 25px;
    }

    &__download {
        width: 50%;
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        font-weight: 300;
    }
    &__links {
        margin-top: 20px;
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    &__link img {
        height: 43px;
    }
}


@media screen and (max-width: 1600px) {
    .page {
        &__rightside {
            width: 100%;
        }
        &__download {
            width: 65%;
        }
        &__info {
            width: 65%;
        }
    }
}


@media screen and (max-width: 1200px) {
    .page {
        &__rightside {
            width: 100%;
            align-items: center;
        }
        &__download {
            width: 80%;
        }
        &__info {
            width: 80%;
        }
    }
}

@media screen and (max-width: 1100px) {
    .page {
        &__rightside {
            width: 100%;
        }
        &__download {
            width: 90%;
        }
        &__info {
            width: 90%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .page {
        &__rightside {
            padding-top: 0;
        }
        &__info {
            width: 100%;
            padding: 5%;
        }
        &__links {
            justify-content: center !important;
        }
        &__link {
            &:first-child {
                margin-right: 50px;
            }
        }
    }
}


@media screen and (max-width: 400px) {
    .page {
        &__link:first-child {
            margin-right: 15px;
        }
    }
}


@media screen and (max-width: 350px) {
    .page {
        &__links {
            flex-direction: column;
            align-items: center;
        }
        &__link:first-child {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
}