@font-face{
    src:url("../fonts/SF-M.otf");
    font-family: "SF-M";
}
@font-face{
    src:url("../fonts/SF.ttf");
    font-family: "SF";
}
@font-face{
    src:url("../fonts/SF-L.ttf");
    font-family: "SF-L";
}
:root{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 16px;
    --dark-gray:#323232;
    --primary:#3E92DC;
    --light-gray:#808080;
    --light-gray-2:#B6B6B6;
}
*,
::before,
::after{
    -webkit-box-sizing:inherit;
            box-sizing:inherit;
    font-family: "SF";
}
body{
    margin: 0;
    counter-reset: section;
}
/*=============
      FLEX
===============*/
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex--column{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.flex--wrap{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.justify--start{
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.justify--center{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.justify--end{
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.align--start{
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.align--center{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.align--end{
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.container{
    max-width:1190px;
    width: 100%;
    padding: 2px 15px;
    margin: 0 auto;
}
/*=============
     LINKS
===============*/
.devices__link:hover ~ .link{
    color:var(--light-gray-2);
}
a{
    text-decoration:none;
    color:inherit;
    font-family: inherit;
    -webkit-transition: .15s linear;
    -o-transition: .15s linear;
    transition: .15s linear;
}
a:hover{
    color:var(--light-gray-2);
}
.link--light-gray{
    color:var(--light-gray-2);
}
.link--primary{
    color:var(--primary);
}
.link--primary:hover{
    color:rgb(13, 102, 180);
}
.link--underline{
    text-decoration: underline;
}
/*=============
     HEADER
===============*/
header{
    background: var(--dark-gray);
    color:#fff;
    height: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header__mobile-btn{
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: auto;
    cursor: pointer;
    -webkit-transition: .15s linear;
    -o-transition: .15s linear;
    transition: .15s linear;
}
.header__mobile-btn span{
    -webkit-transition: .15s linear;
    -o-transition: .15s linear;
    transition: .15s linear;
    width: 25px;
    height: 3px;
    background: #ffffff;
}
.header__mobile-btn span + span{
    margin-top: 8px;
}
.header__mobile-btn:hover span{
    background: var(--light-gray-2);
}
.header__contacts{
    margin-left: auto;
    font-size: 14px;
}
.header__contacts * + *{
    margin-top: 4px;
}
.header__mobile-btn.open span{
    background: #ffffff;
}
.header__mobile-btn.open span:nth-child(2){
    display: none;
}
.header__mobile-btn.open span:nth-child(1){
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.header__mobile-btn.open span:nth-child(3){
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: -3px;
}
.header__mobile-menu{
    width: 100%;
    background: var(--dark-gray);
    padding: 35px 55px;
    display: none;
}
.header__mobile-menu.open{
    display: none;
    -webkit-animation:TopToBottom .15s ease-in-out both;
            animation:TopToBottom .15s ease-in-out both;
}
.header__mobile-menu .link{
    color:#fff;
    font-size: 22px;
    padding: 22px 0;
}
.header__mobile-menu .link:active{
    color:var(--light-gray-2);
}
.header__mobile-menu .link + .link{
    border-top:solid 1px var(--light-gray);
}
/* HEADING */
h1{
    font-family: "SF-M";
    font-size: 22px;
    font-weight: 500;
    margin: 0;
}
.heading__text--min{
    font-size: 17px;
    font-weight: normal;
    font-family: "SF";
}

.heading{
    text-align: center;
    color:var(--dark-gray);
}
.heading + .heading{
    margin-top: 20px;
}
.heading__text{
    text-align: center;
}
.heading__descr{
    margin-top: 10px;
}
.heading__sub-link{
    line-height: 62px;
}
.heading__text--normal{
    font-size: 20px;
    font-weight: normal;
    font-family: "SF";
}
/* MAIN */
main{
    display: block;
    background: #fff;
    font-family: "SF";
}
.main__img{
    width: 100%;
    margin-bottom: 20px;
}
/* DEVICES */
.devices{
    max-width:772px;
    width: 100%;
    margin: 0 auto;
    padding-top: 36px;
    background: #ffffff;
    margin-bottom: 50px;
}
.devices__items{
    margin: 0px;
    margin-top: 5px;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
}
.devices__item{
    margin: 20px;
    min-width:130px;
}
.devices__link{
    margin-top: 20px;
}
.border-img{
    border-top:solid 1px #ccc;
    border-bottom:solid 1px #ccc;
    height: 100px;
}
.border-img img{
    height: 100%;
}
/* STATUS */
.status{
    margin-top: 25px;
    border-bottom:solid 1px #ccc;
}
/* UPGRADE */
.upgrade{
    margin-top: 60px;
    border-bottom:solid 1px #ccc;
    padding-bottom: 60px;
}
.upgrade__items{
    margin-top: 7px;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
}
.upgrade__item{
    margin: 20px;
    min-width:280px;
}
.upgrade__link{
    margin-top: 10px;
}
/* FAQ */
.faq{
    padding-top: 60px;
    border-bottom:solid 1px #ccc;
}
.slider{
    margin-top: 30px;
    font-size: 17px;
}
.slider ol,
.slider ul{
    margin-left: 0;
    padding-left: 0;
}
.slider__sub-text{
    color:var(--light-gray);
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    font-size: 14px;
    line-height: 24px;
    max-width:775px;
}
.slider__sub-text.open{
    display: block;
    -webkit-animation: BottomToTop .15s ease-in-out both;
            animation: BottomToTop .15s ease-in-out both;
}
.slider ul li{
    list-style-type: none;
}
.slider__name{
    list-style-position: inside;
    font-size: 17px;
}
.slider__name-text::before{
    counter-increment: section;
    content:counter(section) ". ";
}
.slider__name + .slider__name{
    margin-top: 30px;
}
.slider__button{
    width: 30px;
    height: 30px;
    border-radius:50%;
    color:#fff;
    border:none;
    background: #5DA3E1;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;  
    -webkit-box-pack: center;  
        -ms-flex-pack: center;  
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.slider .slider__button{
    margin-top: 0;
    margin-left: 15px;
}
.slider .flex--column .slider__button{
    margin-left: 0;
    margin-top: 15px;
}

@-webkit-keyframes BottomToTop{
    0%{
        opacity:0;
        -webkit-transform: translateY(15px);
                transform: translateY(15px);
    }
    100%{
        opacity:1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@keyframes BottomToTop{
    0%{
        opacity:0;
        -webkit-transform: translateY(15px);
                transform: translateY(15px);
    }
    100%{
        opacity:1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@-webkit-keyframes TopToBottom{
    0%{
        -webkit-transform: translateY(-15px);
                transform: translateY(-15px);
    }
    100%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@keyframes TopToBottom{
    0%{
        -webkit-transform: translateY(-15px);
                transform: translateY(-15px);
    }
    100%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
/* TEXT */
.text--gray{
    color:var(--light-gray);
}
/* PRICE */
.price{
    padding-top: 60px;
    padding-bottom: 55px;
}
.price__items{
    overflow: hidden;
    margin-top: 20px;
    max-width:780px;
    width: 100%;
}
.price__item{
    max-width: 260px !important;
    width: 100%;
}
.price__item .heading__text{
    color:#000;
}
.price__img{
    width: 215px;
    margin: 0 auto;
}
.price__buttons{
    margin-top: 50px;
}
.slider__button + .slider__button{
    margin-left: 30px;
}
.slick-slide{
    outline:none !important;
}
.main__img-2{
    height: 500px;
}
.modal-remonline {
    width: 100% !important;
    height: 100% !important;
    position: fixed;
    display: none;
    top: 45%;
    left: 41%;
    overflow: hidden !important;
    max-width: 342px !important;
    max-height: 168px !important;
    z-index: 1000;
}
.bg-color {
    width: 30px !important;
    height: 30px !important;
    background: var(--dark-gray) !important;
}
/* FORM */
.block-form{
    background: var(--dark-gray);
    padding: 25px 0;
    color:#fff;
}
.block-form .heading{
    color:#fff;
}
.block-form__form{
    margin-top: 50px;
}
.input{
    max-width:450px;
    width: 100%;
    border:none;
    background: var(--dark-gray);
    border-bottom:solid 1px var(--light-gray);
    outline:none;
    padding: 10px 0px;
    -webkit-transition: .15s linear;
    -o-transition: .15s linear;
    transition: .15s linear;
}
.input:focus{
    color:var(--light-gray-2);
    border-color:var(--light-gray-2);
}
.input:focus::-webkit-input-placeholder{
    color:var(--light-gray-2);
}
.input:focus::-moz-placeholder{
    color:var(--light-gray-2);
}
.input:focus:-ms-input-placeholder{
    color:var(--light-gray-2);
}
.input:focus::-ms-input-placeholder{
    color:var(--light-gray-2);
}
.input:focus::placeholder{
    color:var(--light-gray-2);
}
.input::-webkit-input-placeholder{
    color:var(--light-gray);
    font-size: 17px;
}
.input::-moz-placeholder{
    color:var(--light-gray);
    font-size: 17px;
}
.input:-ms-input-placeholder{
    color:var(--light-gray);
    font-size: 17px;
}
.input::-ms-input-placeholder{
    color:var(--light-gray);
    font-size: 17px;
}
.input::placeholder{
    color:var(--light-gray);
    font-size: 17px;
}
.input + .input{
    margin-top: 30px;
}
.input ~ .button{
    margin-top: 20px;
}
.button{
    border:none;
    padding: 5px;
    font-size: 22px;
    background: none;
    cursor:pointer;
}
.button--primary{
    color:var(--primary);
    text-align: center;
}
/* QUESTIONS */
.questions{
    padding: 55px 0 130px 0;
    background: url("../img/bg-4.svg") no-repeat,#FAFAFA;
    background-position: bottom right;
    background-size: 200px 200px;
}
.questions *{
    text-align: left;
}
.questions .heading__descr{
    margin-bottom: 45px;
}
/* CART */
.cart{
    width: 100%;
    height: 200px;
}
.cart iframe{
    width: 100%;
    height: 200px;
}
/* FOOTER */
.footer{
    padding: 0px 0px 30px 0px;
    background: #ffffff;
}
.footer__contacts-img{
    margin-right: 20px;
    width: 15px;
}
.footer__contacts-link + .footer__contacts-link{
    margin-top: 20px;
}
.footer__private{
    margin-top: 30px;
    font-size: 14px;
    text-align: left;
}
.footer__contacts{
    padding-top: 30px;
}
/* HEADER MENU */
.header__menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header__menu .link + .link{
    margin-left: 65px;
}
.status-block .container{
    padding: 0;
}
.questions br{
    display: none;
}
.modal-bg{
    background: rgba(0,0,0,.25);
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    z-index:199;
}
body.open{
    position: static;
}
.modal{
    max-width:950px;
    overflow:auto;
    width: 100%;
    height: 100%;
    max-height:520px;
    position: fixed;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    background: #ffffff;
    z-index:200;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.modal__img img{
    width: 100%;
}
.modal__text{
    padding: 25px 15px 35px 15px;
    font-size: 14px;
}
.close{
    position: absolute;
    top:0;
    right:0;
    color:#fff;
    background: #ED5B5B;
    width: 40px;
    height: 40px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor:pointer;
}
.modal.open,
.modal-bg.open{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.modal.open{
    -webkit-animation:scale .25s ease-in-out both;
            animation:scale .25s ease-in-out both;
}
.close:hover{
    background: rgb(228, 73, 73);
}
.modal__text .link{
    font-size: 14px;
}
.modal__text p + p{
    margin-top: 30px;
}
.button{
    margin-top:60px;
}
.slick-slide{
    margin: 0 10px;
}
.price__items{
    max-width:900px;
}
.block-form__form .button{
    margin-top: 35px;
}
.modal-3{
    background: var(--dark-gray);
    max-height: 340px;
    padding: 0px 15px;
    border-radius:5px;
}
.modal-3 .block-form__form .button{
    margin-bottom: auto;
    width: 100%;
}
.modal-3 .block-form__form{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 20px;
}
.modal-3 .block-form__form .input{
    width: 35%;
    margin:10px;
}
.modal-3 .block-form__form{
    margin-top: 0;
}
/* MEDIA */
@media(max-width:768px){
    .modal-3 .block-form__form{
        width: 100%;
    }
    .modal-3 .block-form__form .button{
        margin-bottom: 10px;
    }
    .modal-3 .block-form__form .input{
        width: 70%;
    }
}
@media(max-width:935px){
    .price__items{
        max-width:260px;
    }
}
@media(max-width:485px){
    .modal__img img,
    .modal__img{
        width: 100%;
    }
    .modal{
        max-height:340px;
    }
}
@media(min-width:380px){
    .devices__item{
        width: 33.333%;
    }
}
@media(min-width:425px){
    #bg-1{
        display: none;
    }
    .heading--block{
        width: 100%;
    }
    .heading--block{
        background: url("../img/bg-1.svg") no-repeat, #000;
        background-size: cover;
        padding: 15px;
        padding-top: 45px;
    }
    .heading--block .heading__text{
        font-size: 24px;
    }
}
@media(min-width:485px){
    .modal{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}
@media(min-width:600px){
    .devices__item{
        max-width: 80px;
    }
    .heading--block{
        padding: 60px 15px;
    }
    .heading--block .heading__text{
        font-size: 28px;
    }
    .link--primary{
        font-size: 19px;
    }
    .heading__text.heading__text--min{
        font-size: 18px;
    }
    .devices{
        padding-top: 45px 0;
    }
    .devices__items{
        margin-top: 20px;
    }
    .status-block{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;

    }
    .status-block{
        border-top:solid 1px #ccc;
        border-bottom:solid 1px #ccc;
    }
    .status-block .main__img{
        margin-bottom: 0px;
        width: 350px;
        height: 100%;
    }
    .border-img{
        height: 200px;
    }
    .status,
    .border-img{
        border:none;
    }
    .status-block .container{
        -webkit-box-ordinal-group:0;
            -ms-flex-order:-1;
                order:-1;
        margin-right: auto;
    }
    .status{
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 10px;
    }
}
@media(min-width:650px){
    .heading--block .heading__text{
        font-size: 32px;
    }
    .link--primary{
        font-size: 20px;
    } 
    .upgrade .heading__descr{
        max-width: 770px;
        margin: 0 auto;
        margin-top: 10px;
    }  
    .upgrade__item .link{
        margin-top: 10px;
    }
}
@media(min-width:120px) and (max-width:768px){
    .header__mobile-btn{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .header__mobile-menu.open{
        display: block;
    }
    .header__menu{
        display: none;
    }
    .modal {
        width: 90% !important;
    }
}
@media(min-width:768px){
    .heading--block{
        padding: 90px 15px;
    }
    .heading--block .heading__text{
        font-size: 36px;
    }
    .link--primary{
        font-size: 20px;
    }
    .heading__text.heading__text--min{
        font-size: 19px;
    }
    .devices .heading__text{
        max-width:576px;
    }
    .devices{
        padding-top: 70px 0;
    }
    .devices__items{
        margin-top: 35px;
    }
    .status .container,
    .faq .container,
    .questions .container{
        padding-left: 50px;
    }
    .heading__text{
        font-size: 23px;
    }
    .status .heading,
    .status .heading .heading__text,
    .faq .heading__text{
        text-align: left;
    }
    .faq .heading__text{
        max-width: 600px;
    }
    .status .link{
        font-size: 20px;
        margin-top: 15px;
    }
    .border-img{
        height: 250px;
    }
    .status-block .main__img{
        width: 450px;
    }
    .heading__descr{
        font-size: 18px;
    }
    .faq .heading__text{
        max-width: 760px;
    }
    .faq .container{
        margin: 0;
    }
    .slider{
        margin-top: 40px;
    }
    .slider__name-btn{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .slider .slider__name-btn .slider__button{
        margin-top: 0;
        margin-left: 15px;
    }
    .main__img-2{
        display: none;
    }
    .faq{
        background-image: url("../img/bg-3.svg");
        background-repeat: no-repeat;
        background-size: 200px;
        background-position: bottom right;
        padding: 25px 0;
    }
    .slider__sub-text{
        max-width:550px;
    }
    .price .heading{
        max-width:780px;
    }
    .price__item .heading__text{
        font-size: 18px;
    }
    .price__item .heading__descr{
        font-size: 16px;
    }
    .price__item{
        max-width: 400px !important;
        margin: 20px;
    }
    .block-form .container{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 50px 0px;
    }
    .block-form__form{
        width: 100%;
    }
    .block-form .heading__text{
        font-size: 18px;
        max-width:910px;
        text-align: center;
    }
    .questions .container{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .questions .heading__descr{
        margin-top: 15px;
    }
    .questions .link--primary{
        margin-top: 30px;
    }
    .questions{
        background-size: 350px;
    }
    .slider__name{
        font-size: 18px;
    }
    .slider__sub-text,
    .slider__sub-text .link{
        font-size: 15px;
    }
    .modal__text,
    .modal__link{
        font-size: 15px;
    }
    .modal__text{
        padding: 40px 30px 30px 30px;
    }
}
@media(min-width:800px){
    .header__menu .link + .link{
        margin-left: 75px;
    }
    .heading--block{
        padding: 120px 15px 160px 15px;
    }
    .heading--block .heading__text{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .link--primary{
        font-size: 21px;
    }
    .heading__text.heading__text--min{
        font-size: 20px;
    }
    .devices{
        padding-top: 80px 0;
    }
    .devices__items{
        margin-top: 45px;
    }
    .heading__text{
        font-size: 28px;
    }
    .status .link{
        font-size: 21px;
        margin-top: 35px;
    }
    .status .container,
    .faq .container,
    .questions .container{
        padding-left: 100px;
    }
    .border-img{
        height: 240px;
    }
    .status-block .main__img{
        width: 450px;
    }
    .heading__descr{
        font-size: 19px;
    }
    .slider{
        margin-top: 60px;
    }
    .faq{
        background-image: url("../img/bg-3.svg");
        background-repeat: no-repeat;
        background-size: 250px;
        background-position: bottom right;
    }
    .slider__sub-text{
        max-width:580px;
    }
}
@media(min-width:900px){
    .header__menu .link + .link{
        margin-left: 95px;
    }
    .header__contacts{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        font-size: 15px;
    }
    .header__contacts * + *{
        margin-left: 25px;
    }
    .heading--block .heading__text{
        max-width:700px;
        margin-bottom: 40px;
    }
    .heading--block .container{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .heading__text{
        font-size: 32px;
    }
    .status .container,
    .faq .container,
    .questions .container{
        padding-left: 150px;
    }
    .modal__img img{
        width: 100%;
        height: 100%;
    }
}
@media(min-width:1024px){
    .header__contacts{
        font-size: 16px;
    }
    .header__contacts * + *{
        margin-left: 45px;
    }
    .heading--block{
        padding: 140px 15px 200px 15px;
    }
    .heading--block .heading__text{
        font-size: 44px;
        max-width:600px;
        margin-bottom: 50px;
    }
    .link--primary{
        font-size: 22px;
    }
    .heading__text.heading__text--min{
        font-size: 21px;
    }
    .devices{
        padding: 90px 0;
    }
    .devices__items{
        margin-top: 50px;
    }
    .heading__text{
        font-size: 36px;
    }
    .status .link{
        font-size: 22px;
        margin-top: 45px;
    }
    .status .container,
    .faq .container,
    .questions .container{
        padding-left: 200px;
    }
    .heading__descr{
        font-size: 20px;
    }
    .slider{
        margin-top: 80px;
    }
    .faq{
        background-image: url("../img/bg-3.svg");
        background-repeat: no-repeat;
        background-size: 350px;
        background-position: bottom right;
        padding: 65px 0;
    }
    .slider__sub-text{
        max-width:680px;
    }
    .price__item .heading__text{
        font-size: 20px;
    }
    .price__item .heading__descr{
        font-size: 18px;
    }
    .price{
        position:relative;
    }
    #price-prev{
        position: absolute;
        top:50%;
        left:5%;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
    }
    #price-next{
        position: absolute;
        top:50%;
        right:5%;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
    }
    .block-form__form{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .input{
        width: 19%;
    }
    .input + .input,
    .block-form__form .button{
        margin-top: 0px;margin-left: 25px;
    }
    .block-form .heading__text{
        font-size: 20px;
    }
    .block-form .container{
        padding: 70px 0px 80px 0px;
    }
    .questions br{
        display: block;
    }
    .questions .container{
        padding-top: 75px;
        padding-bottom:75px;
    }
    .questions .heading__descr{
        margin-top: 30px;
    }
    .questions .heading__descr{
        margin-bottom: 50px;
    }
    .questions{
        background-size: 400px;
    }
    .footer{
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
        padding-bottom: 0;
    }
    .footer__contacts,
    .footer__private{
        padding-top: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-left: 20px;
    }
    .footer__contacts-link{
        font-size: 25px;
    }
    .footer__contacts-link + .footer__contacts-link{
        margin-top: 25px;
    }
    .footer__contacts-img{
        margin-right: 25px;
    }
    .footer__private{
        margin-top: 45px;
        font-size: 16px;
    }
    .cart iframe,
    .cart{
        height: 275px;
    }
    .slider__name{
        font-size: 20px;
    }
    .slider__sub-text,
    .slider__sub-text .link{
        font-size: 16px;
    }
    .modal__img,
    .modal__text{
        width: 50%;
        height: 100%;
    }
    .modal__text,
    .modal__link{
        font-size: 16px;
    }
    .modal__text{
        padding: 70px 50px 50px 50px;
    }
    .cart,
    .footer__contacts-all{
        width: 50%;
    }
}
@media(min-width:1100px){
    .border-img{
        height: 270px;
    }
    .status-block .main__img{
        width: 585px;
    }
}
@media(min-width:1280px){
    .heading--block .heading__text{
        font-size: 46px;
        margin-bottom: 60px;
    }
    .heading__text.heading__text--min{
        font-size: 22px;
    }
    .devices{
        padding-top: 100px 0;
    }
    .devices__items{
        margin-top: 60px;
    }
    .heading__text{
        font-size: 40px;
    }
    .status .container,
    .faq .container,
    .questions .container{
        padding-left: 235px;
    }
    .border-img{
        height: 370px;
    }
    .status-block .main__img{
        width: 650px;
    }
    .heading__descr{
        font-size: 22px;
    }
    .slider{
        margin-top: 100px;
    }
    .faq{
        background-image: url("../img/bg-3.svg");
        background-repeat: no-repeat;
        background-size: 450px;
        background-position: bottom right;
        padding: 100px 0;
    }
    .slider__sub-text{
        max-width:780px;
    }
    .price__item .heading__text{
        font-size: 22px;
    }
    .block-form .heading__text{
        font-size: 22px;
    }
    .block-form .container{
        padding: 80px 0px 90px 0px;
    }
    .questions .container{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .questions .heading__descr{
        margin-bottom: 70px;
    }
    .questions{
        background-size: 500px;
    }
    .footer__contacts-link{
        font-size: 28px;
    }
    .footer__contacts-img{
        margin-right: 50px;
    }
    .footer__contacts-link + .footer__contacts-link{
        margin-top: 45px;
    }
    .footer__private{
        margin-top: 70px;
        font-size: 17px;
    }
    .cart iframe,
    .cart{
        height: 350px;
    }
    .slider__name{
        font-size: 22px;
    }
    .slider__sub-text,
    .slider__sub-text .link{
        font-size: 17px;
    }
    .modal__text,
    .modal__link{
        font-size: 17px;
    }
    .modal__text{
        padding: 90px 60px 60px 60px;
    }
}
@-webkit-keyframes scale{
    0%{
        margin-top: 40px;
    }
    100%{
        margin-top: 0;
    }
}
@keyframes scale{
    0%{
        margin-top: 40px;
    }
    100%{
        margin-top: 0;
    }
}
@media screen and (max-height:755px){
    .modal__img{
        height: auto;
    }
}