@media screen and (max-width: 1169px) {
	.logo-btn {
		display: block;
	}
	.burger-btn {
		display: block;
	}
	.registration {
		display: none;
	}
	.header-logo {
		display: none;
	}
	.sub-header {
		display: none;
	}
	.hide-block {
		display: none;
	}
	.info {
		display: none;
	}
	.logo-img {
		margin-left: 10px;
		margin-right: 10px;
	}
	.contact-block {
		margin-right: 5px;
	}
	.basket-icon {
		height: 40px;
	}
	.search {
		margin-right: 10px;
		max-width: 470px;
	}
	.basket {
		margin-left: 0;
	}
	.first-bar {
		margin-bottom: 15px;
	}
	.socials {
		margin-right: 0;
	}
	.header {
		border: none;
	}
	.nav-link {
		padding-left: 12px;
		padding-right: 12px;
	}
	.basket-popup {
		right: 5%;
	}
	.basket-items {
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 10px;
	}
	.menu-mobile {
		background-color: #fbfbfb;
		width: 100%;
		height: 680px;
		z-index: 9000;
	}
	.close-btn {
		padding-right: 15px;
		padding-top: 15px;
		text-align: right;
	}
	.cats-mobile {
		display: flex;
		flex-direction: column;
		float: left;
		padding-left: 15px;
		width: 100%;
		margin-bottom: 10px;
	}
	.category {
		float: left;
		width: 175px;
		font-size: 20px;
		color: #7f5c47;
		margin-bottom: 10px;
		margin-left: 0;
		margin-right: auto;
	}
	.female, .male {
		margin-left: 10px;
	}
	.para {
		margin-left: 4px;
	}
	.mokup {
		margin-left: 9px;
	}
	.male-icon, .female-icon {
		padding-left: 8px;
	}
	.mokup-icon {
		margin-left: 8px;
	}
	.more-info {
		display: inline-flex;
		flex-direction: column;
		width: 95%;
		margin-left: 10px;
		margin-right: 10px;
		padding-top: 20px;
		border-top: 1px solid #fcefe8;
	}
	.promo {
		margin-left: 10px;
		margin-bottom: 10px;
	}
	.navig-mobile {
		display: flex;
		flex-wrap: wrap;
		width: auto;
		margin-top: 10px;
		margin-left: 10px;
	}
	.nav-mobile {
		line-height: 30px;
	}
	.contact-mobile {
		display: flex;
		flex-direction: column;
		background-color: #fff7f2;
		margin-top: 25px;
	}
	.contact-block-mobile, .contact-block-mobile .info {
		display: flex;
		margin-left: 15px;
		margin-top: 10px;
	}
	.contact-block-mobile .info {
		margin-left: 0;
	}
	.contact-img-mobile {
		margin-top: 12px;
	}
	.socials-mobile {
		margin-left: 18px;
		margin-top: 25px;
	}
	.burger-img {
		height: 40px;
		width: 40px;
	}
	.logo-img {
		width: 58px;
		height: 46px;
	}
	.phone-img {
		width: 40px;
		height: 40px;
	}
	.email-img {
		width: 40px;
		height: 40px;
	}
}