:root {
	--link: #ac8c78;
	--contact-link: #7F5C47;
}
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.header {
	font-family: 'ProximaNova-Regular';
	font-size: 15px;
	max-width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	margin-top: 32px;
	padding-bottom: 30px;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid rgba(127,92,71,.1);

}
.header-width {
	display: flex;
	max-width: 1170px;
	flex-direction: column;
}
.header-logo {
	max-width: 166px;
	width: 100%;
	height: 111px;
}
.navigation {
	height: max-content;
	align-items: center;
	padding: 0;
	display: flex;
	flex-direction: column;
}
.first-bar {
	display: flex;
	margin-bottom: 25px;
}
.nav {
	display: flex;
	justify-content: flex-start;
	width: max-content;
	margin-right: 12px;
}
.nav-link {
	color: var(--link);
	padding-top: 0;
	padding-bottom: 0;
}
.link {
	color: var(--link);
}
.socials {
	margin-left: 0px;
	margin-right: 53px;
}
.icon {
	margin-left: 5px;
	padding-bottom: 5px;
}
.icon:first-child {
	margin-left: 0;
}
.icon:hover {
	opacity: .8;
	cursor: pointer;
}
.registration-mobile {
	display: none;
}
.menu-mobile {
	display: none;
}
.second-bar {
	display: flex;
	align-items: center;
	padding-left: 16px;
	width: 100%;
}
.burger-btn {
	display: none;
}
.logo-btn {
	display: none;
}
.sign-icon {
	margin-right: 5px;
	padding-bottom: 5px;
}
.phone-img, .email-img{
	margin-right: 10px;
}
.contact-img {
	transition: opacity .2s ease;
}
.contact-img:hover {
	opacity: .8;
}
.contact-block {
	display: flex;
	align-items: center;
	margin-right: 27px;
}
.contact-block:last-child {
	margin-right: 0;
}
.info {
	display: flex;
	flex-direction: column;
	height: max-content;
}
.title {
	color: var(--contact-link);
	font-family: 'ProximaNova-Regular';
	font-size: 16px;
	opacity: 1;
	height: 20px;
	transition: color .2s ease;
}
.title:hover {
	color: #000;
	cursor: pointer;
}
.desc {
	font-size: 13px;
}
.font-bold {
	font-family: 'ProximaNova-SemiBold';
	font-size: 22px;
	height: 25px;
}
.search {
	max-width: 251px;
	width: 100%;
	height: 41px;
	border-radius: 25px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;

}
.search-input {
	border: none;
	color: var(--link);
	width: 80%;
	padding-left: 15px;
}
.basket {
	display: flex;
	margin-left: 25px;
}
.basket-block {
	margin-left: 10px;
	align-self: center;
}
.basket-featured {
	font-size: 13px;
	color: #AC8C78;
	transition: color .2s ease;
}
.basket-featured:hover {
	color: #000;
	cursor: pointer;
}
.basket-icon {
	transition: opacity .2s ease;
	width: 54px;
	height: 54px;
}
.basket-icon:hover {
	opacity: .8;
	cursor: pointer;
}
.basket-count {
	font-size: 16px;
	color: #7F5C47;
	transition: .2s ease;
	height: 20px;
	margin-bottom: 5px;
	letter-spacing: -0.3px;
}
.basket-count:hover {
	color: #000;
	cursor: pointer;
}
.basket-count span {
	font-family: 'ProximaNova-Bold';
}
.feature-icon {
	margin-right: 5px;
	margin-bottom: 5px;
}
.lines {
	margin-left: 3px;
}
.basket-number {
	position: absolute;
	margin-left: 38px;
	color: #fff;
	font-size: 13px;
	z-index: 2000;
	width: 20px;
	margin-bottom: 35px;
	text-align: center;
	background: url('../img/basket-count.svg') no-repeat center;
	-webkit-background-size: 18px;
	background-size: 18px;
}

/* BASKET POPUP */
.basket-popup {
	display: none;
	position: absolute;
	z-index: 9999;
	right: calc(42% - 480px);
	top: 60px;
	width: 291px;
	border-radius: 15px;
	background-color: #fff;
}
.basket-modal {
	display: flex;
	margin-left: 14px;
	margin-top: 16px;
	align-items: center;
}
.basket-item {
	display: flex;
}
.js-spcbtwn {
	display: flex;
	justify-content: space-between;
}
.basket-item__img {
	width: 55px;
	height: 75px;
}
.basket-items {
	margin-left: 19px;
	margin-right: 19px;
	padding-top: 19px;
	margin-top: 20px;
	padding-bottom: 19px;
	border-top: 1px solid rgba(127,92,71,.1);
	border-bottom: 1px solid rgba(127,92,71,.1);
}
.basket-item {
	margin-top: 8px;
	margin-bottom: 8px;
}
.basket-item-block {
	padding-left: 10px;
}
.item-info {
	font-family: 'ProximaNova-SemiBold';
	font-size: 16px;
}
.basket-item__title {
	width: 188px;
	font-family: 'ProximaNova-Light';
	line-height: 20px;
	font-size: 16px;
	margin-bottom: 5px;
}

.basket-total {
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 19px;
	margin-right: 19px;
}
.basket-total-price {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.basket-total__desc {
	font-size: 14px;
}
.basket-total__sum {
	font-family: 'ProximaNova-SemiBold';
	color: #ef86a3;
	font-size: 22px;
}
.basket-buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 14px;
}
.cart-btn {
	background-color: #fff;
	border: 2px solid #C4A089;
	color: #C4A089;
	padding: 5px 12px;
	border-radius: 20px;
	font-size: 16px;
	font-family: 'ProximaNova-SemiBold';
	outline: none;
}
.cart-btn:hover {
	opacity: .8;
}
.buy-btn {
	background-color: #EF86A3;
	color: #fff;
	padding: 5px 14px;
	border-radius: 20px;
	font-size: 16px;
	border: none;
	font-family: 'ProximaNova-SemiBold';
	outline: none;
}
.buy-btn:hover {
	opacity: .8;
}

.sub-header {
	max-width: 1170px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0 auto;
	margin-top: 36px;
	margin-bottom: 36px;
	display: flex;
	justify-content: space-between;
}
.categories {
	display: flex;
	align-items: center;
}
.category {
	color: var(--link);
	font-size: 20px;
	font-family: 'ProximaNova-SemiBold';
	margin-left: 18px;
}
.category:first-child {
	margin-left: 0;
}
.category img, .promo img {
	margin-bottom: 4px;
	margin-right: 8px;
}
.promo {
	color: var(--link);
	font-size: 18px;
	font-family: 'ProximaNova-Light';
	margin-left: 14px;
}