/*Большие девайсы (большие десктопы, < 1200px)*/
@media (max-width: 1200px) {
    .catalog-description {
        font-size: 22px;
    }
    .catalog-pagination {
        margin-top: 10px;
    }
    .catalog-items__item.big-banner {
        max-width: 210px;
    }
    .catalog-items__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
        width: 100%;
    }
    .catalog-items__container-banner .catalog-items__banner {
        height: 400px;
    }
    .catalog-items__banner-container {
        height: 95%;
    }
    .catalog-items__container-big {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .catalog-items__container-banner {
        max-width: 100%;
        width: 100%;
    }
    .catalog-items__item.second-banner {
        max-width: 220px;
    }
    .catalog-sort {
        justify-content: normal;
    }
    .catalog-sort__main {
        margin-right: 20px;
    }
    .catalog-sort__buttons {
        margin-right: 20px;
    }
    .catalog-items__item {
        max-width: 220px;
    }
    .catalog-items__item-content__buttons__basket {
        width: 110px;
        height: 30px;
    }
    .catalog-items__item-content__buttons__basket::before {
        right: 10px;
    }
    .catalog-filter li {
        font-size: 14px;
        line-height: 25px;
    }
    .catalog-items__container .catalog-items__item {
        max-width: 220px;
    }
    .catalog-items__container-banner {
        margin-bottom: 20px;
    }
    .catalog-items__item {
        margin-bottom: 20px;
    }
    .catalog-items__container .catalog-items__item {
        max-width: 220px;
    }
    .catalog-items__container-big {
        flex-direction: column;
    }
    .catalog-items__container:first-child {
        margin-right: 15px;
    }
    .catalog-items__container-banner {
        max-width: 100%;
    }
    .fourth-banner {
        width: 100%;
        max-width: 460px !important;
    }
    .ui-widget.ui-widget-content {
        max-width: 160px;
    }
    .slider-range__block {
        max-width: 190px;
    }
    .slider-range__block input {
        width: 80px;
    }
    .catalog-filter__buttons button {
        width: 85px;
        font-size: 15px;
    }
    .catalog-filter__title-name {
        font-size: 15px;
        line-height: 20px;
    }
}

/*Средние девайсы («таблетки», < 992px) */
@media (max-width: 992px) {
    .range-popup {
        right: 220px;
        top: 55px;
    }
    .slider-range__block {
        max-width: 100%;
    }
    .catalog-items {
        justify-content: space-between;
    }
    .catalog-items__item {
        padding-right: 0;
    }
    .banner_bg {
        border-radius: 20px;
    }
    .catalog-items__container-banner {
        height: 100%;
    }
    .catalog-items__container-big {
        width: 100%;
    }
    .catalog-description {
        text-align: left;
    }
    .catalog-sort__numitems {
        margin-top: 10px;
    }
    .catalog-filter {
        margin-top: 10px;
        width: 100%;
    }
    .catalog-sort__numitems {
        margin-top: 0;
    }
    .ui-widget.ui-widget-content {
        max-width: 100%;
    }
    .catalog-items__container .catalog-items__item {
        max-width: 225px;
    }
    .catalog-filter__title-name {
        font-size: 16px;
    }
    .catalog-filter__colors-block {
        max-width: 100%;
    }
    .catalog-filter__buttons button {
        width: 185px;
    }
    .catalog-filter__button {
        display: inline-block;
    }
    .catalog-filter__title-block {
        position: relative;
        display: flex;
        justify-content: center;
    }
    button.catalog-filter__button {
        position: absolute;
        top: 0px;
        right: 30px;
    }
    .catalog-filter__container {
        height: 0;
        overflow: hidden;
        transition: 0.4s    ;
        -webkit-transition: 0.4s    ;
        -moz-transition: 0.4s    ;
        -ms-transition: 0.4s    ;
        -o-transition: 0.4s    ;
    }
    .catalog-items__container {
        justify-content: space-between;
    }
    .catalog-items__container-banner {
        max-width: 100%;
    }
    .fourth-banner {
        max-width: 465px !important;
    }
}

/*Малые девайсы («ландшафтные», < 768px)
*/@media (max-width: 768px) {
    .range-popup {
        right: 30%;
    }
    .catalog-items__item .catalog-items__banner {
        height: 100%;
    }
    .second-banner .catalog-items__banner {
        height: 240px;
    }
    .catalog-items__item.second-banner {
        max-width: 540px;
    }
    .catalog-items__container-big {
        width: 100%;
        flex-direction: row;
    }
    .catalog-items__container:nth-child(2) {
        display: flex;
        justify-content: flex-end;
    }
    .catalog-sort__numitems {
        margin-top: 10px;
    }
    .catalog-sort {
        justify-content: space-between;
    }
    .catalog-sort__buttons {
        margin-right: 0;
    }
    .catalog-items__item {
        max-width: 240px;
    }
    .ui-widget.ui-widget-content {
        max-width: 490px;
    }
    .slider-range__block {
        max-width: 490px;
    }
    .catalog-items__container:first-child {
        margin-right: 0;
    }
    .catalog-items__container .catalog-items__item {
        max-width: 260px;
    }
    .second-banner .catalog-items__item .catalog-items__banner {
        height: 290px;
    }
    .catalog-items__container-banner {
        max-width: 100%;
    }
    .catalog-items__banner-text__readmore {
        font-size: 14px;
    }
    .catalog-items__banner-text__readmore::before {
        width: 16px;
        left: 125px;
        top: 2px;
    }

    .catalog-items__item.second-banner {
        max-width: 100%;
    }
    body .fourth-banner {
        max-width: 100% !important;
    }
    .row-catalog-filter {
        padding: 0 20px;
    }
    .fourth-banner {
        max-width: 100% !important;
    }
    .catalog-items__banner-container {
        display: flex;
        flex-direction: column;
    }
    .catalog-items__item {
        padding-right: 0;
    }
    .catalog-items {
        display: flex;
        justify-content: space-between;
    }
    .catalog-items__container-banner .catalog-items__banner {
        height: 290px;
    }
}

/*Экстрамалые девайсы («телефоны», < 576px)
*/@media (max-width: 576px) {
    .range-popup span {
        font-size: 14px;
    }
    .range-popup a {
        font-size: 13px;
    }
    .range-popup {
        width: 170px;
        height: 40px;
    }
    .catalog-items__item.second-banner {
        max-width: 510px;
    }
    .catalog-items {
        justify-content: space-around;
    }
    .catalog-items__item {
        max-width: 230px;
    }
    .ui-widget.ui-widget-content {
        max-width: 420px;
    }
    .catalog-items__container .catalog-items__item {
        max-width: 230px;
    }
    .catalog-items__container-big {
        width: 96%;
    }
    .catalog-items__container-big {
        flex-direction: row;
    }
    .catalog-page .container {
        padding: 0 10px;
    }
    .catalog-items {
        padding: 0 20px;
    }
    .catalog-items__item {
        padding-right: 0;
        margin-right: 0;
    }
    .catalog-items__container:first-child {
        margin-right: auto;
    }
    .slider-range__block {
        max-width: 430px;
    }
    .catalog-items__container:nth-child(2) {
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 520px){
    .catalog-items {
        padding: 0;
    }
    .catalog-items__item {
        max-width: 190px;
    }
    .catalog-items__container .catalog-items__item {
        max-width: 190px;
    }
    .catalog-items__item-content__buttons__basket {
        font-size: 12px;
    }
    .catalog-items__item-content__buttons__basket::before {
        width: 16px;
        height: 14px;
    }
    .catalog-items__item-content__buttons__favourite {
        width: 19px;
        height: 19px;
    }
}

@media (max-width: 450px){
    .catalog-items__container .catalog-items__item {
        max-width: 185px;
    }
    .catalog-items__container-big {
        flex-direction: row;
    }

    .ui-widget.ui-widget-content {
        max-width: 100%;
    }
    .catalog-filter__buttons button {
        width: 105px;
    }
    .catalog-sort {
        justify-content: flex-start;
        flex-direction: column;
    }
    .catalog-sort select {
        font-size: 12px;
    }
}
@media (max-width: 430px){
    .catalog-items__container .catalog-items__item {
        max-width: 170px;
    }
    .catalog-items__item.second-banner {
        max-width: 95%;
    }
    .catalog-items__container-big {
        flex-direction: row;
    }
    
    .catalog-items__item {
        max-width: 170px;
    }
    .catalog-items__item-image {
        max-height: 200px;
    }
    .catalog-items__item-content__name {
        font-size: 14px;
    }
    .catalog-items__item-content {
        line-height: 16px;
    }
    .catalog-items__item-content__prices__price-old {
        font-size: 12px;
    }
    .catalog-items__item-content__prices__price {
        font-size: 12px;
    }
    .catalog-items__item-content__buttons__basket {
        font-size: 10px;
    }
    .catalog-items__item-content__buttons__basket::before {
        right: 6px;
        top: -5px;
    }
    .catalog-items__item-content__buttons__basket::before {
        width: 13px;
        height: 13px;
    }
    .catalog-items__item-content__buttons__basket {
        height: 20px;
        line-height: 20px;
        border-radius: 10px;
    }
    .catalog-items__item-content__buttons__analitics {
        width: 20px;
    }
    .catalog-items__item-content__buttons__favourite {
        width: 26px;
    }
    .catalog-items__item .catalog-items__banner-text__name {
        font-size: 14px;
        line-height: 14px;
    }
    .catalog-items__banner-text__readmore {
        font-size: 12px;
    }
    .catalog-items {
        padding: 0 10px;
    }
    .catalog-items__item-image a {
        min-height: 190px;
    }
}

@media (max-width: 370px){
    .catalog-items {
        padding: 0;
    }
    .catalog-items__item {
        max-width: 150px;
    }
    .catalog-items__container .catalog-items__item {
        max-width: 150px;
    }
}

@media (max-width: 340px){
    .catalog-page .container {
        padding: 0 5px;
    }
    body .fourth-banner {
        max-width: 95% !important;
    }
    .catalog-items__container-banner {
        max-width: 97%;
    }
    .catalog-items__item.second-banner {
        max-width: 95%;
    }
    .catalog-sort select {
        padding: 10px 25px 10px 10px;
    }
    .catalog-items__container .catalog-items__item {
        max-width: 145px;
    }
    .catalog-items__item {
        max-width: 145px;
    }
}