.buy {
	&__top {
		background-color: #e1e1e1;
		padding-top: 100px;
		padding-bottom: 120px;
		position: relative;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		& img {
			position: absolute;
			right: 170px;
			bottom: 0;
			z-index: 1;
			max-width: 240px;
			width: 100%;
		}
	}

	&__video {
		position: absolute;
		right: 0;
		z-index: 1;
		max-width: 600px;
		top: 30px;
	}

	&__selector {
		margin-top: 85px;

		&_item {
			font-weight: 700;
			font-size: 24px;
			transition: border 0.3s ease, color 0.3s ease;
			background-color: transparent;
			color: $darkgray;
			border-bottom: 3px solid transparent;

			&:last-child {
				margin-left: 180px;
			}

			&:hover {
				cursor: pointer;
				color: $darkblue;
			}

			&.active {
				cursor: default;
				color: $darkblue;
				padding-bottom: 10px;
				border-bottom: 3px solid $darkblue;
			}
		}
	}

	&__body {
		margin: 0 auto;
		max-width: 900px;
		align-items: flex-start;
		display: none;
		position: relative;

		&.active {
			display: flex;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		margin-left: auto;
	}

	&__label {
		&_wrapper {
			display: flex;
			align-items: center;
			margin-bottom: 80px;
		}
		display: flex;
		font-size: 18px;
		color: $darkgray;
		font-weight: 700;
		align-items: center;

		& span {
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	&__pharms {
		margin-top: 35px;
		&_item {
			align-items: center;
			padding-bottom: 25px;
			margin-bottom: 30px;
			display: none;
			border-bottom: 3px solid #e5e5e5;

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				display: flex;
			}

			& a {
				padding: 12px 16px;
				display: block;
				font-size: 18px;
				max-width: 180px;
			}

			& img {
				max-width: 215px;
			}

			& span {
				color: $darkgray;
				font-size: 18px;
				margin-left: 65px;
				margin-right: 50px;
			}
		}

		&_img {
			max-width: 215px;
			width: 100%;
		}
	}

	&__wrapper {
		margin-top: -65px;
		position: relative;
		padding-bottom: 150px;
		background-color: #e1e1e1;
	}

	&__link {
		margin-top: 40px;
		margin-bottom: 0;
	}

	&__img {
		top: 100px;
		max-width: 300px;
		position: absolute;
		left: -100px;
	}
}

.mar-0 {
	margin: 0;
}

@media screen and (max-width: 1450px) {
	.buy {
		&__top img {
			display: none;
		}
	}
}

@media screen and (max-width: 1200px) {
	.buy {
		&__top {
			padding-top: 45px;
		}
		&__wrapper {
			padding-bottom: 45px;
		}
	}
}

@media screen and (max-width: 1100px) {
	.buy {
		&__img {
			position: initial;
			left: auto;
			top: auto;
		}
	}
}

@media screen and (max-width: 950px) {
	.buy {
		&__body {
			flex-direction: column;
			align-items: center;
		}
		&__img {
			margin-bottom: 30px;
		}
		&__content {
			margin: 0 auto;
		}
		&__video {
			display: none;
		}
	}
}

@media screen and (max-width: 780px) {
	.buy__selector_item:last-child {
		margin-left: 30px;
	}
	.buy__selector_item {
		font-size: 20px;
	}
	.buy__pharms_item a {
		padding: 10px 0;
		font-size: 16px;
		max-width: 200px;
		text-align: center;
	}
}

@media screen and (max-width: 600px) {
	.buy {
		&__pharms {
			&_item {
				flex-wrap: wrap;

				& span {
					margin-left: 0;
					margin-right: auto;
				}
			}
			&_img {
				flex-basis: 100%;
				margin-bottom: 25px;
				max-width: none;
			}
		}
		&__content {
			width: 100%;
		}
		&__selector {
			margin-top: 40px;
		}
		&__label_wrapper {
			margin-bottom: 45px;
		}
		&__img {
			max-width: 250px;
		}
	}
}

@media screen and (max-width: 500px) {
	.buy {
		&__label_wrapper {
			flex-direction: column;
			align-self: flex-start;
		}
		&__label span {
			font-size: 16px;
		}
		&__selector {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;

			&_item {
				font-size: 12px;
			}

			&_item:last-child {
				margin-left: 0;
			}
		}
	}
}
