.contacts {
    background-color: #F4F4F4;
    padding: 60px 0;

    &__title {
        text-align: center;
    }

    &__desc {
        margin: 0 auto;
        margin-top: 50px;
        font-size: 18px;
        text-align: center;
        max-width: 1000px;
        color: $darkgray;
    }

}


@media screen and (max-width: 1200px) {
    .contacts {
        padding: 45px 0;
        &__desc {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 550px) {
    .contacts {
        &__desc {
            margin-top: 30px;
            font-size: 14px;
        }
    }
}