.features {
	background-color: #f9f9f9;
	padding-top: 65px;
	background-repeat: no-repeat;
	background-image: url('../imgs/vector.svg');
	padding-bottom: 65px;
	text-align: center;
	background-size: 100%;
	background-position-y: bottom;

	&__inner {
		margin-top: 65px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__items {
		display: flex;
		justify-content: flex-end;
        flex-wrap: wrap;
        counter-reset: features;
	}
	&__item {
		padding-left: 90px;
		margin-left: 45px;
		margin-bottom: 60px;
		position: relative;

		&:nth-child(3) {
			margin-bottom: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}

		&:after {
            position: absolute;
            counter-increment: features;
			content: counter(features);
			left: -10px;
            top: -15px;
            line-height: 1;
            font-weight: 700;
			font-family: "Roboto", sans-serif;
			font-style: italic;
			font-size: 150px;
			color: #c0e88e;
        }
        
        &:first-child {
            &:after {
                left: 5px;
            }
        }

		& p {
			text-align: left;
			max-width: 300px;
        }
        
        & a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        & span {
            font-weight: 700;
            color: $green;
        }
	}

	&__img {
		min-width: 660px;
		margin-left: -360px;
		position: relative;

		&_first {
			position: absolute;
			left: 0;
			top: -50px;
			z-index: 10;
		}
		&_second {
			position: absolute;
			right: 0;
			top: 0;
			z-index: 15;
			transition: transform 5s ease, opacity .3s ease !important;

			&.active {
				transform: rotate(45deg);
			}
		}
		&_third {
			position: absolute;
			right: 88px;
			top: 130px;
			z-index: 20;

			transition: transform 5s ease, opacity .3s ease !important;

			&.active {
				transform: translateY(-50px);
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.features {
		padding: 45px 0;
		&__img {
			display: none;
		}
		&__item {
			margin-left: 0;
		}
		&__items {
			justify-content: space-around;
		}
	}
}

@media screen and (max-width: 809px) {
	.features {
		&__item {
			min-height: 115px;
			&:nth-child(3) {
				margin-bottom: 60px;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.features {
		&__item {
			padding-left: 70px;
			margin-bottom: 45px;
			min-height: auto;

			&:nth-child(3) {
				margin-bottom: 45px;
			}

			&:after {
				font-size: 100px;
				left: 0px;
			}

			&:first-child {
				&:after {
					left: 7px;
				}
			}
		}
	}
}