.features {
	background-color: #f9f9f9;
	padding-top: 65px;
	padding-bottom: 65px;
	text-align: center;

	&__inner {
		margin-top: 65px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__items {
		display: flex;
		justify-content: flex-end;
        flex-wrap: wrap;
        counter-reset: features;
	}
	&__item {
		flex-basis: fill;
		padding-left: 90px;
		margin-left: 45px;
		margin-bottom: 60px;
		position: relative;

		&:nth-child(3) {
			margin-bottom: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}

		&:after {
            position: absolute;
            counter-increment: features;
			content: counter(features);
			left: -10px;
            top: -15px;
            line-height: 1;
            font-weight: 700;
			font-family: "Roboto", sans-serif;
			font-style: italic;
			font-size: 150px;
			color: #c0e88e;
        }
        
        &:first-child {
            &:after {
                left: 5px;
            }
        }

		& h3 {
			font-family: "Roboto", sans-serif;
			text-align: left;
			margin-bottom: 22px;
		}

		& p {
			text-align: left;
			max-width: 300px;
        }
        
        & a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        & span {
            font-weight: 700;
            color: $green;
        }
	}

	&__img {
		min-width: 660px;
		margin-left: -360px;
	}
}
