$gray: #5c5c5c;
$blue: #488cb4;
$darkblue: #1590d8;
$green: #66b007;
$darkgray: #3f3f3f;

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	outline: none;
}

html {
	font-size: 16px;
}

h1,
h2,
h3,
h4 {
	font-family: "Comfortaa", cursive;
	font-weight: bold;
	font-size: 42px;
	color: $blue;
}

p {
	font-size: 18px;
	color: $gray;
}

img {
	user-select: none;
	pointer-events: none;
}

button {
	font-family: "Roboto", sans-serif;
	user-select: none;
}

a {
	text-decoration: none;
	color: $gray;
	user-select: none;
}

html {
	overflow-x: hidden;

	&.open {
		overflow-y: hidden;
	}
}

body {
	overflow-x: hidden;
	box-sizing: border-box;
	background-color: #fff;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
}

.container {
	max-width: 1230px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;

	&_sm {
		max-width: 1200px;
	}
}

.green {
	color: $green;
	font-size: 24px;
}

.subtitle {
	font-family: "Roboto", sans-serif;
	text-align: left;
	margin-bottom: 22px;
}

.btn {
	text-align: center;
	border-radius: 40px;
	color: #fff;
	font-size: 24px;
	width: 230px;
	padding: 14px 0;
	transition: color 0.3s ease, background 0.3s ease, border 0.3s ease;
	padding-bottom: 18px;
	line-height: 1;
	border: 3px solid $darkblue;
	background-color: $darkblue;

	&:hover {
		color: $darkblue;
		cursor: pointer;
		background-color: transparent;
	}

	&.transparent {
		background-color: transparent;
		color: $darkblue;

		&:hover {
			background-color: $darkblue;
			color: #fff;
		}
	}
}

@media screen and (max-width: 1000px) {
	.btn-hide {
		display: none;
	}
}

.lazyload,
.lazyloading {
  opacity: 0;
  min-height: 200px;
  transition: border 0.3s ease, opacity 0.3s, transform 0.3s, filter 0.3s !important;
}

@media screen and (max-width: 800px) {
  .lazyload,
  .lazyloading {
    min-height: 100px;
  }
}

.lazyloaded {
  opacity: 1;
  transition: border 0.3s ease, opacity 0.3s, transform 0.3s, filter 0.3s !important;
}

.link_sm {
	color: $darkblue;
	text-decoration: underline;
	margin-top: 115px;
	display: block;
	font-size: 18px;
	margin-bottom: 20px;

	&:hover {
		text-decoration: none;
	}
}

.relative {
	position: relative;
	z-index: 100;
}

@media screen and (max-width: 1200px) {
	h1,
	h2,
	h3,
	h4 {
		font-size: 34px;
	}

	p {
		font-size: 16px;
	}
}

@media screen and (max-width: 850px) {
	.green {
		font-size: 20px;
	}
}

@media screen and (max-width: 768px) {
	.btn {
		font-size: 20px;
		width: 150px;
		padding: 8px 0;
		padding-bottom: 8px;
		padding-bottom: 12px;
	}
	.link_sm {
		margin-top: 25px;
		font-size: 16px;
	}
}

@media screen and (max-width: 550px) {
	h1,
	h2,
	h3,
	h4 {
		font-size: 26px;
	}

	p {
		font-size: 14px;
	}
}

@media screen and (max-width: 450px) {
	h1,
	h2,
	h3,
	h4 {
		font-size: 25px;
	}
	.green {
		font-size: 18px;
	}
}
