.help {
	padding-top: 125px;
	padding-bottom: 80px;
	text-align: center;

	&__items {
		margin-top: 45px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__item {
		& p {
			margin-top: 18px;
		}
	}

	&__hint {
		margin: 0 auto;
		margin-top: 55px;
		max-width: 1000px;
	}
}

@media screen and (max-width: 850px) {
	.help {
		padding-top: 100px;
		padding-bottom: 50px;

		&__items {
			flex-wrap: wrap;
		}
		&__item {
			flex-basis: 50%;
			margin-bottom: 40px;

			&:nth-child(3),
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media screen and (max-width: 400px) {
	.help {
		&__item {
            & p {
                margin-top: 12px;
            }

			& img {
				max-width: 115px;
			}
		}
	}
}
