.help {
    padding-top: 125px;
    padding-bottom: 80px;
    text-align: center;

    &__items {
        margin-top: 45px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__item {
        & p {
            margin-top: 18px;
        }
    }

    &__hint {
        margin: 0 auto;
        margin-top: 55px;
        max-width: 1000px;
    }
}


