.partners {
    padding: 55px 0;
    
    &__inner {
        display: flex;
        justify-content: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        &:first-child {
            padding-right: 85px;
            border-right: 3px solid #E5E5E5;
            margin-right: 85px;
        }

        & img {
           margin: 45px 0;
           width: max-content;
        }
    }

    &__name {
        font-size: 48px;
        font-family: 'Roboto', sans-serif;
        color: $gray;
        font-weight: 400;
    }

    &__desc {
        font-size: 14px;
    }

}

@media screen and (max-width: 1200px) {
    .partners {
        padding: 45px 0;
        &__img_first {
            width: 100%;
        }
    }
}

@media screen and (max-width: 915px) {
    .partners {
        &__name {
            font-size: 28px;
        }
        &__inner {
            flex-direction: column;
        }
        &__item {
            & img {
                margin: 20px 0;
            }
            &:first-child {
               margin-right: 0;
               padding-right: 0;
               border-right: 0;
               margin-bottom: 40px;
                
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .partners {
        &__img_first {
            width: auto !important;
        }
    }
}