.posts {
    padding-top: 100px;
    padding-bottom: 70px;
    background-color: #f4f4f4;

    &__title {
        text-align: center;
    }

    &__btn {
        padding: 12px 0;
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-top: 65px;
    }

    &__inner, .yarpp-related {
        display: flex;
        margin-top: 65px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__img {
        max-width: 560px;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 564px;

    }

    &__item {
        display: flex;
        flex-direction: column;
        max-width: 559px;
        width: 100%;

        &:first-child {
            flex-basis: 100%;
            width: 100%;
            max-width: none;
            flex-direction: row;
            margin-bottom: 55px;

            & .posts__item_info {
                background-color: #fff;
                flex-basis: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                & h4 {
                    padding-left: 15px;
                    padding-right: 15px;
                }

            }
            
        }

        &:hover {
            & h4 {
                color: $blue;
            }
        }

        &_info {
            display: flex;
            flex-direction: column;
            align-items: center;

            & span {
                color: $gray;
                font-size: 16px;
                margin-top: 15px;
                margin-bottom: 15px;
            }

            & h4 {
                max-width: 560px;
                text-align: center;
                font-size: 24px;
                transition: color .3s ease;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                color: $gray;
            }
        }
    }
}

@media screen and (max-width: 1160px) {
    .posts {
        &__item {
            flex-basis: 49%;

            &_info h4 {
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .posts {
        &__img {
            height: 420px;
        }
    }
}

@media screen and (max-width: 840px) {
    .posts {
        &__img {
            height: 320px;
        }
    }
}

@media screen and (max-width: 768px) {
    .posts {
        &__item {
            &_info h4 {
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .posts {
        &__item {
            &:first-child {
                margin-bottom: 35px;
            }
            margin-bottom: 35px;
            &:last-child {
                margin-bottom: 0;
            }

            &_info h4 {
                font-size: 16px;
            }
        }
        &__img {
            height: 240px;
        }
    }
}

@media screen and (max-width: 500px) {
    .posts {
        &__item {
            flex-basis: 100%;
            &:first-child {
                flex-direction: column;

                & .posts__item_info {
                    flex-basis: auto;
                    height: auto;
                    background-color: transparent;
                }
            }
        }
        &__img {
            height: 400px;
        }
    }
}

@media screen and (max-width: 380px) {
    .posts {
        &__img {
            height: 320px;
        }
    }
}

.posts-self {
    & .posts__item {
        margin-bottom: 45px;
    }
}
