.use {
	background-image: url("../imgs/bgUse.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position-y: top;
	background-color: #fff;
	padding-top: 75px;
	padding-bottom: 120px;

	&__title {
		text-align: center;
	}

	&__inner {
		margin-top: 70px;
		display: flex;
		justify-content: space-between;
	}

	&__info {
		padding: 0 65px;
		display: flex;
		flex-direction: column;
        align-items: center;
        
        & ul {
            font-weight: 700;
            color: $gray;
            font-size: 18px;
            width: 100%;
            margin-top: 25px;

            & li {
                font-weight: 400;
                list-style: none;
            }
        }
	}

	&__item {
		&:first-child {
			.use__info {
				border-right: 3px solid #e5e5e5;
			}
		}

		display: flex;
		flex-direction: column;
		flex-basis: 50%;
	}

	&__desc {
		margin-top: 50px;
		padding-bottom: 45px;
		margin-bottom: 45px;
		border-bottom: 3px solid #e5e5e5;
		font-size: 18px;
	}

	&__blue {
		color: $darkblue;
		font-weight: 700;
		font-size: 24px;
    }
    
    &__img {
        &_first {
            max-width: 370px;
        }
        &_last {
            max-width: 380px;
            align-self: flex-end;
        }
    }

    &__lasts {
        margin: 0 auto;
        margin-top: 75px;
        font-size: 18px;
        max-width: 700px;
        text-align: center;
    }
    &__tip {
        font-size: 18px;
		font-style: italic;
		text-align: center;
        max-width: 670px;
        margin: 0 auto;
        margin-top: 60px;
        font-weight: 400;
    }
}

@media screen and (max-width: 1200px) {
	.use {
		padding: 45px 0;
		&__img_first {
			width: 100%;
		}
	}
}

@media screen and (max-width: 850px) {
	.use {
		&__inner {
			margin-top: 45px;
			flex-direction: column;
		}
		&__item {
			align-items: center;

			&:first-child {
				.use__info {
					border-right: none;
				}
			}

			&:last-child {
				margin-top: 50px;
			}
		}
		&__img_last {
			align-self: unset;
		}
	}
}


@media screen and (max-width: 600px) {
	.use {
		&__desc {
			font-size: 18px;
			margin-top: 30px;
			padding-bottom: 20px;
			margin-bottom: 25px;
		}
		&__info {
			padding: 0;
		}
		&__img_last {
			width: 100%;
		}
	}
}

@media screen and (max-width: 450px) {
	.use {
		padding-top: 30px;
		&__desc {
			font-size: 16px;
		}
		&__lasts, &__tip {
			font-size: 16px;
			margin-top: 45px;
		}
		&__info ul {
			font-size: 16px;
		}
		&__blue {
			font-size: 20px;
		}
	}
}