.video {
	position: relative;
	z-index: 1;
	padding-top: 60px;
	padding-bottom: 70px;
	background-color: #F1F6EC;

	&__bg {
		position: absolute;
		left: 0;
		height: 50%;
		bottom: 0;
	}

	&__title {
		text-align: center;
		max-width: 880px;
		margin: 0 auto;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		margin-top: 110px;
		flex-wrap: wrap;

		& video,
		& iframe {
			border: 5px solid #fff;
			flex-basis: 48.5%;
			min-height: 350px;
			margin-bottom: 35px;
		}
	}
}

@media screen and (max-width: 1200px) {
	.video {
		padding: 45px 0;

		&__inner {
			& video,
			& iframe {
				min-height: 275px;
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.video {
		&__inner {
			flex-direction: column;
			width: 80%;
			margin: 0 auto;
			margin-top: 50px;
			
			& video,
			& iframe {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 600px) {
    .video {
        &__inner {
            width: 100%;
        }
    }
}

@media screen and (max-width: 450px) {
    .video {
        &__inner {
            & video, & iframe {
			   min-height: 200px;
            }
        }
    }
}