.catalog-cards {
  margin-left: -10px;
  margin-right: -10px;
  overflow: hidden;
}

.card {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  transition: 0.3s;
  border: none !important;

  &:hover {
    text-decoration: none !important;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .175);

    & .card-img-wrap {
      transform: scale(1.1);

      & .card-img {
        max-width: 80%;
      }
    }
  }

  &-img-wrap {
    background: #EDF2F2;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .125);
    transition: 0.3s;
  }

  &-img {
    position: absolute;
    max-width: 90%;
    display: block;
    transition: 0.3s;
  }

  &-title {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
  }

  &-info {
    display: flex;
    margin-top: 22px;
    margin-bottom: 14px;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    & .feedback-stars i {
      color: #ffd54f;
      font-size: 12px;
    }

    & .card-price-title {
      color: #333333;
      font-size: 17px;
      font-weight: 500;
    }
  }
  

  &-price {
    font-size: 16px;
    font-weight: 600;
    color: $color-1;
  }

  &-button {
    width: auto;
    margin-left: 0;
    height: 30px;
    line-height: 28px;
    font-size: 14px;
    padding: 0 9px;
    height: 52px;
    justify-content: center;
    font-weight: 500;
    background: #fbb03b;
    align-items: center;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition: opacity .3s ease;

    & .card-related-icon {
      width: auto;
      margin-right: 8px;
      height: auto;
    }

    &:hover {
      opacity: .85;
      background: #fbb03b;
      cursor: pointer;
    }

    & span {
      display: block;
    }

    & i {
      color: #fff;
      display: block;
      transition: 0.3s;
      width: 0;
      overflow: hidden;
    }
  }
}

.card-related {
  display: flex;
  flex-direction: column;
  padding: 26px 15px;
  border: 1px solid #f2f2f2;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  max-width: 275px;

  & .card-related-img {
    width: 100%;
    border-radius: 0;
    position: relative;
    max-width: 236px;
    height: 236px;
  }

  & img {
    height: inherit;
    border-radius: 0;
    max-width: 100%;
    width: inherit
  }
}

@media (max-width: 1199px) {
  .card-title {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .card {
    width: calc(33.3333% - 20px);
  }
}

@media (max-width: 786px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 546px) {
  .card {
    width: calc(100% - 20px);
  }
}