.product-wrap {
  background-color: #fff;
  width: 100%;
  padding-top: 40px !important;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  padding: 0 50px;
}

.w-50p {
  max-width: 50%;
}

.product__inner {
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.12);
  border-top-left-radius: 0.5em;
border-top-right-radius: 0.5em;
}
.product-info {
  padding-left: 40px;
}
.product-wrapper {
  width: 80%;
  padding-right: 30px;
  border-right: 1px solid #e6e6e6;
}

.container-product {
  max-width: 1900px;
}

.mh-img {
  min-height: 177px;
}

.page-title-item {
  text-transform: uppercase;
}

.product-offer__text {
  & h4 {
    color: #000000;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 500;
  }

  & p {
    color: #999999;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
  }
}

.product {
  margin-top: 167px;

  &-hero {
    display: flex;
  }

  &-title {
    color: #1a1a1a;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: .4em;
  }

  &-desc {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 400;
  }

  &-price {
    color: #333333;
    font-size: 22px;
    margin-bottom: 1em;
    font-weight: 500;
  }

  &-meta {
    background-color: #edf5ff;

    &__label {
      color: #1a1a1a;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 400;
    }

    &__links,
    &__links a {
      color: #808080;
      font-size: 18px;
      font-weight: 400;
    }

    &__links a {
      &:hover {
        color: $color-1;
        text-decoration: none !important;
      }
    }
    & a {
      &:hover {
        color: $color-1;
        text-decoration: none !important;
      }
    }
  }

  &-related__title {
    color: #1a1a1a;
    margin-top: 42px;
    font-size: 24px;
    margin-bottom: 42px;
    font-weight: bold;
  }

  &-btns {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 45px;
  }

  &-btn {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    border-left: 1px solid #e6e6e6;
    display: flex;
    transition: opacity .2s ease;
    align-items: center;
    justify-content: center;
    position: relative;

    & a {
      border: 0;
      padding: 0;
      box-shadow: none;
      background-color: transparent;
    }

    &:last-child {
      margin-left: 30px;
      padding-right: 15px;
    }

    &-cart {
      position: absolute;
      background-color: #8cc63f;
      border-radius: 50%;
      width: 21px;
      height: 21px;
      display: flex;
      font-size: 12px;
      justify-content: center;
      align-items: center;
      color: #fff;
      top: 0px;
      right: -8px;
    }

    &:hover {
      opacity: .85;
    }
  }
}

.add-cart__input {
  background: transparent;
  display: block;
  border: 1px solid rgb(218, 218, 218);
  width: 117px;
  padding: 7px 22px;
  font-size: 24px;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #fbb03b;
  transition: 0.3s;

  &:focus {
    border-color: $color-1;
  }
}

.nav-link {
  color: #00cdff !important;

font-size: 24px !important;
font-weight: 700 !important;
}
.nav-link.active {
  color: #1a1a1a !important;
}
.product-desc__ful {
color: #4d4d4d;
font-size: 18px;
font-weight: 400;
line-height: 1.8;
letter-spacing: 0.9px;
}

.add-wishlist {
  border: 0;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  transition: opacity .3s ease;
  margin-top: 48px;

  & img {
    margin-right: 15px;
  }

  &:hover {
    opacity: .85;
  }
}

.add-cart__btn {
  border-radius: 5px;
  height: 52px;
  padding: 46px;
  background: #fbb03b !important;
  border: 0 !important;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .3s ease;

  &:hover {
    opacity: .85;
  }

  & img {
    margin-right: 8px;
  }
}

.product-offer {
  &__icon {
    width: 50px;
    font-size: 2.4rem;
    display: block;
  }

  &__text {
    font-size: 1rem;

  }
}

@media screen and (max-width: 1800px) {
  .product-wrapper {
    width: 70%;
  }
  .sidebar-wrapper {
    flex-direction: column;
  }
  .sidebar-wrap {
    margin: 0 !important;
  }
}

@media screen and (max-width: 1440px) {
  .product-hero {
    flex-direction: column;
  }
  .product-info {
    padding-left: 0;
    margin-top: 40px;
  }
  .w-50p {
    max-width: 100%;
  }
  .product-meta {
    flex-direction: column;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}

@media screen and (max-width: 1365px) {
  .product-wrapper {
    width: 100%;
    border: 0;
    padding-right: 0;
  }
  .product-section {
    flex-direction: column;
  }
  .product-wrap {
    padding: 0 30px;
  }
}


@media (max-width: 1199px) {
  .product-wrap {
    width: 100%;
    max-width: 100%;
    border-right: none;
  }
}

@media screen and (max-width: 650px) {
  .product-wrap {
    padding: 0 15px;
  }
  .container-reviews {
    width: 100% !important;
  }
  .product-reviews__rating {
    right: 0 !important;
  }
  .slider-lg__slide img {
    min-width: auto !important;
  }
}


@media screen and (max-width: 500px) {
  .product-title {
    font-size: 18px;
  }
  .add-cart__form {
    flex-direction: column;
  }
  .add-cart__btn {
    margin-left: 0;
    margin-top: 20px;
  }
  .product-offer__text h4 {
    font-size: 16px;
  }
  .product-offer__text p {
    font-size: 14px;
  }
  .add-wishlist {
    font-size: 16px;
    margin-top: 30px;
  }
  .product-meta__label {
    font-size: 16px;
  }
  .product-meta__links, .product-meta__links a {
    font-size: 14px;
  }
  .nav-link {
    font-size: 18px !important;
  }
  .product-desc__ful {
    font-size: 16px;
  }
  .product-reviews__title {
    font-size: 28px !important;
  }
  .product-reviews__rate {
    flex-direction: column;
    & p {
      margin: 0 !important;
    }
  }
  .product-reviews__rate .feedback-rating {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .product-offer__icon {
    width: 35px;
    font-size: 16px;
    & img {
      width: 35px;
    }
  }
  .product-reviews__author img {
    width: 50px !important;
    height: 50px !important;
  }
  .product-reviews__rating {
    width: 40px !important;
    height: 40px !important;
    font-size: 16px !important;
    left: 5px;
    top: 65px !important;
  }
  .product-reviews__text {
    font-size: 14px !important;
  }
  .product__body h4 {
    font-size: 18px !important;
  }
  .product__comment .feedback-rating {
    margin-bottom: 10px !important;
  }
  .feedback-form__desc {
    font-size: 16px !important;
    margin-top: 0 !important;
    margin-bottom: 40px !important;
  }
  .feedback-label__form {
    margin-top: 30px !important;
  }
  .feedback-input, .feedback-textarea {
    min-height: 50px !important;
  }
  .feedback-textarea {
    min-height: 80px !important;
  }
  .feedback-label__form strong {
    margin-bottom: 11px !important;
  }
  .feedback-btn {
    margin-top: 40px !important;
    margin-bottom: 0 !important;
  }
  .slider-arrow {
    width: 35px !important;
    padding: 12px !important;
    height: 35px !important;
  }
  .product-reviews {
    padding-top: 40px !important;
  }
}

@media screen and (max-width: 410px) {
  .product {
    margin-top: 106px !important;
  }
}

@media screen and (max-width: 400px) {
  .card-related .card-related-img {
    height: 185px !important;
  }
  .product-reviews__title {
    &:before {
      content: none !important;
    }
    &:after {
      content: none !important;
    }
  }
  .slider-lg__slide {
    height: 250px !important;
  }
}

@media screen and (max-width: 350px) {
  .slider-lg__slide {
    height: 210px !important;
  }
  .nav-link {
    font-size: 14px !important;
  }
}



@media screen and (max-width: 768px) {
  .product {
    margin-top: 129px;
  }
  .product-tabs__wrap {
    margin-top: 30px;
  }
}

