.w-fixed {
  min-width: 320px !important;
  max-width: 320px !important;
  height: max-content;
}
.sidebar-title {
  font-size: 20px;
  color: white;
  font-weight: 700;
  background: linear-gradient(135deg, #1ebbf0 30%, #39dfaa 100%);
  padding: 13px 0 13px 10px;
}
.sidebar-wrapper {
  padding-left: 30px;
  width: 350px;
}
.sidebar-wrap {
  margin: 0 !important;
}


@media (max-width: 1365px) {
  .sidebar-wrapper {
    flex-direction: row;
    margin-top: 40px;
    padding-left: 0;
    width: auto;
  }
  .sidebar-wrap {
    margin: 0 auto !important;
  }
  .w-fixed {
    min-width: 350px !important;
    max-width: 350px !important;
    height: max-content;
  }
}

@media (max-width: 790px) {
  .sidebar-wrapper {
    justify-content: center !important;
  }
}

@media (max-width: 420px) {
  .w-fixed {
    max-width: 100%;
    width: 100%;
    min-width: auto !important;
  }
  .sidebar-wrapper, .sidebar-wrap {
    width: 100%;
  }
}
