

body {
  margin: 0
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}
  
.container {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%; }

.banners__top-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
 

.banners__top-column_left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  width: 100%;
  max-width: 770px; }
  

.banners__top-column_right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  
 

.item-banner-big {
  position: relative;
  max-width: 770px;
  max-height: 440px;
  padding: 50px 310px 60px 49px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(135deg, #ffdae4 0%, #ffdae4 1%, #fc98b2 99%, #fc98b2 100%);
  background-image: -o-linear-gradient(135deg, #ffdae4 0%, #ffdae4 1%, #fc98b2 99%, #fc98b2 100%);
  background-image: linear-gradient(-45deg, #ffdae4 0%, #ffdae4 1%, #fc98b2 99%, #fc98b2 100%);
  background: url("../img/banner-1.jpg") 0 0/cover no-repeat;
  overflow: hidden; }
  
  .item-banner-big__title {
    max-width: 400px;
    margin: 0px 0px 25px 0px;
    color: #ffffff;
    font-family: "ProximaNova-Black";
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase; }
  
  .item-banner-big__text {
    max-width: 200px;
    margin: 0px 0px 176px 0px;
    color: #b15c72;
    font-family: "ProximaNova-Regular";
    font-size: 20px;
    font-weight: 300;
    line-height: 30px; }
   

.item-banner-white {
  position: relative;
  margin: 0px 0px 20px 0px;
  padding: 28px 240px 27px 30px;
  max-width: 450px;
  max-height: 210px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ffffff;
  background: url("../img/banner-2.jpg") 0 0 no-repeat; }
 
  .item-banner-white__title {
    max-width: 130px;
    margin: 0px 0px 100px 0px;
    color: #b15c72;
    font-family: "ProximaNova-Regular";
    font-size: 31px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase; }
  .item-banner-white__text {
    max-width: 120px;
    color: #aaaaaa;
    font-family: "ProximaNova-Regular";
    font-size: 16px;
    font-weight: 300;
    line-height: 20px; }

.item-banner-blue {
  position: relative;
  padding: 63px 37px 69px 180px;
  max-width: 390px;
  max-height: 210px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(135deg, #c6ebff 0%, #7fc7ef 99%, #7fc7ef 100%);
  background-image: -o-linear-gradient(135deg, #c6ebff 0%, #7fc7ef 99%, #7fc7ef 100%);
  background-image: linear-gradient(-45deg, #c6ebff 0%, #7fc7ef 99%, #7fc7ef 100%);
  background: url("../img/banner-3.jpg") 0 0 no-repeat;
  overflow: hidden; }
  @media (max-width: 992.98px) {
    .item-banner-blue {
      margin-right: auto; } }
  @media (max-width: 479.98px) {
    .item-banner-blue {
      margin: 10px auto 0; } }
  .item-banner-blue__title {
    max-width: 175px;
    margin: 0px 0px 30px 0px;
    color: #ffffff;
    font-family: "ProximaNova-Regular";
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase; }
  .item-banner-blue__text {
    max-width: 110px;
    color: #5e8297;
    font-family: "ProximaNova-Regular";
    font-size: 16px;
    font-weight: 300;
    line-height: 20px; }

.gender {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -50px;
  right: -50px;
  border-radius: 50%; }
  .gender_female {
    background: #fff url("../img/female.svg") 20px 20px no-repeat; }
  .gender_male {
    background: #fff url("../img/male.svg") 20px 20px no-repeat; }

.banners-bottom {
  padding: 30px 20px 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid rgba(127, 92, 71, 0.1); 
}

.vibrators {
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 30px;
    border-bottom: 1px solid rgba(127, 92, 71, 0.1); 
    margin-bottom: 20px;
    margin-top: 10px;
}
.buy-onehand {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  font-family: 'ProximaNovaT-Thin';
}
.mp-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mp-items__item {
  max-width: 575px;
  width: 100%;
  border-radius: 10px;
  height: 420px;
  margin-top: 20px;
}
.top-block {
  color: #fff;
  padding: 30px;
  height: 280px;
  width: 100%;
  border-top-left-radius: 10px;
  position: relative;
  border-top-right-radius: 10px;
  background-image: linear-gradient(-45deg, #ecbfca 0%, #d29eab 99%, #d29eab 100%);
}
.bottom-block {
  display: flex;
  height: 140px;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #fff;
}
.bottom-block__sub-block {
  height: inherit;
  width: 33.3%;
  padding: 15px;
  position: relative;
  line-height: 20px;
  border-right: 1px solid #fafafa;
}
.bottom-block__sub-block:last-child {
  border-right: none;
  display: none;
}
.sub-block__title {
  font-size: 16px;
  color: #9f7a83;
  font-family: "ProximaNova-Semibold";
  line-height: 20px;
}
.sub-block__price {
  color: #7c7c7c;
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 16px;
}


.mp-items__left-column {
  display: flex;
  flex-direction: column;
}
.top-block-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-block-name__title {
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'ProximaNova-Light';
}
.top-block-name__price {
  font-size: 16px;
  font-family: "ProximaNova-Semibold";
}
.top-block-btn__button {
  border-radius: 20px;
  border: 2px solid #ffffff;
  max-width: 150px;
  color: #fff;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .8;
  margin-top: 140px;
}
.mp-cubes {
  display: flex;
  height: max-content;
}
.mp-cube {
  width: 280px;
  height: 280px;
  background-color: #7594c7;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}
.title-cube {
  color: #fff;
}
.price-cube {
  position: absolute;
  right: 30px;
  bottom: 30px;
  color: #fff;
}
.btn-cube {
  max-width: 50px;
  width: 100%;
  position: absolute;
  bottom: 20px;
  transition: opacity .2s ease;
}
.btn-cube:hover {
  opacity: .7;
}
.mp-cube:first-child {
  margin-right: 20px;
}
.blue-cube {
  background-color: #7594c7;
}
.top-block-name__title {
  z-index: 9999;
}
.pink-cube {
  background-color: #f4b8c6;
}
.purple-cube {
  background-color: #c886b0;
}
.orange-cube {
  background-color: #fbcebd;
}
.main-page-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-page__item {
  height: 450px;
  max-width: 270px;
  width: 100%;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 10px;
  transition: box-shadow .2s ease;
}
.popular-item__inner {
  padding: 20px;
  height: inherit;
}
.popular-item {
  border: 2px dashed #fff;
  background-color: #fdf0e8;
}
.popular-item__title {
  font-size: 22px;
  line-height: 26px;
  font-family: "ProximaNova-Semibold";
  color: #a77a5e;
}
.pi_title {
  margin-bottom: 10px;
}
.popular-item__button {
  font-family: "ProximaNova-Light";
  margin-top: 290px;
}
.popular-item__btn {
  font-family: "ProximaNova-Light";
  margin-right: 10px;
}
.main-page__top-block {
  margin: 15px;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-page__bottom-block {
  padding-top: 10px;
}
.bottom-block__desc {
  font-size: 16px;
  color: #696969;
  line-height: 18px;
  position: absolute;
  width: 100%;
  padding-right: 35px;
  font-family: "ProximaNova-Light";
}
.bottom-block__price {
  font-size: 18px;
  color: #3f3f3f;
  padding-top: 72px;
  font-family: "ProximaNova-SemiBold";
}
.bottom-block-button__btn {
border-radius: 20px;
border: 2px solid #eccdba;
max-width: 150px;
color: #fff;
width: 100%;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
font-size: 16px;
font-family: "ProximaNova-SemiBold";
}
.bottom-block-button {
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-block-button__btn {
  margin-right: 10px;
  color: #ac8c78;
  display: flex;
}
.bottom-block-button__btn img {
  margin-bottom: 3px;
  margin-left: 10px;
}
.bottom-block-button__like img {
  margin-right: 8px;
  transition: opacity .2s ease;
}
.bottom-block-button__like {
  transition: opacity .2s ease;
}
.bottom-block-button__btn:hover {
  color: #fff !important;
  background-color: #f7a98f;
  border: 2px solid #f7a98f;
  opacity: 1;
}
.bottom-block-button__btn:hover img {
  background: transparent #f7a98f;
}
.lines-img {
  width: 16px;
  height: 16px;
}

.main-page__bottom-block {
  background-color: #fff7f2;
  height: 170px;
  padding: 20px;
  padding-top: 10px;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main-page-items__banner {
  position: relative;
  height: inherit;
  padding: 20px;
  overflow: hidden;
  border-radius: 10px;
  background: url('../img/article-blue-girl.png') no-repeat center / cover;
}
.pink-bg {
  background: url('../img/article-pink-girl.png') no-repeat center / cover;
}
.main-page-items__banner-title {
  color: #387ea5;
  font-family: "ProximaNova-Regular";
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
}
.main-page-items__banner-text__name {
  color: #ffffff;
  font-family: "ProximaNova-SemiBold";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  max-width: 237px;
  width: 100%;
}
.main-page-items__banner-text__readmore {
  color: #ffffff;
  font-family: "ProximaNova-Regular";
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
}
.main-page-items__banner-text__readmore:hover {
  color: white;
  opacity: 0.4;
}
.main-page-items__banner-text__readmore::before {
  content: ' ';
  width: 19px;
  height: 14px;
  position: absolute;
  background: url("../img/readmore-icon.svg") no-repeat 100% 100%/100%;
  left: 140px;
  top: 3px;
}
.main-page-items__banner-text {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.pink-title {
  color: #a6556b;
}

.main-page-button-load {
  padding-left: 20px;
  width: 240px;
  height: 50px;
  box-shadow: 0 5px 24px rgba(255, 99, 0, 0.11);
  border-radius: 25px;
  background-color: #ffffff;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  color: #c4a089;
  font-family: "ProximaNova-Semibold";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  position: relative;
  border: 0;
}
.main-page-button-load:before {
  content: ' ';
  position: absolute;
  left: 25px;
  top: 15px;
  background: url("../img/button-load.svg") no-repeat 100% 100%/100%;
  width: 15px;
  height: 19px;
}
.main-page-button__block {
  width: 100%;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  margin-bottom: 20px;
}
.second-block {
  border-bottom: none;
}
.main-page__item, .mp-big-item, .mp-cube, .bottom-block__sub-block, .item-banner-big, .banners__top-item {
  transition: box-shadow .2s ease;
}
.main-page__item:hover, .mp-big-item:hover, .mp-cube:hover, .item-banner-big:hover, .banners__top-item:hover {
  box-shadow: 0 0 14px 0 rgba(100,100,100,.2);
}
.bottom-block__sub-block:hover {
  box-shadow: 0 0 14px 0 rgba(100,100,100,.2);
}
.bottom-block__sub-block:last-child {
  max-width: 195px;
  width: 100%;
}
.arrownext-icon {
  transition: opacity .2s ease;
}
.arrownext-icon:hover {
  opacity: .7;
}
.sponsors__item {
  max-width: 130px;
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border .2s linear;
  border: 2px solid #fff;
}
.sponsors__item:hover {
  border: 2px solid #eccdba;
  cursor: pointer;
}
.sponsors-upblock {
  margin-top: 35px;
}
.sponsors-upblock, .sponsors-botblock {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.sponsors-botblock {
  margin-bottom: 35px;
  margin-top: 20px;
}
.sale-icon {
  position: absolute;
  height: max-content;
  top: 0px;
  left: 0px;
  z-index: 9999;
}

.list-column {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #7f5c47;
  font-size: 16px;
  font-family: "ProximaNova-Semibold";
}
.list-column_li {
    font-family: "ProximaNova-Regular";
    color: #ac8c78;
    font-size: 14px;
    line-height: 28px;
    transition: color .2s ease;
}
.list-column_li:hover {
  color: #000;
}
.double {
  line-height: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.in-li-cat {
  margin-top: 10px;
  margin-bottom: 10px;
}
.justify-spbtw {
  justify-content: space-between;
}
.big-block-img {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
.small-block-img {
  position: absolute;
  bottom: 20px;
  right: 5px;
  top: 10px;
}
.cube-img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: calc(35% + 10px);
}
.video-popup {
  background: rgba(255,255,255,.8);
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 200px; 
}
.main-page-items__item-image {
  position: absolute;
  top: 0px;
  left: 0px;
  height: inherit;
  background-image: linear-gradient(-32deg, rgba(255, 218, 228, 0.89) 0%, rgba(252, 152, 178, 0.89) 100%);
  z-index: 5000;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity .4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-page-items__item-image:hover {
  opacity: .6;
}
.main-page-items__item-hover-search {
  background: url("../img/search-iconHover.svg") no-repeat 100% 100%/100%;
  width: 32px;
  height: 32px;
  border: none;
  opacity: 1;
}
.item-image {
  height: 250px;
  max-width: 250px;
}
.sponsors-img {
  max-width: 100px;
}





















/* Init formats */
#divbox a{
  margin: 0;
  padding:0;
}
#divbox{
  background:  #000000 ;
  opacity: .5;
  filter:alpha(opacity=50);
  margin: 0;
  padding: 0;
  
}
#divbox_data{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#divbox_ajax{
  display: none; 
  width: 400px;
}


/* Skin default*/
.divbox_default{ margin: 0; padding: 0;}

.divbox_default{
  background: #fff url(photos/loader.gif) no-repeat center center;
  
}
.divbox_default.white{
  background: none;
  background-color: white;
}

.divbox_default .closed{
  position: absolute;
  z-index: 1006;
  background:url(photos/close.png) no-repeat center center;
  width: 24px;
  height: 24px;
  right: -20px;
  top: -20px;
  cursor: pointer;
  
}
.divbox_default .prev,.divbox_default .next,.divbox_default .number{
  position: absolute;
  z-index: 1006;
  width: 30px;
  height: 24px;
  cursor: pointer;
  
}
.divbox_default .prev,.divbox_default .prevDisabled{
  background:url(left.png) no-repeat top center;
  left: 0;
}

.divbox_default .prevDisabled{
  background:url(leftDisabled.png) no-repeat top center;
}
.divbox_default .next,.divbox_default .nextDisabled{
  background: url(right.png) no-repeat top right;
  right: 2px;
}
.divbox_default .number{
  right: 30px;
  width: 20px;
}
.divbox_default .nextDisabled{
  background:url(rightDisabled.png) no-repeat top right;
}


.divbox_default .caption{
  display: none;
  background: #ccc;
  opacity: .5;
  filter:alpha(opacity=50);
  color: #000;
  padding-left: 30px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
}
.divbox_default .zoom{
  cursor: url(zoomin.cur), default;
}
/* IE6 FixPNG */
*html .divbox_default .closed{
  background-image: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=photos/close.png);
}
*html .divbox_default .prev{
  background-image: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/left.png);
}
*html .divbox_default .prevDisabled{
  background-image: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/leftDisabled.png);
}
*html .divbox_default .next{
  background-image: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/right.png);
}
*html .divbox_default .nextDisabled{
  background-image: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/rightDisabled.png);
}

.bottom-block-button__like img:hover {
  opacity: .8;
}





.item-advantages {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .item-advantages__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #eccdba;
    border-radius: 50%; }
  .item-advantages__title {
    padding: 0px 0px 0px 20px;
    text-shadow: 0 0 15px #fdf0e8;
    color: #7f5c47;
    font-family: "ProximaNova-Semibold";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; }

.button-video {
  position: relative;
  padding: 19px 36px 16px 57px;
  border-radius: 25px;
  border: 2px solid #fed6e0;
  color: #ffffff;
  font-family: "ProximaNova-Regular";
  font-size: 16px;
  line-height: 30px; }
  .sponsors__item {
    margin-left: 10px;
    margin-top: 10px;
  }
  .sponsors__item:first-child {
    margin-left: 0;
  }
   .sponsors__item:nth-child(9) {
    margin-left: 0;
  }



.sponsors-upblock {
  flex-wrap: wrap;
  margin-bottom: 40px;
}





@media screen and (max-width: 1169px) {
  .container {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .container {
    max-width: 780px !important;
    width: 100%;
  }
  .banners__top-row {
    flex-direction: column;
    width: 100%;
  }
  .item-banner-big {
    height: 190px;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    max-width: 450px;
    width: 100%;

  }
  .small-block-img {
    display: block;
  }
  .item-banner-big__text {
    margin-bottom: 130px;
    margin-left: 20px;
  }
  .button-video {
    padding: 10px 20px;
    margin-left: 20px;
  }
  .item-banner-big__title {
    font-size: 22px;
    margin-left: 20px;
    margin-top: 20px;
  }
  .item-banner-big__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  .item-banner-big__link {
    margin-bottom: 20px;
  }
  .item-banner-white {
    padding: 0;
  }
  .item-banner-white__title {
    margin-bottom: 60px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .item-banner-white__text {
    margin-left: 20px;
    padding-bottom: 60px;
  }
  .item-banner-white, .item-banner-blue {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    max-height: 210px;
    height: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .item-banner-blue__title {
    padding-left: 120px;
  }
  .item-banner-blue__text {
    padding-left: 155px;
  }
  .button-video::before {
    opacity: 0;
  }
  .banners__top {
    display: flex;
    justify-content: center;
  }
  .banners__top-column_right {
    padding-left: 5px;
    padding-right: 5px;
  }
  .banners-bottom {
    flex-wrap: wrap;
  }
  .item-advantages {
    padding-top: 10px;
  }
  .banners-bottom {
    padding-top: 5px;
  }
  .buy-onehand {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .mp-big-item {
    flex-direction: column;
    display: flex;
  }
  .mp-items__left-column {
    width: 100%;
  }
  .big-block-img {
    width: 60%;
    bottom: 0;
    right: 0px;
    left: 0;
    top: 0;
    margin: auto;
    margin-right: 30px;
  }
  .top-block-name__title {
    font-size: 24px;
  }
  .bottom-block {
    height: max-content;
    flex-wrap: wrap;
  }
  .bottom-block__sub-block {
    width: 50%;
    height: 125px;
  }
  .mp-items__item {
    height: max-content;
  }
  .mp-cubes {
    margin-top: 10px;
  }
  .sub-block__title {
    font-size: 13px;
    line-height: 14px;
  }
  .bottom-block__sub-block:last-child {
    width: 50%;
    display: block;
  }
  .mp-cube:first-child {
    margin-right: 10px;
  }
  .mp-cube {
    width: 50%;
    height: 150px;
    padding: 10px;
  }
  .top-block-name__title {
    font-size: 16px;
  }
  .cube-img {
    width: 50%;
    margin-top: auto;
  }
  .price-cube {
    right: 11px;
    bottom: 15px;
  }
  .top-block-name__price {
    font-size: 14px;
  }
  .btn-cube {
    bottom: 10px;
  }
  .top-block-btn__button {
    height: 30px;
    margin-top: 160px;
  }
  .bottom-block__sub-block {
    line-height: 16px;
  }
  .main-page__item {
    max-width: 767px;
  }
  .main-page-items {
    margin-top: 20px;
  }
  .popular-item {
    height: 160px !important;
    margin-top: 10px;
    width: 100% !important;
  }
  .popular-item__inner {
    height: inherit;
  }
  .small-block-img {
    top: 7px;
    height: 100px;
  }
  .mp-items__right-column {
    display: flex;
    flex-direction: column-reverse;
  }
  .sub-block__price {
    font-size: 14px;
  }
  .bottom-block__sub-block {
    padding: 10px;
  }
  .margin-top {
    margin-top: 10px;
  }
  .popular-item__button {
    margin-top: 0;
    margin-left: auto;
    text-align: right;
  }
  .main-page-items {
    margin-top: 0;
  }

  .main-page-items__banner {
    -webkit-background-size: cover;
    background-size: cover;
  }
  .list-items {
    display: none;
  }
  .sponsors-upblock, .sponsors-botblock {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
  }
  .sponsors__item {
    max-width: 150px;
    margin-top: 10px;
  }
  .vibrators {
    padding-bottom: 20px;
  }
  .mp-items__right-column {
    width: 100%;
  }
  .item-banner-blue__title {
    padding-left: 0;
    margin-left: auto;
    margin-right: 10px;
  }
  .item-banner-blue {
    max-width: 450px;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .item-banner-white {
    -webkit-background-size: cover;
    background-size: cover;
  }
  .item-banner-blue__text {
    padding-left: 0;
    margin-left: auto;
    margin-right: 10px;
  }
    .sponsors__item {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
  }
  .sponsors__item:first-child {
    margin-left: 5px;
  }
   .sponsors__item:nth-child(9) {
    margin-left: 5px;
  }

}
@media screen and (min-width: 450px) and (max-width: 500px) {
  .item-banner-big {
    height: 260px;
    background-position: 50% 50%;
  }

      .small-block-img {
    display: block;
  }
  .item-banner-big__text {
    margin-bottom: 85px;
  }
  .item-banner-white, .item-banner-blue {
    max-height: 230px;
    height: 230px;
    max-width: 767px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
  }
  .item-banner-big {
    max-width: 767px;
  }
  .big-block-img {
    width: 55%;
  }

    .sponsors__item {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    max-width: 210px;
  }
  .sponsors__item:first-child {
    margin-left: 5px;
  }
   .sponsors__item:nth-child(9) {
    margin-left: 5px;
  }

}












@media screen and (min-width: 501px) and (max-width: 599px) {
  .item-advantages {
    width: 265px;
  }
    .small-block-img {
    display: block;
  }
    .item-advantages__title {
    padding-left: 10px;
    font-size: 14px;

  }
      .bottom-block__sub-block:last-child {
    width: 50%;
    display: none;
  }
    .banners-bottom {
    padding-left: 5px;
    padding-right: 5px;
  }
  .bottom-block__sub-block:last-child {
    width: 33%;
  }
  .bottom-block__sub-block {
    width: 33%;
  }
  .item-banner-big {
    max-width: 600px;
    height: 300px;
  }
  .item-banner-big__text {
    margin-bottom: 130px;
  }
  .item-banner-big__title {
    font-size: 30px;
  }
  .item-banner-big__text {
    font-size: 20px;
  }
  .item-banner-white, .item-banner-blue {
    max-width: 600px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
  }
  .item-banner-white__text, .item-banner-blue__text {
    font-size: 17px;
  }
  .mp-cubes {
    margin-top: 10px;
  }
  .mp-cube {
    height: 240px;
  }
  .top-block-name__title {
    font-size: 20px;
  }
  .cube-img {
    width: 60%;
  }
  .main-page__item {
    max-width: 240px;
  }
  .popular-item {
    max-width: 600px;
  }
  .bottom-block-button__like img {
    margin-right: 0;
  }
  .main-page-items {
    padding-left: 5px;
    padding-right: 5px;
  }
  .mp-items__item {
    max-width: 600px;
  }
  .big-block-img {
    width: 50%;
  }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
  .item-advantages {
    width: 265px;
  }
    .item-advantages__title {
    padding-left: 10px;
    font-size: 14px;

  }
      .bottom-block__sub-block:last-child {
    width: 50%;
    display: none;
  }
    .banners-bottom {
    padding-left: 5px;
    padding-right: 5px;
  }
  .bottom-block__sub-block:last-child {
    width: 33%;
  }
  .bottom-block__sub-block {
    width: 33%;
  }
      .small-block-img {
    display: block;
  }
  .item-banner-big {
    max-width: 600px;
    height: 300px;
  }
  .item-banner-big__text {
    margin-bottom: 130px;
  }
  .item-banner-big__title {
    font-size: 30px;
  }
  .item-banner-big__text {
    font-size: 20px;
  }
  .item-banner-white, .item-banner-blue {
    max-width: 600px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
  }
  .item-banner-white__text, .item-banner-blue__text {
    font-size: 17px;
  }
  .mp-cubes {
    margin-top: 10px;
  }
  .mp-cube {
    height: 240px;
  }
  .top-block-name__title {
    font-size: 20px;
  }
  .cube-img {
    width: 60%;
  }
  .main-page__item {
    max-width: 240px;
  }
  .popular-item {
    max-width: 600px;
  }
  .bottom-block-button__like img {
    margin-right: 0;
  }
  .main-page-items {
    padding-left: 10px;
    padding-right: 10px;
  }
  .mp-items__item {
    max-width: 767px;
  }
    .big-block-img {
    width: 50%;
  }
  .item-advantages__title {
    font-size: 16px;
  }
  .item-banner-big {
    height: 330px;
  }
  .big-block-img {
    margin-right: 30px;
  }
  .cube-img {
    width: 50%;
  }
  .item-banner-big {
    max-width: 900px;
  }
  .item-banner-white, .item-banner-blue {
    max-width: 900px;
    max-height: 100%;
    height: 300px;
  }
  .popular-item {
    max-width: 900px;
  }
  .banners__top-column_right {
    padding-left: 40px;
    padding-right: 40px;
  }
  .banners-bottom {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
  }
  .top-block-btn__button {
    height: 40px;
  }
  .top-block-name__title {
    font-size: 24px;
  }
  .top-block-name__price {
    font-size: 16px;
  }
  .buy-onehand {
    font-size: 24px;
  }
}



@media screen and (min-width: 700px) and (max-width: 1169px) {
  .item-advantages {
    width: 265px;
  }
  .buy-onehand {
    font-size: 30px;
  }
      .bottom-block__sub-block:last-child {
    width: 50%;
    display: none;
  }
    .item-advantages__title {
    padding-left: 10px;
    font-size: 14px;

  }
      .small-block-img {
    display: block;
  }
    .banners-bottom {
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-around;
  }
  .bottom-block__sub-block:last-child {
    width: 33%;
  }
  .bottom-block__sub-block {
    width: 33%;
  }
  .item-banner-big {
    max-width: 600px;
    height: 300px;
  }
  .item-banner-big__text {
    margin-bottom: 130px;
  }
  .item-banner-big__title {
    font-size: 30px;
  }
  .item-banner-big__text {
    font-size: 20px;
  }
  .item-banner-white, .item-banner-blue {
    max-width: 600px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
  }
  .item-banner-white__text, .item-banner-blue__text {
    font-size: 17px;
  }
  .mp-cubes {
    margin-top: 10px;
  }
  .mp-cube {
    height: 240px;
  }
  .top-block-name__title {
    font-size: 20px;
  }
  .cube-img {
    width: 60%;
  }
  .main-page__item {
    max-width: 240px;
  }
  .popular-item {
    max-width: 600px;
  }
  .bottom-block-button__like img {
    margin-right: 0;
  }
  .main-page-items {
    padding-left: 10px;
    padding-right: 10px;
  }
  .mp-items__item {
    max-width: 767px;
  }
    .big-block-img {
    width: 50%;
  }
  .item-advantages__title {
    font-size: 16px;
  }
  .item-banner-big {
    height: 330px;
  }
  .big-block-img {
    margin-right: 30px;
  }
  .cube-img {
    width: 50%;
  }
  .item-banner-big {
    max-width: 900px;
  }
  .item-banner-white, .item-banner-blue {
    max-width: 900px;
    max-height: 100%;
    height: 300px;
  }
  .popular-item {
    max-width: 900px;
  }
  .banners__top-column_right {
    padding-left: 40px;
    padding-right: 40px;
  }
  .banners-bottom {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
  }
  .top-block-btn__button {
    height: 40px;
  }
  .top-block-name__title {
    font-size: 24px;
  }
  .top-block-name__price {
    font-size: 16px;
  }
  .banners__top-column_left {
    padding-left: 30px;
    padding-right: 30px;
  }
  .banners-bottom {
    padding-left: 30px;
    padding-right: 30px;
  }
  .item-banner-white, .item-banner-blue {
    max-width: 320px;
    height: 210px;
    width: 100%;
  }
  .banners__top-column_right {
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: row;
    justify-content: space-between;
  }
  .mp-items {
    padding-left: 30px;
    padding-right: 30px;
  }
  .mp-cube {
    height: 310px;
  }
  .cube-img {
    width: 60%;
  }
  .main-page-items {
    padding-left: 30px;
    padding-right: 30px;
  }
  .sponsors-upblock {
    padding-left: 30px;
    padding-right: 30px;
  }

}

@media screen and (min-width: 767px) and (max-width: 1169px) {
    .item-banner-white, .item-banner-blue {
    max-width: 375px;
    height: 210px;
    width: 100%;
  }
  .banners__top-column_left {
    padding: 0;
  }
  .banners__top-column_right {
    padding: 0;
  }
  .banners-bottom {
    padding-left: 0;
    padding-right: 0;
  }
  .mp-items {
    padding-left: 0;
    padding-right: 0;
  }
  .main-page-items {
    padding-left: 0;
    padding-right: 0;
  }
  .sponsors-upblock {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }