.blogers {
    position: relative;
    background-color: #0E0E0E;
    padding-top: 68px;
    padding-bottom: 84px;

    &__footer {
        padding-bottom: 0;
        margin-top: 50px;
        justify-content: center;
        z-index: 3;
        position: relative;
        font-family: 'Roboto';
        align-items: center;

        & .header__order_btn {
            font-family: 'Acrom';
        }
    }

    &__inner {
        position: relative;
        z-index: 3;
    }

    .particle {
        position: absolute;

        &_1 {
            top: 200px;
            right: 0;
        }

        &_2 {
            top: 500px;
            left: 0;
            transform: rotate(180deg);
        }

        &_3 {
            right: 0;
            bottom: -130px;
            transform: rotate(180deg);
        }

        &_4 {
            left: 19%;
            top: 330px;
        }

        &_5 {
            left: 33%;
            top: 500px;
        }

        &_6 {
            bottom: 200px;
            left: 270px;
        }

        &_7 {
            bottom: 520px;
            right: 300px;
        }

        &_8 {
            right: 0;
            bottom: 500px;
        }

        &_9 {
            left: 0;
            bottom: 80px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        margin-bottom: 48px;
    }

    &__item {
        display: flex;
        max-width: 660px;
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(2n+1) {
            margin-left: auto;
        }
    }

    &__img {
        max-width: 250px;
        width: 100%;
        height: inherit;
        background-color: #1B1B1B;
        min-width: 70px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__info {
        width: 100%;
        font-family: 'Roboto';
        height: inherit;
        padding-right: 12px;
        display: flex;
        flex-direction: column;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 32px;
        background: linear-gradient(224deg, #7F43FF -42.04%, rgba(28, 28, 28, 0) 27.43%), #1B1B1B;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    &__name {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }

    &__link {
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 24px;
    }

    &__desc {
        font-size: 14px;
        line-height: 17px;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 20px;
    }

    &__subs {
        display: flex;
        align-items: center;

        & span {
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            color: rgba(255, 255, 255, 0.8);
        }

        & img {
            margin-right: 5px;
        }
    }

    &__btns {
        display: flex;
        margin-top: auto;
        align-items: center;
        font-family: 'Acrom';
    }

    &__btn {
        &_call {
            padding: 11px 14px;
            color: #fff;
            text-decoration: none;
            background: #4B2C80;
            border: 1px solid #4B2C80;
            border-radius: 50px;
            margin-right: 14px;
            transition: background .3s ease;

            &:hover {
                background-color: transparent;
            }
        }

        &_price {
            padding: 11px 14px;
            color: #fff;
            text-decoration: none;
            border: 1px solid #fff;
            border-radius: 50px;
            transition: background .3s ease, color .3s ease;

            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    }
}


@media screen and (max-width: 815px) {
    .blogers {
        &__footer {
            text-align: center;

            & .header__order {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 685px) {
    .blogers {
        padding-bottom: 60px;

        &__title {
            width: 285px;
            margin-left: auto;
            margin-right: auto;
        }

        .particle {
            &_1 {
                max-width: 55px;
            }

            &_2 {
                max-width: 65px;
            }

            &_3 {
                display: none;
            }

            &_4 {
                display: none;
            }

            &_6 {
                left: 100px;
                max-width: 150px;
            }

            &_9 {
                display: none;
            }

            &_8 {
                max-width: 75px;
            }

            &_7 {
                bottom: 300px;
                left: -30px;
                max-width: 150px;
            }

            &_5 {
                max-width: 150px;
            }
        }


        &__item {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 24px;
        }

        &__name {
            font-size: 14px;
            line-height: 16px;
        }

        &__subs {
            & img {
                width: 14px;
                height: 13px;
            }

            & span {
                font-size: 12px;
                line-height: 14px;
            }
        }

        &__link {
            font-size: 6px;
            line-height: 7px;
        }

        &__desc {
            font-size: 9px;
            line-height: 11px;
        }

        &__btn {
            &_call {
                font-size: 9px;
                line-height: 11px;
                margin-right: 9px;
            }

            &_price {
                font-size: 9px;
                line-height: 11px;
            }
        }

        &__info {
            padding-left: 12px;
            padding-bottom: 10px;
            padding-right: 7px;
            padding-top: 8px;
        }

        &__btns {
            justify-content: flex-start;
        }

        &__img {
            max-width: 200px;
        }
    }
}

@media screen and (max-width: 500px) {
    .blogers {
        &__footer {
            .header__order {
                max-width: 250px;
            }
        }


        .particle {
            &_2 {
                top: 431px;
            }

            &_5 {
                left: -30px;
                top: 54px;
            }
        }

        padding-top: 30px;
        padding-bottom: 40px;

        &__img {
            flex-basis: 35%;
        }

        &__title {
            font-size: 22px;
            line-height: 26px;
            font-weight: 500;
            margin-bottom: 30px;
            max-width: 220px;
        }

        &__btn {
            &_call {
                padding: 8px 11px;
            }

            &_price {
                padding: 8px 11px;
            }
        }
    }
}

@media screen and (max-width: 359px) {
    .blogers {
        .particle {
            &_1 {
                top: 272px;
            }
            &_2 {
                top: 488px;
            }
        }

        &__btns {
            flex-direction: column;
            align-items: flex-start;
        }

        &__img {
            flex-basis: 50%;
        }

        &__btn {
            &_call {
                margin-right: 0;
                padding: 8px 13px;
                margin-bottom: 8px;
            }
        }
    }
}