*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Acrom', sans-serif;
    scrollbar-width: thin;
}

body {
    background-color: #5A1F55;
}

::placeholder {
    opacity: 1;
}

::-webkit-scrollbar {
	display: block;
	width: 8px;
	background: #451C42;
}

::-webkit-scrollbar-thumb {
	background: #957A93;
}

::-webkit-scrollbar-thumb:hover {
	background: #7A6279;
}

::-webkit-scrollbar-thumb:active {
	background: #5E4B5D;
}

a, button, img {
    user-select: none;
}

img {
    pointer-events: none;
}

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    max-width: 1125px;
}