*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Acrom', sans-serif;
    scrollbar-width: thin;
    outline: none;
}

body {
    background-color: #5A1F55;
}

::placeholder {
    opacity: 1;
    color: #fff;
}

input::-webkit-input-placeholder {
    opacity: 1;
    color: #fff;
}

::-webkit-scrollbar {
	display: block;
	width: 8px;
	background: #451C42;
}

::-webkit-scrollbar-thumb {
	background: #957A93;
}

::-webkit-scrollbar-thumb:hover {
	background: #7A6279;
}

::-webkit-scrollbar-thumb:active {
	background: #5E4B5D;
}

a, button, img {
    user-select: none;
}

img {
    pointer-events: none;
}

.open {
    visibility: visible !important;
    opacity: 1 !important;
}

.page-loaded {
    display: block !important;
}

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    max-width: 1125px;
}

.content-loaded {
    visibility: collapse;
    opacity: 0;
}

.preloader {
    background-color: #1B1B1B;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;

    & img {
        width: 100px;
    }
}