.know {
    background-color: #0E0E0E;
    padding-top: 46px;
    padding-bottom: 90px;
    position: relative;
    z-index: 0;

    &:after {
        content: '';
        z-index: -1;
        position: absolute;
        bottom: 110px;
        right: 0;
        width: 108px;
        height: 210px;
        background-repeat: no-repeat;
        background-image: url('../imgs/particle3.svg');
    }

    &:before {
        content: '';
        z-index: -1;
        position: absolute;
        left: 110px;
        bottom: 40px;
        width: 193px;
        height: 176px;
        background-repeat: no-repeat;
        background-image: url('../imgs/particle1.svg');
    }

    &__title {
        text-align: center;
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        margin-bottom: 50px;
    }

    &__items {
        display: flex;
        flex-direction: column;

        &_part {
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: 0 auto;

            &:first-child {
                margin-bottom: 24px;
            }
        }
    }

    &__item {
        background-color: #4B2A7B;
        box-shadow: 0px 10px 10px rgba(70, 43, 118, 0.1);
        border-radius: 4px;
        flex-basis: 48%;
        display: flex;
        padding: 11px 20px;
        align-items: center;

        & img {
            min-width: 50px;
            width: 100%;
            max-width: 50px;
            height: 50px;
            margin-right: 16px;
        }
    }

    &__desc {
        line-height: 19px;
        font-size: 16px;
        max-width: 365px;
    }
}

@media screen and (max-width: 1100px) {
    .know {
        &__items {
            &_part {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .know {
        &__item {
            flex-direction: column;
            align-items: flex-start;

            & img {
                margin-right: 0;
                margin-bottom: 14px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .know {

        &:after {
            top: 60px;
            right: 0;
            width: 55px;
            height: 110px;
            background-size: cover;
            opacity: .7;

        }
    
        &:before {
            left: 110px;
            bottom: 40px;
        }


        &__items_part {
            &:first-child {
                margin-bottom: 16px;
            }
        }

        &__title {
            font-size: 26px;
            line-height: 31px;
        }

        &__desc {
            font-size: 13px;
            line-height: 16px;
        }

        &__item {
            padding: 10px;
            padding-top: 15px;

            & img {
                max-width: 30px;
                min-width: 30px;
                height: 30px;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .know {
        &__items_part {
            flex-direction: column;
        }

        &__item {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}