.popup {
    display: none;
    background-color: rgba(0,0,0,.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9999;
    height: 100vh;
    opacity: 0;
    visibility: collapse;
    transition: all .2s ease;

    &__inner {
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        background-color: #4B2A7B;
        border-radius: 4px;
        padding: 0 45px;
        display: flex;
        flex-direction: column;
        top: 50%;
        font-family: 'Roboto';
        padding-bottom: 100px;
        align-items: center;

    }

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & img {
        transition: opacity .2s ease;
        position: absolute;
        right: 13px;
        top: 7px;
        pointer-events: initial;

        &:hover {
            cursor: pointer;
            opacity: .8;
        }
    }

    & h4 {
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        max-width: 450px;
        color: #fff;
        text-transform: uppercase;
        margin-top: 91px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        align-items: center;

        & p {
            font-size: 12px;
            line-height: 14px;
            color: #fff;
            font-style: italic;
            margin-top: 20px;
            max-width: 333px;
            padding-left: 20px;
            margin-bottom: 40px;
        }

        & input {
            border-radius: 50px;
            background-color: transparent;
            border: 1px solid #fff;
            padding: 18px 26px;
            max-width: 333px;
            font-family: inherit;
            color: #fff;
            font-size: 18px;
            line-height: 21px;
            width: 100%;

            &:first-child {
                margin-bottom: 19px;
            }
        }

        & button {
            background-color: #fff;
            color: #000;
            padding: 17px 20px;
            max-width: 333px;
            width: 100%;
            box-shadow: none;
            border: 1px solid #fff;
            border-radius: 70px;
            font-weight: bold;
            font-family: inherit;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 19px;
            transition: background .3s ease, color .3s ease;

            &:hover {
                cursor: pointer;
                color: #fff;
                background-color: transparent;
            }
        }
    }
}


@media screen and (max-width: 950px) {
    .popup {
        & h4 {
            font-size: 20px;
            line-height: 24px;
            margin-top: 60px;
        }

        & img {
            max-width: 34px;
        }

        &__inner {
            padding-bottom: 60px;
            width: 58%;
        }
    }
}

@media screen and (max-width: 700px) {
    .popup {
        &__inner {
            width: 68%;
        }
    }
}

@media screen and (max-width: 550px) {
    .popup {
        &__inner {
            width: 90%;
        }
    }
}

@media screen and (max-width: 550px) {
    .popup {
       &__inner {
           padding-left: 15px;
           padding-right: 15px;
       }

       & h4 {
           font-size: 18px;
           line-height: 22px;
       }
    }
}