.privacy {
    display: none;
    background-color: #fff;
    font-family: 'Acrom';
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    transition: all .2s ease;
    visibility: collapse;

    &__inner {
        position: relative;
    }

    &__title {
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        text-transform: uppercase;
        color: #4B2A7B;
        padding-top: 40px;
        padding-bottom: 28px;
        text-align: center;
    }

    & img {
        position: absolute;
        right: 23px;
        top: 13px;
        pointer-events: initial;
        transition: opacity .2s ease;

        &:hover {
            cursor: pointer;
            opacity: .8;
        }
    }

    & p {
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.8);
        padding-bottom: 30px;
        overflow-y: auto;
        max-height: calc(100vh - 150px);

        & span {
            color: #4B2A7B;
            font-weight: 700;
        }
    }
}

@media screen and (max-width: 1000px) {
    .privacy {
        & img {
            width: 34px;
            top: 7px;
            right: 13px;
        }
    }
}

@media screen and (max-width: 550px) {
    .privacy {
        &__title {
            font-size: 21px;
            line-height: 24px;
            padding-top: 55px;
        }

        & p {
            font-size: 14px;
            line-height: 17px;
        }
    }
}