.article {
	&__header {
		min-height: auto;
		height: 480px;

		&_body {
			margin-top: 100px;
		}

		&_info {
			display: flex;
			margin-bottom: 50px;
			justify-content: space-between;
		}
		&_title {
			text-align: center;
			margin: 0 auto;
		}
	}

	&__bg {
        height: 550px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 45px;
		background-size: cover;
	}

	&__content {
		color: $gray;
		font-size: 18px;
		padding-bottom: 100px;

		& figure {
			display: flex;
			justify-content: center;
		}
	}
}

.readmore {
	position: relative;
	padding-top: 150px;
	background-image: url("../imgs/pinkbgMore.svg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 60px;

	&__inner,
	& .yarpp-related {
		display: flex;
		margin-top: 90px;
		justify-content: space-between;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-basis: 32%;

		&:hover {
			& .readmore__subtitle {
				color: $darkblue;
			}
		}

		& img {
			width: 100%;
			max-width: 360px;
			height: max-content;
		}
	}

	&__subtitle {
		font-size: 24px;
		text-align: center;
		transition: color 0.3s ease;
		margin-top: 25px;
		font-weight: 400;
	}
}

@media screen and (max-width: 1140px) {
	.readmore {
		&__item {
			flex-basis: auto;
			& img {
				max-width: none;
			}
		}
		&__title {
			padding: 0 15px;
		}
    }
    
    .article__bg {
        height: 50vw;
    }
}

@media screen and (max-width: 950px) {
	.readmore {
		&__inner,
		& .yarpp-related {
			margin-top: 50px;
		}
		&__subtitle {
			font-size: 22px;
		}
	}
}

@media screen and (max-width: 700px) {
	.readmore {
		padding-top: 110px;
		&__subtitle {
			font-size: 18px;
		}
	}
}

@media screen and (max-width: 550px) {
	.readmore {
		&__subtitle {
			font-size: 14px;
		}
	}
}

@media screen and (max-width: 415px) {
	.article {
		&__content {
			font-size: 16px;
		}
	}
}
