.blog {
	&__header {
		background-image: url("../imgs/blog_bg.jpg");
		background-repeat: no-repeat;
		background-position: center;
        background-color: #fff;
        height: 100vh;
        background-size: cover;
    }
    
    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

	&__inner {
		text-align: center;
		display: flex;
        justify-content: center;
        margin-bottom: 13%;
        align-items: unset;
	}

	&__title {
		max-width: 652px;
		font-size: 48px;
		font-weight: 900;
		font-family: "Gotham", sans-serif;
		color: $gray;
	}
}

.post {
    &:nth-child(2n) {
        background-color: #F8F8F8;
    }
    padding: 60px 0;

    &__inner {
        display: flex;

        &:hover {
            & .post__title {
                color: $darkblue;
            }
        }

        & img {
            width: 100%;
            max-width: 360px;
            max-height: max-content;
        }
    }

    &__item {
        &_info {
            margin-left: 90px;
            display: flex;
            color: $gray;
            flex-direction: column;
        }
    }
    &__title {
        margin: auto 0;
        font-size: 32px;
        font-weight: 400;
        transition: color .3s ease;
    }
    &__date {
        font-size: 18px;
        margin-bottom: 10px;
    }
    &__tag {
        font-size: 18px;
    }
}


@media screen and (max-width: 900px) {
    .post {
        padding: 45px 0;
        &__item {
            &_info {
                margin-left: 40px;
                flex-basis: 100%;
            }
        }
        &__title {
            padding-top: 15px;
            font-size: 26px;
        }
    }
}

@media screen and (max-width: 600px) {
    .blog {
        &__title {
            font-size: 32px;
            max-width: 400px;
        }
   
    }
    .post {
        &__inner {
            align-content: center;
            flex-direction: column;

            & img {
                margin: 0 auto;
            }
        }
        &__item_info {
            margin-top: 25px;
            margin-left: 0;
            text-align: center;
            align-content: center;
        }
        &__title {
            font-size: 22px;
        }
    }
}

@media screen and (max-width: 500px) {
    .post {
        padding: 30px 0;

        &__title {
            font-size: 20px;
        }
        &__tag {
            font-size: 16px;
        }
        &__desc {
            font-size: 16px;
        }
    }
}


@media screen and (max-width: 375px) {
    .blog {
        &__title {
            font-size: 24px;
            max-width: 300px;
        }
   
    }
}