.drug {
	position: relative;
	padding-top: 150px;

	&.pregnancy {
		padding-top: 50px;
		padding-bottom: 200px;
	}

	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;

		&_img {
			position: absolute;
			right: -150px;
			bottom: 0;
			opacity: 0.7;
		}

		&.blue_sm {
			top: 1300px;
		}
	}

	&__item {
		margin-top: 130px;
		display: flex;

		&_info {
			margin-left: auto;
			display: flex;
			flex-direction: column;
			flex-basis: 50%;
		}

		&_block {
			display: flex;
			flex-direction: column;
			flex-basis: 50%;

			&:last-child {
				margin-left: 50px;
				flex-wrap: wrap;

				&.menstruation {
					margin-left: 0;
					display: flex !important;
				}
				&.pregnancy {
					flex-basis: 100%;
				}
			}
		}
	}

	&__block {
		&_wrapper {
			display: flex;
			margin-top: 80px;
		}
		&_item {
			display: flex;
			flex-direction: column;
			text-align: center;
			align-items: center;
			margin-bottom: 15px;

			& span {
				color: $gray;
				font-size: 12px;
				margin-top: 10px;
			}

			&:last-child {
				margin-left: 15px;
			}

			&:nth-child(2) {
				margin-left: 15px;
			}
		}
	}

	&__btn {
		margin: 60px 0;
		max-width: 170px;
	}

	&__tabs {
		font-size: $fz-regular;
		color: $gray;
	}

	&__title {
		color: #717171;
		font-size: 48px;
		font-weight: 900;
		font-family: "Gotham", sans-serif;

		&_hidden {
			display: none;
		}
	}

	&__help {
		display: flex;
		margin-top: 100px;
		justify-content: space-between;

		&_item {
			display: flex;
			flex-direction: column;
			color: $gray;
			flex-basis: 32%;

			& img {
				max-height: 99px;
			}
		}

		&_wrap {
			display: flex;
			flex-direction: column;
		}

		&_title {
			font-weight: 700;
			margin-top: 70px;
			font-size: 24px;
			margin-bottom: 30px;
		}

		&_desc {
			font-size: $fz-regular;

			&.pregnancy {
				list-style-position: inside;
			}
		}
	}
}

.flex {
	flex-direction: row;
	display: flex;
}

@media screen and (max-width: 950px) {
	.drug {
		margin-top: 45px;
		padding-top: 90px;

		&__bg {
			&.blue_sm {
				top: 1450px;
			}

			&_img {
				display: none;
			}
		}
		&__item {
			margin-top: 60px;

			&:first-child {
				margin-top: 45px;
			}

			&:last-child {
				margin-top: 100px;
			}

			&_block {
				flex-basis: 100%;

				&:last-child {
					display: none;
				}
			}
		}

		&__block {
			&_wrapper {
				margin-top: 45px;
			}
		}

		&__btn {
			margin: 25px 0;
		}

		&__help {
			margin-top: 45px;
		}

		&__title {
			font-size: 42px;
		}
	}
}

@media screen and (max-width: 900px) {
	.drug {
		&__img {
			max-width: 300px;
		}
		&__item {
			&_info.pregnancy {
				margin-left: 45px;
			}
		}
	}
}

@media screen and (max-width: 850px) {
	.drug {
		&__title {
			font-size: 32px;
		}
		&__bg.blue_sm {
			top: 1270px;
		}
		&__bg {
			width: auto;
		}
		&__help {
			&_title {
				font-size: 18px;
				margin-top: 45px;
			}
			&_desc {
				font-size: 14px;
			}
		}
	}
}

@media screen and (max-width: 650px) {
	.drug {
		&__item {
			&_info {
				margin-left: 20px;
			}
		}
		&__bg {
			&.blue_sm {
				top: 1450px;
				width: 100% !important;
			}
		}
		&__help {
			flex-wrap: wrap;
			justify-content: space-around;

			&_item {
				flex-basis: 48%;

				&:last-child {
					margin-top: 45px;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.drug {
		&__item.menstruation {
			flex-direction: column;

			& img {
				width: 100%;
			}

			&_info {
				margin-left: 0;
			}

			& .drug__title {
				display: none;

				&_hidden {
					display: block;
					margin-bottom: 30px;
				}
			}
		}

		&__img {
			max-width: 240px;
		}

		&__block_wrapper {
			margin-top: 0;
		}

		&__item {
			&_info.pregnancy {
				margin-left: 25px;
				& span {
					font-size: 16px;
				}
			}
		}
	}
}

@media screen and (max-width: 550px) {
	.drug {
		padding-top: 30px;

		&__bg.blue_sm {
			top: 1250px;
		}

		&__help {
			flex-wrap: wrap;
			justify-content: flex-start;

			&_wrap {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-bottom: 30px;

				& img {
					margin-right: 25px;
				}
			}

			&_title {
				margin-top: 0;
				font-size: 16px;
				margin-bottom: 0;
			}

			&_item {
				flex-basis: 100%;
				margin-bottom: 45px;

				&:last-child {
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.drug {
		&__bg.blue_sm {
			top: 1600px;
		}

		&__item {
			flex-direction: column;

			& img {
				width: 100%;
			}

			&_info {
				margin-left: 0;
			}
		}

		&__item.climax, &__item.pregnancy {
			& .drug__title {
				display: none;

				&_hidden {
					display: block;
					margin-bottom: 30px;
				}
			}
		}

		&__item {
			&_info.pregnancy {
				margin-left: 0;
				margin-top: 30px;
			}
		}
		&__img {
			max-width: none;
			width: 100%;
		}
	}
}

@media screen and (max-width: 415px) {
	.drug {
		&__help {
			&_title {
				font-size: 14px;
			}
		}
	}
}
