@font-face {
	font-family: "Gotham";
	src: url("../fonts/Gotham-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gotham";
	src: url("../fonts/Gotham-Thin.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
