.footer {
    background-color: #919191;
    &__inner {
        padding: 35px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;

        & p {
            max-width: 560px;
            font-size: 18px;
        }
    }

    &__dev {
        display: flex;
        flex-direction: column;

        & span {
            font-size: 14px;
            margin-bottom: 5px;
        }
    }
}

@media screen and (max-width: 1040px) {
    .footer {
        &__inner {
            flex-wrap: wrap;

            & p {
                order: -1;
                flex-basis: 100%;
                max-width: none;
                margin-bottom: 35px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .footer {
        & p {
            font-size: 14px;
            margin-bottom: 30px;
        }
        &__dev {
            & span {
                font-size: 10px;
                margin-bottom: 3px;
            }
            & img {
                max-width: 120px;
            }
        }
        &__logo {
            margin-top: 10px;
            max-width: 120px;
        }
    }
}