$gray: #4f4f4f;
$blue: #9ef2ff;
$darkblue: #53C9DA;
$fz-regular: 18px;

*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	overflow-x: hidden;
	outline: none;
	background: #fff;
	font-size: 16px;
}

img,
a,
button {
	user-select: none;
	text-decoration: none;
	color: $gray;
}

img {
	pointer-events: none;
}

body {
	font-family: "Roboto", sans-serif;
	overflow-x: hidden;
}

.lazyload,
.lazyloading {
	opacity: 0;
	transition: opacity 0.3s ease;
	min-height: 250px !important;
}

.lazyloaded {
	transition: opacity 0.3s ease;
	opacity: 1;
}

.container {
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 15px;
}

[x-cloak] {
	display: none !important;
}

.btn {
	background-color: $blue;
	padding: 10px 48px;
	font-family: inherit;
	color: $gray;
	font-size: $fz-regular;
	border: 3px solid $blue;
	border-radius: 60px;
	transition: background 0.3s ease;

	&:hover {
		cursor: pointer;
		background-color: #fff;
	}
}

.relative {
	position: relative;
}

.link {
    text-decoration: underline;
    color: $darkblue;
    font-size: $fz-regular;

    &:hover {
        text-decoration: none;
    }
}

.title-thin {
    color: $gray;
    max-width: 860px;
	font-weight: 400;
    font-family: "Gotham", sans-serif;
    font-size: 48px;
}

@media screen and (max-width: 950px) {
	.title-thin {
		font-size: 36px;
	}
}

@media screen and (max-width: 650px) {
	.link {
		font-size: 14px;
	}
}


@media screen and (max-width: 500px) {
	.title-thin {
		font-size: 24px;
	}
	.link {
		font-size: 12px;
	}
}