.grass {
    padding-top: 150px;
    position: relative;
    padding-bottom: 100px;

    &__inner {
        display: flex;
        max-width: 1040px;
        margin: 0 auto;
        margin-top: 50px;
        justify-content: center;
        position: relative;
    }

    &__desc {
        position: absolute;
        max-width: 283px;
        color: $gray;
        font-size: $fz-regular;
        padding-bottom: 10px;

        &:nth-child(2) {
            left: 0;
            top: 30px;
            
            &:after {
                position: absolute;
                left: 0;
                top: 45px;
                content: url('../imgs/leftUnderline.svg');
            }

            &.menstruation {

                &:after {
                    top: 133px;
                }
            }
        }

        &:nth-child(3) {
            right: 0;
            top: 30px;

            &:after {
                position: absolute;
                right: 0;
                top: 65px;
                content: url('../imgs/rightUnderline.svg');
            }

            &.menstruation {

                &:after {
                    top: 155px;
                }
            }
        }

        &:nth-child(4) {
            left: 0;
            bottom: 0;

            &:after {
                transform: scaleY(-1);
                position: absolute;
                bottom: -20px;
                left: 0;
                content: url('../imgs/leftUnderline.svg');
            }

            &.menstruation {
                bottom: 55px;

                &:after {
                    bottom: -15px;
                    transform: scaleY(1) rotate(180deg);
                    content: url('../imgs/rightUnderline.svg');
                }
            }
        }

        &:nth-child(5) {
            right: 0;
            bottom: 0;

            &:after {
                transform: scaleY(-1);
                right: 0;
                bottom: -20px;
                position: absolute;
                content: url('../imgs/rightUnderline.svg');
            }

            &.menstruation {
                bottom: 55px;

                &:after {
                    bottom: -15px;
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .grass {
        padding-bottom: 0;
        &__bg {
            margin-left: 35px;
            max-width: 380px;
        }
        &__desc {
            font-size: 16px;
            &:after {
                content: none !important;
            }
        }
    }
}

@media screen and (max-width: 790px) {
    .grass {
        padding-top: 120px;

        &__inner {
            flex-direction: column;
        }
        &__bg {
            position: absolute;
            right: -40px;
            margin-left: 0;
        }
        &__desc {
            position: initial;
            z-index: 10;
            padding-bottom: 30px;
        }
    }
}

@media screen and (max-width: 650px) {
    .grass {
        &__bg {
            width: 100%;
            opacity: .6;
            right: -70px;
            bottom: 30px;
        }
    }
}

@media screen and (max-width: 500px) {
    .grass {
        &__desc {
            font-size: 14px;
        }
    }
}