.news {
	background-color: #f1f1f1;
	padding: 75px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		flex-basis: 29%;

		&:hover {
			& .news__subtitle {
				color: $darkblue;
			}
		}

		& img {
			max-width: 360px;
			width: 100%;
		}

		&:last-child {
			flex-basis: 40%;

			& img {
				max-width: 500px;
			}
		}
	}

	&__date {
		font-size: $fz-regular;
		margin-top: 10px;
		margin-bottom: 15px;
	}
	&__tag {
		font-size: $fz-regular;
		margin-bottom: 10px;
	}
	&__subtitle {
		font-size: 22px;
		font-weight: 400;
		transition: color 0.3s ease;
	}

	&__title {
        font-family: "Gotham", sans-serif;
        font-weight: 400;
		font-size: 44px;
		margin-bottom: -90px;
	}
}


@media screen and (max-width: 1140px) {
	.news {
		&__tag {
			font-weight: 700;
		}
		&__subtitle {
			font-size: 20px;
		}

		&__item {
			flex-basis: auto;

			& img {
				max-width: none;
			}

			&:last-child {
				flex-basis: auto;

				& img {
					max-width: none;
				}
			}
		}

		&__title {
			margin-bottom: 30px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.alt-container {
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (max-width: 950px) {
	.news__title {
		font-size: 36px;
	}
	.news {
		position: relative;
	}
}

@media screen and (max-width: 600px) {
	.news {
		padding: 35px 0;

		&__subtitle {
			font-size: 16px;
		}
		&__date {
			font-size: 12px;
		}
		&__tag {
			margin-bottom: 5px;
			font-size: 14px;
		}
	}
}

@media screen and (max-width: 500px) {
	.news__title {
		font-size: 24px;
	}
}

@media screen and (max-width: 415px) {
	.news {
		&__subtitle {
			font-size: 12px;
		}
		&__date {
			font-size: 10px;
		}
		&__tag {
			font-size: 12px;
		}
	}
}