.page13 {
    &__section {
        position: relative;
        z-index: 10;
    }

    &__bg {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        background-position: 0% 100% !important;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__wrapper {
        z-index: 10;
        position: relative;
    }
    &__title {
        position: relative;
        &:after {
            position: absolute;
            content: '';
            bottom: -20px;
            left: 0;
            width: 230px;
            height: 8px;
            background: grey;
        }
    }
    &__info {
        font-size: 24px;
        width: 55%;
        margin-left: auto;
        font-weight: 300;
        padding-top: 60px;
        padding-right: 30px;
        counter-reset: section;  
        & p {
            position: relative;
            &:after {
                position: absolute;
                left: -60px;
                font-size: 70px;
                font-weight: 400;
                opacity: .4;
                top: -8px;
                line-height: 1;
                counter-increment: section;
                content: counter(section);
            }
        }
    }
}

@media screen and (max-width: 1800px) {
    .page13 {
        &__info {
            font-size: 22px;
        }
    }
}


@media screen and (max-width: 1800px) {
    .page13 {
        &__info {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 1368px) {
    .page13 {
        &__title {
            font-size: 32px;
        }
        &__info {
            & p {
                font-size: 19px;
                &:after {
                    font-size: 40px;
                    left: -45px;
                    top: 0;
                }
            }
         
        }
    }
}


@media screen and (max-height: 899px) {
    .page13 {
        &__info {
            font-size: 20px;
        }
    }
}

@media screen and (max-height: 760px) {
    .page13 {
        &__info {
                font-size: 16px;    
                & p {
                    font-size: 18px;
                }
        }
    }
}

@media screen and (max-width: 1100px) {
    .page13 {
        &__bg {
            display: none;
        }
        &__info {
            padding-top: 0;
            width: auto;
            margin-left: 45px;
            padding-right: 0;
        }
        &__section {
            margin-bottom: 60px;
        }
    }
}

@media screen and (max-width: 650px) {
    .page13 {
        &__title {
            font-size: 26px;
        }
    }
}

@media screen and (max-width: 500px) {
    .page13 {
        &__title {
            font-size: 22px;
        }
    }
}