.page6 {
    &__section {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 50%;
            height: 83%;
            z-index: 0;
            background: linear-gradient(to bottom right, #848788, #f1f1f1, #f1f1f1);
        }
        &:before {
            left: 0;
            content: '';
            position: absolute;
            bottom: 0;
            background: url('../imgs/rsz_p6_lines.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 90%;
            height: 78%;
            z-index: 10;
        }
    }
    &__wrapper {
        height: inherit;
        display: flex;
        align-items: center;

    }
    &__bg {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 80%;
    }
    &__desc {
        font-weight: 700;
        font-size: 30px;
        color: #fff;
        padding-left: 315px;
        max-width: 400px;
        box-sizing: content-box;
        
    }

    &__inner {
        width: 45%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 250px;
        background: linear-gradient(to right, #486DB2, #69C6A1);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 40px;
        padding-right: 150px;
        padding-bottom: 40px;
        position: relative;
        z-index: 10;
        & img {
            max-width: 450px;
            position: absolute;
            left: -160px;
            bottom: -30px;
        }
    }
}

@media screen and (max-width: 1600px) {
    .page6 {
        &__inner {
            padding-right: 50px;
            width: 60%;
        }
        &__section {
            &:after {
                width: 65%;
            }
            &:before {
                height: 74%;

            }
        }
    }
}

@media screen and (max-width: 1300px) {
 
}

@media screen and (max-height: 700px) {
    .page6 {
        &__inner {
            margin-bottom: 175px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .page6 {
        &__inner {
            padding-right: 40px;
            padding-left: 40px;
            margin-top: 0;
            width: 90%;
            margin-bottom: 0;
            & img {
                position: initial;
                margin-right: 30px;
                max-width: 250px;
            }
        }
        &__desc {
            padding-left: 0;
            max-width: none;
        }
        &__wrapper {
            padding-top: 80px;
            padding-bottom: 80px;
        }
        &__section {
            margin-bottom: 80px !important;
            &:after {
                width: 100%;
                bottom: 10px;
            }
        }
    }
    .page6__section::before {
        content: none;
    }
    .page6__section::after {
        height: 82%;
    }
}

@media screen and (max-width: 800px) {
    .page6 {
        &__inner {
            width: 100%;
            flex-direction: column;
            & img {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
    }
}



@media screen and (max-width: 720px) {
    .page6 {
        &__inner {
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 25px;
            padding-bottom: 25px;
        }
        &__desc {
            font-size: 28px;
        }
    }
}

@media screen and (max-width: 600px) {
    .page6__section::after {
        bottom: 20px;
    }
}

@media screen and (max-width: 520px) {
    .page6 {
        &__desc {
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 400px) {
    .page6 {
        &__desc {
            font-size: 20px;
        }
    }
    .page6__section::after {
        height: 84%;
    }
}

