.page3 {
    &__cards {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        justify-content: space-between;
    }

    &__img {
        width: 100%;
        display: flex;
        max-height: 110px;
        min-height: 110px;
        height: 100%;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        flex-basis: 28%;
        align-items: center;

        &:nth-child(4) .page3__img {
            margin-bottom: 30px;
        }

        &:nth-child(5) .page3__img {
            margin-bottom: 30px;
        }

        &:nth-child(6) .page3__img {
            margin-bottom: 30px;
        }

        & img {
            min-height: auto;
        }
    }

    &__desc {
        align-self: center;
        text-align: center;
        font-size: 24px;
        font-weight: 300;

        & span {
            font-weight: 400;
        }
    }

    &__wrapper {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: 0px;
            right: 120px;
            width: 330px;
            height: 180px;
            background: linear-gradient(to bottom, #486DB2, #69C6A1);
        }
    }

}

@media screen and (max-height: 920px) {
    .page3 {
        &__wrapper {
            &:after {
                height: 60px;
            }
        }
    }
}

@media screen and (max-width: 1550px) {
    .section__title {
        font-size: 32px;
    }

    .page3 {
        &__desc {
            font-size: 20px;
        }

        &__img {
            margin-top: 40px;
            margin-bottom: 20px !important;
        }
    }
}

@media screen and (max-height: 700px) {
    .page3 {
        &__desc {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .section__wrapper {
        padding-top: 0;
    }

    .section__title {
        font-size: 30px;
    }

    .page3 {
        &__wrapper {
            padding-bottom: 0;
            &:after {
                content: none;
            }
        }

        &__desc {
            font-size: 18px;
            width: 100%;
        }
    }
}

@media screen and (max-width: 850px) {
    .page3 {
        &__card {
            text-align: center;
            flex-basis: 46%;
        }
    }
}

@media screen and (max-width: 550px) {
    .page3 {
        &__desc {
            width: 100%;
        }

        &__card {
            flex-basis: 100%;
        }
    }

    .section__title {
        font-size: 22px;
    }
}