.page5 {
	&__section {
		position: relative;

		&:after {
			z-index: 100;
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 500px;
			height: 75px;
			background: linear-gradient(to right, #486db2, #69c6a1);
		}
	}

	&__wrapper {
		border: 1px solid #69c6a1;
		border-left: 0;
		width: 100%;
		height: 100%;
		max-height: 600px;
		display: flex;
		margin-top: 100px;
		position: relative;
		justify-content: space-between;
		z-index: 10;
		padding-top: 50px;
		margin-left: -75px;
		padding-left: 75px;
	}

	&__info {
		flex-basis: 32%;

		& img {
			max-width: 320px;
		}
	}

	&__desc {
		font-weight: 300;
		font-size: 36px;
		margin-top: 50px;
		line-height: 1.2;
	}

	&__img {
		height: 100%;
		display: flex;
		max-width: 1100px;
		flex-basis: 68%;
		position: relative;

		& img {
			position: absolute;
			top: -115px;
			width: 100%;
			right: -75px;
			height: 110%;
		}
	}
}

@media screen and (max-width: 1800px) {
	.page5 {
		&__info img {
			max-width: 260px;
		}
	}
}

@media screen and (max-width: 1368px) {
	.page5 {
		&__wrapper {
			max-height: 570px;
		}
	}

	.page5__img img {
		height: 100%;
	}
}

@media screen and (max-width: 1368px) {
	.page5 {
		&__info {
			padding-top: 30px;
			margin-right: 30px;
		}

		&__wrapper {
			padding-top: 0;
			margin-top: 60px;
			height: max-content;
		}

		&__desc {
			font-size: 22px;
			padding-bottom: 15px;
		}

		&__img {
			max-height: 500px;
		}

		&__img img {
			height: auto;
			position: initial;
		}
	}
}

@media screen and (max-height: 700px) {
	.page5 {
		&__img {
			justify-content: flex-end;
			& img {
				max-width: 650px;
			}
		}
	}
}

@media screen and (max-width: 1100px) {
	.page5 {
		&__section {
			&:after {
				content: none;
			}
		}
		&__wrapper {
			width: auto;
			margin-top: 20px !important;
			margin-bottom: 50px;
			margin-left: 0;
			border: 0;
			padding: 0 !important;
		}
		&__desc {
			margin-top: 30px;
			padding-left: 15px;
			padding-bottom: 0 !important;
			border-left: 3px solid #69c6a1;
		}
		&__info {
			margin-left: 0 !important;
		}
		&__img img {
			max-width: none;
		}
	}
}

@media screen and (max-width: 790px) {
	.page5 {
		&__wrapper {
			flex-direction: column-reverse;
			margin-left: auto;
			padding-left: 0;
			max-height: none;
			margin-top: 40px;
			width: auto;
		}

		&__info {
			margin-right: 0 !important;
			width: 100% !important;
			margin-left: 0 !important;
		}
	}
}

@media screen and (max-width: 790px) and (orientation: landscape) {
	.page5 {
		&__info {
			display: flex;
			flex-direction: column;
			align-items: center;
			& img {
				margin-left: 0 !important;
				max-width: 280px !important;
				margin-right: 0 !important;
			}
		}
	}
}

@media screen and (max-width: 850px) {
	.page5 {
		&__desc {
			margin-top: 20px;
		}

		&__info {
			width: 85%;
		}
	}
}

@media screen and (max-width: 520px) {
	.page5 {
		&__desc {
			padding-bottom: 0;
			margin-top: 20px;
			font-size: 24px !important;
		}

		&__info {
			margin-right: 0;
			width: 100%;

			& img {
				max-width: 250px;
			}
		}
	}
}

@media screen and (max-height: 899px) {
	.page5 {
		&__info {
			padding-top: 30px;
			margin-right: 40px;
			margin-left: 30px;
		}

		&__wrapper {
			padding-top: 0;
			margin-top: 40px;
			height: max-content;
		}

		&__desc {
			font-size: 22px;
			padding-bottom: 15px;
		}

		&__img {
			max-height: 500px;
		}

		&__img img {
			height: auto;
			position: initial;
		}
	}
}
