.page2 {

    &__cards {
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 1000px;
        margin: 0 auto;
        margin-top: 25px;
        width: 100%;
    }

    &__img {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
        margin-top: auto;
        & img {
            margin-top: auto;
            width: 100%;
            max-width: 1000px;
        }
    }

    &__title {
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1100px;
        font-weight: 400;
        background-color: transparent;
    }

    &__container {
        border: 1px solid #50AC9C;
        display: flex;
        flex-direction: column;
    }

    &__card {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;

        & p {
            font-size: 24px;
            text-align: center;
            margin-top: 20px;
        }
    }
}

.page2__section .pp-tableCell {
    padding-top: 50px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    width: 100%;
    background-position: 50% bottom;
    background-size: contain;
    background-image: url('../imgs/page2.jpg');
}

@media screen and (max-width: 1800px) {
    .page2 {
        &__title {
            font-size: 28px;
        }
        &__cards {
            margin-top: 50px;
        }
        &__card p {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 1366px) {
    .page2 {
        &__img {
            margin-top: 15px;
        }
        &__img img {
            width: auto;
        }
    }
    .page2__section .pp-tableCell {
        padding-top: 40px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 1200px) {
    .page2 {
        &__cards {
            width: 90%;
        }
    }
}

@media screen and (max-width: 1100px) {
    .page2 {
        &__img {
            margin-top: 25px;
            width: 100%;
            & img {
                width: inherit;
            }
        }
        &__section {
            padding-top: 35px;
            margin-bottom: 60px;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../imgs/page2.jpg');
            padding-bottom: 35px;
            background-position: bottom;
        }
        &__cards {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__card p {
            color: #fff;
 
            text-shadow: 1px 1px 5px #303030;
        }
        &__container {
            border: 0;
        }
        &__title {
           padding: 0;
           margin: 0;
        }
        .page2__section .pp-tableCell {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}

@media screen and (max-width: 767px) {
    .page2 {
        &__title {
            font-size: 26px;
        }
        &__card {
            & p {
                font-size: 18px;
                margin-top: 10px;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .page2 {
        &__title {
            font-size: 22px;
        }
        &__cards {
            justify-content: center;
        }
        &__card {
            flex-basis: 50%;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}