.page9 {
    &__section {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            right: 30%;
            top: 0;
            width: 200px;
            z-index: 0;
            height: 250px;
            background: linear-gradient(to bottom, #486DB2, #69C6A1);
        }
    }
    &__title {
        position: relative;
        &:after {
            position: absolute;
            content: '';
            bottom: -20px;
            left: 0;
            width: 150px;
            height: 8px;
            background: linear-gradient(to right, #486DB2, #69C6A1);
        }
    }
}

@media screen and (max-width: 1600px) {
    .page9 {
        &__section {
            &:before {
                right: 15%;
                height: 200px;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .page9 {
        &__section {
            &:before {
               content: none;
            }
        }
        &__title {
           margin-bottom: 45px;
        }
        &__wrapper {
            &::after {
                left: -15px !important;
                right: auto !important;
                background: linear-gradient(to top right, #848788, #f1f1f1, #f1f1f1, #fff);
            }
        }
    }
}