.pageRepeat {
	&__bg {
		z-index: 20;
	}
	&__wrapper {
		margin-top: 50px;
	}
}
.pageLast {
	&__wrapper {
		height: calc(100vh - 10%);
	}
}

@media screen and (max-height: 700px) {
	.pageRepeat {
		&__img img {
			max-width: 450px;
		}
		&__last {
			font-size: 22px;
		}
	}
}

@media screen and (max-width: 1600px) {
	.pageRepeat {
		&__img img {
			max-width: 545px;
			height: auto;
		}
		&__desc {
			padding-right: 30px;
		}
		&__info {
			padding-right: 0;
			padding-left: 100px;
		}
		&__last {
			margin-top: -50px;
		}
	}
}

@media screen and (max-width: 1370px) and (max-height: 650px) {
	.pageRepeat {
		&__img img {
			max-width: 490px;
		}
	}
}

@media screen and (max-width: 1300px) {
	.pageRepeat {
		&__desc {
			margin-bottom: 0;
			margin-left: 30px;
		}
		&__info {
			padding-left: 0;
			padding-right: 40px;
		}
	}
}

@media screen and (max-width: 1100px) {
	.pageRepeat {
		&__info {
			padding-left: 30px;
			padding-right: 0;
		}
		&__last {
			margin-top: 0;
			font-size: 20px;
			margin-left: 15px;
		}
		&__desc {
			padding-right: 0;
			margin-left: 0;
		}
		&__wrapper {
			margin-top: 25px;
		}
	}
}

@media screen and (max-width: 1100px) {
	.pageRepeat {
		&__img img {
			max-width: 400px;
		}
		&__last {
			font-size: 24px;
		}
	}
}

@media screen and (max-width: 840px) {
	.pageRepeat {
		&__img img {
			max-width: none;
		}
		&__info {
			padding-left: 0;
		}
	}
}

@media screen and (max-height: 850px) {
	.pageRepeat {
		&__desc {
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 750px) {
	.pageRepeat {
		&__last {
			margin-left: 0;
		}
	}
}