.filters {
	width: 100%;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;

	&__button {
		margin-left: auto;
		background-color: transparent;
		transition: filter .2s ease;
		&:hover {
			cursor: pointer;
			filter: $filter;

		}
	}
}

@media screen and (max-width: 600px) {
	.filters {
		margin-top: 32px;
	}
	.sort {
		&__wrapper {
			min-width: 166px;
		}

		&__current {
			font-size: 14px;
			& span {
				margin-right: 10px;
			}
		}

		&__options {
			margin-top: 30px;
			&_item {
				font-size: 14px;
				& span {
					margin-right: 10px;
				}
			}
		}
	}
}