@import "_general";
@import "_header";
@import "_main-slider";
@import "_sliders";
@import "_about-us";
@import "_footer";
@import "_basket";
@import "_popupAuth";
@import "_mobile-panel";
@import "_categories";
@import "_favorites";
@import "_select";
@import "_filter";
@import "_profile";
@import "_catalog";
@import "_brands";
@import "_news";
